<main id="wrapp" th:fragment="article" xmlns:th="http://www.thymeleaf.org">
    <div class="wrapper">
        <ul class="breadCrumbs">
            <li><a href="/">Главная</a></li>
			<li><a href="/knowledgebase">База знаний</a></li>
            <li>История создания фломастера</li>
        </ul>
        <section class="typicalSection">
            <h1>История создания фломастера</h1>

            
<p style="text-indent: 25px;"> К созданию фломастера имеют отношение предприимчивые египтяне. В гробнице Тутанхамона археологами был обнаружен предмет, напоминающий медный карандаш. В него была вставлена тростинка, пропитанная чернилами, благодаря которой чернила вытекали не сразу, а постепенно. Вероятно, приспособление неплохо подходило для письма на папирусе. Это изобретение можно считать отцом современного фломастера.</p>
<p style="text-indent: 25px;"> В 1942 году в Японии изобретатель Юкио Хори из TokyoStationeryCompany показал миру свой продукт. От древнеегипетского образца его отличало наличие особого наконечника, благодаря которому вытекание чернил стало более равномерным и аккуратным.</p>

<p style="text-indent: 25px;"> В 1960-м году немецкой фирмой Edding, которая занималась производством красок, карандашей и чернил, впервые в Европе был выпущен фломастер. Первый образец получил название всестороннего маркера «Edding N1», в качестве его наконечника был использован прессованный войлочный материал. Уже тогда фломастеры были всех цветов: черные, синие, красные и т.д.</p>
<center><img src="/res/img/knowledgebase/flomaster.jpg"></center>
  <p style="text-indent: 25px;">  17 марта того же года канцелярская компания Pentel из Токио поставила на продажу первые фломастеры. Вслед за ней TokyoStationeryCompany выпустила ручки, имеющие фетровые наконечники, которым было присвоено имя «фломастер».</p>

<p style="text-indent: 25px;"> Предполагается, что это название произошло он английского слова flow – струиться, течь. Но также бытует мнение, что имя цветного канцтовара произошло от бренда Flowmаster, под которым выпускались чернила, часто использовавшиеся в этих приспособлениях.</p>



        </section>
    </div>
</main>