<main id="wrapp" th:fragment="article" xmlns:th="http://www.thymeleaf.org">
    <div class="wrapper">
        <ul class="breadCrumbs">
            <li><a href="/">Главная</a></li>
			<li><a href="/knowledgebase">База знаний</a></li>
            <li>Какие бывают виды ручек?</li>
        </ul>
		
        <section class="typicalSection">
            <h1>Какие бывают виды ручек?</h1>
			<p style="text-indent: 25px;"> Шариковая, гелевая, роллер, перьевая. Что означают эти слова и что нужно именно Вам? </p>
			<p style="text-indent: 25px;">Одна из самых распространённых вещей в обиходе любого человека - самая обычная пишущая ручка. 
			Разнообразные пишущие инструменты всегда сопровождали людей – будь это древнеримские стило или средневековые гусиные перья.
			Каждый день мы так или иначе пользуемся пишущим инструментом и, скорее всего, это обычная ручка с чернилами. Но ручки бывают 
			разные – чем же они отличаются друг от друга?</p>
			<p style="text-indent: 25px;">В общем, все ручки с чернилами делятся на четыре вида – шариковая ручка, гелевая ручка, 
			ручка-роллер и перьевая ручка. </p>
			<p style="text-indent: 25px;"> <b> <u>Шариковая ручка</u></b></p>
			<p style="text-indent: 50px;"> Самая популярная, конечно же, - шариковая ручка. У нас на сайте большинство представленных ручек - 
			именно шариковые. Можете посмотреть их <a href=https://paperki.by/catalog/ruchki-sharikovye> здесь.</a></p>
			<center><img src="/res/img/knowledgebase/ballpoint-pen.jpg"></center> <br>
			<p style="text-indent: 50px;"> Практически во всех европейских языках словосочетание "шариковые ручки" связано со словом «шарик». 
			В такой ручке для письма используется трубочка, заполненная пастообразными чернилами (стержень) с шариковым пишущим узлом на конце 
			трубки. Канал, по которому проходят чернила, на конце перекрыт маленьким металлическим шариком - при письме он катится по поверхности 
			бумаги, с тыльной стороны смачиваясь чернилами, это и есть шариковый пишущий узел. Сами чернила пастообразны, что главным образом 
			и отличает шариковые ручки от других видов ручек.</p>
			<p style="text-indent: 50px;">Шариковая ручка сегодня - самый дешевый, простой и распространённый пишущий инструмент, 
			который служит нам более 128 лет.</p>
			<p style="text-indent: 50px;"><b>Шариковая ручка: </b></p>
			<p style="text-indent: 75px;"> ■ имеет шариковый пишущий узел; </p>
			<p style="text-indent: 75px;"> ■ используются пастообразные чернила; </p>
			<p style="text-indent: 75px;"> ■ самая низкая стоимость. </p>
			
			
			<p style="text-indent: 25px;"> <b> <u>Гелевая ручка</u></b></p>
			<p style="text-indent: 50px;"> <a href=https://paperki.by/catalog/ruchki-gelevye> Гелевая ручка </a>получила свое название 
			благодаря консистенции чернил – на водной основе в виде геля, менее вязкого чем чернильная паста. Конструкция же таких ручек практически
			ни чем не отличается от конструкции шариковых ручек: стержень с чернилами, пишущий узел (наконечник), корпус и колпачок (в обычных моделях). 
			Но как же достигается эффект мягкого и легкого скользящего письма? </p>
			<center><img src="/res/img/knowledgebase/gel-pen.jpg"></center> <br>
			<p style="text-indent: 50px;"> Благодаря особому строению наконечника гелевого стержня. В его пишущем узле шарик находится с внутренней, а не 
			с наружной стороны как у шариковых стержней. При этом он прочно покоится в стальном тонком наконечнике, а значит, линии от гелевой ручки выглядят
			более четкими и ровными (без «борозды», продавленной шариком посередине, которая получается у шариковых ручек). Менее вязкие чернила гелевых ручек
			оставляют более насыщенные, яркие линии. Также за счет меньшей вязкости писать этими ручками легче, с меньшими усилиями и меньше устает рука. </p>
			<p style="text-indent: 50px;"> <b> Гелевая ручка:</b> </p>
			<p style="text-indent: 75px;"> ■ имеет внутренний шариковый пишущий узел;  </p>
			<p style="text-indent: 75px;"> ■ используются гелевые чернила на водной основе; </p>
			<p style="text-indent: 75px;"> ■ легкость письма и богатая палитра цветов.  </p>
			
			<p style="text-indent: 25px;"> <b> <u>Ручка-роллер</u></b></p>
			<p style="text-indent: 50px;"> Третьей по популярности является <a href=https://paperki.by/catalog/ruchki-specialnye> ручка-роллер.</a> 
			В нашем интернет-магазине представлены разные виды ручек-роллеров, посмотреть их Вы можете 
			<a href=https://paperki.by/catalog/ruchki-specialnye> здесь.</a> </p>
			<center><img src="/res/img/knowledgebase/roller-pen.jpg"></center> <br>
			<p style="text-indent: 50px;"> По технологии пишущего узла такая ручка так же является шариковой, за одним большим отличием – в чернилах 
			используются жидкие чернила на водной основе. Благодаря меньшей вязкости чернила лучше впитываются, что позволяет данным ручкам оставлять 
			более красивый след, схожий со следом перьевой ручки, что и является отличительным признаком ручки-роллера. </p>
			<p style="text-indent: 50px;">  <b>Любопытный факт о ручке-роллере:</b> к роллерам относят и капиллярные ручки, которые используют тушь-чернила, а
			 сами ручки обычно используются для чертежей или рисования. Так же капиллярные ручки отличает разнообразная толщина письма и большое 
			 количество цветов чернил.  </p>
			<p style="text-indent: 50px;"> <b> Ручка-роллер: </b>  </p>
			<p style="text-indent: 75px;"> ■ так же имеет шариковый пишущий узел; </p>
			<p style="text-indent: 75px;"> ■ жидкие чернила; </p>
			<p style="text-indent: 75px;"> ■ более четкая линия письма. </p>
			
			<p style="text-indent: 25px;"> <b> <u>Перьевая ручка</u></b></p>
			<p style="text-indent: 50px;"> <https://paperki.by/catalog/ruchki-perevye> Перьевая ручка ручка </a> – старинный пишущий инструмент для письма 
			жидкими чернилами. </p>
			<center><img src="/res/img/knowledgebase/pen-pen.jpg"></center> <br>
			<p style="text-indent: 50px;"> Современная перьевая ручка обычно состоит из корпуса с заправочным механизмом, ёмкостью для чернил и металлического
			раздвоенного пера. </p>
			<p style="text-indent: 50px;">  В нынешнее время их популярность значительно ниже шариковых ручек и ручек-роллеров, но они все так же остаются 
			популярным подарком и имиджевым символом, конкурируя, правда, в этой сфере с ручками-роллерами - такой подарок можно купить и в нашем  
			<a href = https://paperki.by/catalog/ruchki-perevye> интернет-магазине.</a>Они дороже, тяжелее, а самое главное – требуют особых навыков в использовании. 
			Современные ручки не макают в емкости с чернилами, хотя и такие модели так же доступны, а заправляются специальными картриджами.  </p>
			<p style="text-indent: 50px;">  <b>Любопытный факт о перьевой ручке:</b> ксамое обычное гусиное перо, по сути, тоже есть перьевой ручкой. В отличии
			от стилуса, которому не нужны были какие-либо чернила, перо используется только вместе с жидкими чернилами разнообразного происхождения 
			(например, сок черных ягод), а значит, является перьевой ручкой. </p>
			<p style="text-indent: 50px;"> <b> Перьевая ручка:  </b>  </p>
			<p style="text-indent: 75px;"> ■ использует жидкие чернила; </p>
			<p style="text-indent: 75px;"> ■ требует навыков в использовании;  </p>
			<p style="text-indent: 75px;"> ■ высокая стоимость ручки. </p>
			
			
			
			

        </section>
    </div>
</main>
