<main id="wrapp" th:fragment="article" xmlns:th="http://www.thymeleaf.org">
    <div class="wrapper">
        <ul class="breadCrumbs">
            <li><a href="/">Главная</a></li>
			<li><a href="/knowledgebase">База знаний</a></li>
            <li>Почему писать ручкой полезно</li>
        </ul>
        <section class="typicalSection">
            <h1>Почему писать ручкой полезно</h1>




             <p style="text-indent: 25px;">В современном мире различные гаджеты постепенно вытесняют обычное письмо ручкой. А ведь мало кто задумывается, что писать ручкой очень полезно.</p>
			<img src="/res/img/knowledgebase/pisat.jpg" width="450"> </br></br>

 
<p style="text-indent: 25px;">В наше время много писать приходится школьникам и студентам. Однако с окончанием учебы многие люди берут ручку в руки чаще всего, чтобы делать краткие записи. И постепенно навыки письма теряются, так что даже заполнение анкеты вручную становится утомительным.</p></br>
<p style="text-indent: 25px;">А ведь при письме ручкой значительно активизируется деятельность мозга, развивается и поддерживается в хорошем состоянии мелкая моторика. Письмо ручкой тренирует ловкость рук и гибкость мышления. Вот почему писать ручкой очень полезно людям всех возрастов и профессий.</p></br>
<p style="text-indent: 25px;">И кроме того, поздравление или приглашение, написанное от руки, воспринимается как высокое проявление личного уважения, в отличие от безликого электронного уведомления.</p></br>
<p style="text-indent: 25px;">Смотрите также: <a href = "http://paperki.by/catalog/ruchki-sharikovihe">Шариковые ручки</a></p>





        </section>
    </div>
</main>