<!DOCTYPE html>
<html lang="ru" class="no-js" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Error page</title>
    <meta charset="utf-8" />
    <link rel="shortcut icon"               href="/res/img/favicons/favicon.png" />
</head>
<body th:with="httpStatus=${T(org.springframework.http.HttpStatus).valueOf(#response.status)}">
    <h1 th:text="|${httpStatus} - ${httpStatus.reasonPhrase}|">404</h1>
    <p th:utext="${errorMessage}">Error java.lang.NullPointerException</p>
    <a href="/" th:href="@{/}">Вернуться на главную страницу</a>
</body>
</html>
