<main id="wrapp" th:fragment="blank" xmlns:th="http://www.thymeleaf.org">
    <div class="wrapper">
        <ul class="breadCrumbs">
            <li><a href="/">Главная</a></li>
            <li><a href="/blog">Блог</a></li>
            <li>Подарочный сертификат - лучший подарок к школе</li>
        </ul>

        <section class="typicalSection">
            <h1>Подарочный сертификат - лучший подарок к школе</h1>




            <p><strong><span style="font-size: 14pt; line-height: 115%; font-family: 'Times New Roman', serif; color: red;">С 10-го августа 2017 года в розничной сети "Канцелярские штучки"</span></strong><span style="font-size: 14pt; line-height: 115%; font-family: 'Times New Roman', serif;">появится уникальная возможность приобрести подарочный <strong><span style="color: red;">сертификат на покупку </span></strong>канцелярских товаров и бумаги. Сумма не ограничена.</span>
</p>
<p><img src="/res/img/blog/sert.jpg" alt="sert" width="595" height="312" /></p>
<p><span style="font-size: 14pt; line-height: 115%; font-family: 'Times New Roman', serif;">&nbsp;<strong>Правила пользования сертификатом:</strong></span></p>
<ol>
	<li><span style="font-size: 14pt; line-height: 115%; font-family: 'Times New Roman', serif; color: #000000;">Данный сертификат действует 3 (три) месяца с момента даты внесения Предоплаты;</span></li>
	<li><span style="font-size: 14pt; line-height: 115%; font-family: 'Times New Roman', serif; color: #000000;">Вся стоимость Подарочного сертификата используется полностью и единовременно. В случае если стоимость выбранных товаров меньше стоимости сертификата, то разница владельцу не выплачивается. В случае если стоимость выбранных товаров превышает стоимость сертификата, то владелец сертификата имеет возможность произвести доплату.</span></li>
	<li><span style="font-size: 14pt; line-height: 115%; font-family: 'Times New Roman', serif; color: #000000;">Допускается суммирование нескольких Подарочных сертификатов одного владельца по согласованию со специалистами места выдачи данного сертификата.</span></li>
	<li><span style="font-size: 14pt; line-height: 115%; font-family: 'Times New Roman', serif; color: #000000;">Сертификат не подлежит возврату или обмену на денежные средства;</span></li>
	<li><span style="font-size: 14pt; line-height: 115%; font-family: 'Times New Roman', serif; color: #000000;">Сертификат не является именным и может быть передан другому лицу.</span></li>
</ol>
<p><span style="font-size: 14pt; line-height: 115%; font-family: 'Times New Roman', serif;">Сеть розничных магазинов &laquo;Канцелярские штучки&raquo; в Бресте:</span></p>
<ul>
	<li style="text-indent: -18pt;"><span style="font-size: 14pt; line-height: 115%; font-family: Symbol;"><span style="font-size: 7pt; line-height: normal; font-family: 'Times New Roman';">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</span></span><span style="font-size: 14pt; line-height: 115%; font-family: 'Times New Roman', serif;">ул.Карбышева, 37, тел. +375(29) 835-87-95, 8 (0162) 20-87-95</span><span style="font-size: 14pt; line-height: 115%; font-family: 'Times New Roman', serif;">;</span></li>
	<li style="text-indent: -18pt;"><span style="font-size: 14pt; line-height: 115%; font-family: Symbol;"><span style="font-size: 7pt; line-height: normal; font-family: 'Times New Roman';">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</span></span><span style="font-size: 14pt; line-height: 115%; font-family: 'Times New Roman', serif;">ул. Московская, 332, тел. +375(29) 835-69-74, 8 (0162) 55-58-58.</span></li>
</ul>




        </section>
    </div>
</main>