<main id="wrapp" th:fragment="blank" xmlns:th="http://www.thymeleaf.org">
    <div class="wrapper">
        <ul class="breadCrumbs">
            <li><a href="/">Главная</a></li>
            <li><a href="/blog">Блог</a></li>
            <li>Халва в канцелярских штучках!</li>
        </ul>

        <section class="typicalSection">
            <h1>Халва в канцелярских штучках!</h1>




         <p><img src="/res/img/blog/Halva.png" alt="Halva" width="284" height="179" /><img src="/res/img/blog/Kanceljarskie_Shtuchki.png" alt="Kanceljarskie Shtuchki" width="302" height="89" /></p>
<p>Теперь и в наших <a href="nashi-magaziny.html">магазинах "Канцелярские штучки"</a> можно рассчитаться картой Халва, сроком до одного месяца.</p>
<p><strong><span style="color: #ff0000; font-size: 12pt;">Акция!!! Только с 15 по 30 сентября рассрочка по карте Халва 2 месяца.</span></strong></p>
<p><em>Расчет по карте Халва не распространяется на скидки и акционные товары.</em></p>
<p><a href="https://www.halva.by/shops/drugoe/kancelyarskie-shtuchki/" target="_blank">Информация на сайте halva.by</a></p>




        </section>
    </div>
</main>