<main id="wrapp" th:fragment="blank" xmlns:th="http://www.thymeleaf.org">
    <div class="wrapper">
        <ul class="breadCrumbs">
            <li><a href="/">Главная</a></li>
            <li><a href="/blog">Блог</a></li>
            <li>С Днём Автомобилиста </li>
        </ul>

        <section class="typicalSection">
            <h1>С Днём Автомобилиста </h1>




            <p><img src="/res/img/blog/avt.jpg" alt="avt" width="628" height="261" style="display: block; margin-left: auto; margin-right: auto;" /></p>
<p style="text-align: center;"><span style="font-size: 14pt; line-height: 115%;">Уважаемые партнеры!</span></p>
<p style="text-indent: 35.45pt;"><span style="font-size: 14pt; line-height: 115%;">Коллектив ООО &laquo;Паперки&raquo; <span style="background-image: initial; background-position: initial; background-repeat: initial; background-attachment: initial;">поздравляет Вас с&nbsp;Днем автомобилиста. </span></span>
</p>
<p style="text-indent: 35.45pt;"><span style="font-size: 14pt; line-height: 115%; background-image: initial; background-position: initial; background-repeat: initial; background-attachment: initial;">Желаем зеленого света на&nbsp;жизненной дороге, отсутствия пробок и&nbsp;препятствий на&nbsp;пути к&nbsp;целям. Отличного здоровья и&nbsp;замечательного настроения!</span></p>
<p style="text-indent: 35.45pt;"><span style="font-size: 14pt; line-height: 115%;">В период <span style="color: red;">с 26 по 27 октября</span> при самовывозе товара со склада по ул.Янки Купалы, 88 В, каждый клиент получит <span style="color: red;">приятный сюрприз</span>.</span>
</p>




        </section>
    </div>
</main>