<main id="wrapp" th:fragment="article" xmlns:th="http://www.thymeleaf.org">
    <div class="wrapper">
        <ul class="breadCrumbs">
            <li><a href="/">Главная</a></li>
            <li><a href="/blog">Блог</a></li>
            <li>Мы  рады приветствовать Вас на нашем новом сайте!!!</li>
        </ul>

        <section class="typicalSection">
            <h1>Мы  рады приветствовать Вас на нашем новом сайте!!!</h1>

			Наши специалисты на протяжении года  учитывали все Ваши замечания и предложения для улучшения нашей совместной работы. <br/> 
			На новом сайте вы сможете попробовать:<br/>
			- обновленный дизайн;<br/>
			- личный кабинет с массой возможностей.<br/>
			Так как сайт только начал свою работу, мы  предлагаем  Вам протестировать  его лично и поделиться впечатлениями с нами.<br/>
			Оформляйте Ваши заказы с сайта, а также заполните нашу ОНЛАЙН-АНКЕТУ и  получите приятный БОНУС . <br/>





        </section>
    </div>
</main>