.contactsPage{
	.typicalH1{
		margin-top: 0;
		margin-bottom: 26px;
	}
}
.contactsPageTop{
	padding-left: 33px;
	padding-top: 31px;
}
.contactsPageCities{
	margin-left: 32px;
	padding: 0;
	li{
		font-size: 18px;
		color: #495685;
		font-family: ProximaNovaBlack;
		display: inline-block;
		padding: 4px;
		min-width: 145px;
		text-align: center;
		margin: 0 10px 10px 0;
		border: 2px dashed #DEDEDE;
		border-radius:20px;
		cursor: pointer;
	}
	li:hover{
		border-color: #FF8F14;
	}
	li.active{
		background-color: #FF8F14;
		border-color: #FF8F14;
		color: #FFF;
	}
}
.contactsPageInfo{
	font-size: 16px;
	padding-left: 32px;
	a{
		color: #8D8D8D;
	}
	a:hover{
		color: #FF8F14;
	}
}
.contactsPageInfoLeft, .contactsPageInfoRight{
	float: left;
	width: 48%;
}
.contactsPageInfoLeft{
	margin-right: 4%;
}
.contactsPageInfoWorkTime{
	padding-top: 15px;
	margin-top: 15px;
}
.contactsPageMap{
	position: relative;
}
.contactsPageMapHolder{
	margin-right: 350px;
	min-height: 350px;
	background-color: #EAEBEA;
}
.contactsPageAddress{
	font-size: 16px;
	color: #373B44;
	position: absolute;
	top: 0;
	right: 0;
	width: 350px;
	height: 350px;
	border-bottom: 1px solid #DEDEDE;
	border-top: 1px solid #DEDEDE;
	overflow: auto;
	> h2{
		width: 100%;
		height: 71px;
		font-size: 24px;
		margin: 0;
		padding: 24px 30px 30px 30px;
		background-color: #F9C948;
	}
	ul{
		padding: 0;
		margin: 0;
		li{
			padding-top: 11px;
			border-bottom: 1px solid #e0e0e0;
			&:last-of-type{
				border-bottom: none;
			}
			a{
				display: block;
				width: 100%;
				padding-left: 28px;
				padding-right: 30px;
				p{
					color: #373b44;
					font-family: ProximaNovaRegular;
					font-size: 16px;
					font-weight: 400;
				}
			}
		}
	}
}
.contactsPageBlueLine{
	background-color: #D1EFFF;
	border-radius: 0 0 10px 10px;
	padding: 3.5%;
	& > h2{
		line-height: 30px;
		font-size: 24px;
		margin: 0;
		padding-right: 70px;
		position: relative;
		a{
			color: #2E9ED9;
			border-bottom: 1px solid #2E9ED9;
		}
		a:hover{
			color: #2E9ED9;
			border: none;
		}
		a:hover .contactsPageBlueLineArrow{
			background: url(../img/slider-arrow-left-hover.png) no-repeat 50% 50% #ffffff;
		}
	}
	.contactsPageBlueLineArrow{
		position: absolute;
		width: 40px;
		height: 40px;
		right: 0;
		top: calc(50% - 20px);
		margin: 0;
		border: 1px solid #ffffff;
		border-radius: 50%;
		background: url(../img/slider-arrow-left-blue.png) no-repeat 50% 50% #ffffff;
		padding: 10px;	
		transform:rotate(180deg);
	}
	.contactsPageBlueLineArrow:hover{
		background: url(../img/slider-arrow-left-hover.png) no-repeat 50% 50% #ffffff;
	}
}
