<div id="cart-popup" class="cart-popup-content mfp-hide"
     th:fragment="cart-popup" xmlns:th="http://www.thymeleaf.org">
    <h3>Корзина</h3>
    <div class="cart-popup-products">
        <p class="cart-popup-sum">Сумма</p>
        <form action="/">
            <ul class="cart-popup-products-list"
                th:if="${cart} != null">
                <li th:if="${cart.items.size()} > 0"
                    th:each="item : ${cart.items}">
                    <a href="#" class="cart-popup-del-prod"></a>
                    <div class="cart-popup-del-prod-confirm">
                        <div class="cart-popup-del-prod-confirm__btns">
                            <a href="#" class="cart-popup-del-prod__bookmark"
                               onclick="toFavorites()"
                               th:attr="onclick='toFavorites()'">
                                <img src="/res/img/cart-bookmark-icon.png" alt="Bookmarks">
                                <p>Переместить<br>
                                    в список желаний
                                </p>
                            </a>
                            <a href="#" class="cart-popup-del-prod__remove"
                               onclick="deleteFromCart('null')"
                               th:attr="onclick='deleteFromCart('+${item.value.pnt}+')'">
                                <img src="/res/img/cart-delete-prod-without-icon.png" alt="Remove">
                                <p>Удалить
                                    без сохранения</p>
                            </a>
                        </div>
                        <a href="#" class="cart-popup-del__cancel">Отмена</a>
                    </div>
                    <div class="cart-popup-product-choosen">
                        <div class="cart-popup-product-pict">
                            <div    th:if="${oldImages} != null"
                                    th:switch="${oldImages[__${product?.pnt}__]} == null"
                                    th:remove="tag">
                                <img src="/catimagesold/noimage.jpg" alt=""
                                     th:case="${true}"
                                     th:attr="alt=${product?.fullName}">
                                <img src="/res/img/product1.png" alt="Изображение товара"
                                     th:case="${false}"
                                     th:attr="src=@{'/catimagesold/'+ ${oldImages[__${item.value.pnt}__][0]}},alt=${item.value.fullName}">
                            </div>
                        </div>
                        <div class="cart-popup-product-info">
                            <a href="#">
                                <span th:text="${item.value.fullName}">Полное наименование товара</span>
                            </a>
                            <div class="prices-block action"
                                 th:switch="${item.value.finalPriceWithVAT} < ${item.value.currentPriceWithVAT}">
                                <ul class="prices-block-list"  th:case="${true}">
                                    <li class="old-pr"
                                        th:text="${item.value.currentPriceWithVAT}+' руб'">0,00 руб</li>
                                    <li class="new-pr"
                                        th:text="${item.value.finalPriceWithVAT}+' руб'">0,00 руб</li>
                                </ul>
                                <ul class="prices-block-list" th:case="${false}">
                                    <li class="new-pr"
                                        th:text="${item.value.finalPriceWithVAT}+' руб'">0,00 руб</li>
                                </ul>
                                <div class="bon-pr">
                                    <!--<a href="#" class="bonuses">+11 бонусов</a>-->
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="cart-popup-products-item-right">
                        <div class="cart-popup-product__number">
                            <div class="dec">-</div>
                            <input type="text" name="french-hens" class="inde" value="1"
                                   th:value="${item.value.quantity}">
                            <div class="inc">+</div>
                        </div>
                        <div class="cart-product-total-price">
                            <!--<div class="cart-product-total-price__old">0.00 руб</div>-->
                            <div class="cart-product-total-price__new"
                                 th:text="${item.value.totalWithVAT}+' руб'">0.00 руб</div>
                        </div>
                    </div>
                </li>
            </ul>
            <div class="cart-popup-products-total-price">
                <div>
                    <div class="total">
                        <p>Итого:</p>
                        <span
                            th:text="${cart?.totalWithVAT} + ' руб' ">0.00 руб</span>
                    </div>
                </div>
                <button class="cart-popup-form-order c-button" type="subscribe" onclick="toOrderPage()">
                    <div class="c-ripple js-ripple">
                        <span class="c-ripple__circle"></span>
                    </div>
                    МОЯ КОРЗИНА
                </button>
            </div>
        </form>
    </div>
    <div class="cart-popup-continue-shopping">
        <a href="#" class="cart-popup-continue-shopping__link c-button">
            <div class="c-ripple js-ripple">
                <span class="c-ripple__circle"></span>
            </div>
            Продолжить покупку
        </a>
        <form action="/">
            <input type="text" placeholder="Код купона / промо слово" />
            <button class="c-button" type="subscribe">
                <div class="c-ripple js-ripple">
                    <span class="c-ripple__circle"></span>
                </div>
                применить
            </button>
        </form>
        <div class="cart-popup-continue-shopping__links">
            <a href="#" class="how-to-get-disc">Как получить скидку?</a>
            <a href="#" class="disc-rules">Правила применения скидок</a>
        </div>
    </div>
    <div class="cart-popup-reg">

    </div>
    <div class="also-recommend">

    </div>
</div>
