<main id="wrapp" th:fragment="article" xmlns:th="http://www.thymeleaf.org">
    <div class="wrapper">
        <ul class="breadCrumbs">
            <li><a href="/">Главная</a></li>
            <li><a href="/blog">Блог</a></li>
            <li>23 февраля</li>
        </ul>

        <section class="typicalSection">
            <!--<h1><center>Уважаемые партнеры, коллеги, друзья!</center></h1>-->
            

<img src="http://paperki.by/res/img/otkritka.jpg">

<!--<center><h3>Примите самые искренние поздравления с Днем защитника Отечества.<br/>
Желаем вам мирного неба, больших достижений, множества возможностей, побед на всех фронтах. <br/>
Пусть все поставленные цели будут достигнуты, идеи воплотятся и получится всё, что запланировано!<br/><br/>

С наилучшими пожеланиями, коллектив ООО «Паперки»</h3></center>-->


        </section>
    </div>
</main>
