<main id="wrapp" th:fragment="article" xmlns:th="http://www.thymeleaf.org">
    <div class="wrapper">
        <ul class="breadCrumbs">
            <li><a href="/">Главная</a></li>
            <li><a href="/blog">Блог</a></li>
            <li>Покупай бумагу, получай рюкзак в подарок</li>
        </ul>

        <section class="typicalSection">
            <h1>Покупай бумагу, получай рюкзак в подарок</h1>




            <p style="text-align: justify;"><span style="font-size: 14pt; line-height: 115%;">При единовременном заказе от 60 пачек <strong>Xerox Performer</strong> или <strong>Xerox Office</strong> + от 5 пачек <strong>Xerox</strong> <strong>Марафон Премьер &ndash;</strong> стильный <strong>РЮКЗАК</strong> в подарок. </span></p>
<p style="text-align: justify;"><span style="font-size: 14pt; line-height: 115%;">Сроки проведения: с &nbsp;<strong>1 сентября 2017 года </strong>и<strong> &nbsp;</strong>по <strong style="font-size: 18.6667px; text-align: justify;">о</strong><strong>кончание подарков.</strong></span></p>
<p style="text-align: justify;"><strong><span style="font-size: 14pt; line-height: 115%;">Условия: </span></strong></p>
<p style="text-align: justify;"><span style="font-size: 14pt; line-height: 115%;">- цена на бумагу рассчитывается по <span style="text-decoration: underline;">прайсовой линейке без&nbsp; дополнительных скидок и специальных предложений;</span></span>
</p>
<p style="text-align: justify;"><span style="font-size: 14pt; line-height: 115%;">-&nbsp; <span style="text-decoration: underline;">предоплата;</span></span>
</p>
<p style="text-align: justify;"><span style="font-size: 14pt; line-height: 115%;">- <span style="text-decoration: underline;">в акции не участвуют&nbsp; клиенты, приобретающие товары для перепродажи.</span></span>
</p>
<p><img src="/res/img/blog/1_20170901_160614.jpg" alt="1 20170901 160614" width="810" height="610" /></p>




        </section>
    </div>
</main>