<main id="wrapp" th:fragment="article" xmlns:th="http://www.thymeleaf.org">
    <div class="wrapper">
        <ul class="breadCrumbs">
            <li><a href="/">Главная</a></li>
            <li><a href="/blog">Блог</a></li>
            <li>Подшивай документы без усилий с апс 168а</li>
        </ul>

        <section class="typicalSection">
            <h1>Подшивай документы без усилий с апс 168а</h1>




            <p>
	<iframe src="https://www.youtube.com/embed/V32MiLSAl_U" width="754" height="380" frameborder="0" allowfullscreen="allowfullscreen"></iframe>&nbsp;</p>
<p style="text-indent: 35.45pt;"><span style="font-size: 14pt;">Переплетная архивная система <a href="katalog/postpoligraficheskoe-oborudovanie-i-materialy/ustrojstva-dlya-proshivki-dokumentov/perepletnaya-arkhivnaya-sistema-168a/perepletnaya-arkh-sistema-168a-litva-sht-detail.html">АПС 168А</a> - это уникальный настольный станок, предназначенный для того, чтобы без усилий подшивать бухгалтерские, архивные и любые другие документы. Это компактное устройство умещается на любом столе и работает в полуавтоматическом режиме от обычной электрической сети 220В, позволяя подшить капроновой нитью 500 листов менее чем за 5 минут.</span></p>
<p style="text-indent: 35.45pt;"><span style="font-size: 14pt;">Технические характеристики:</span></p>
<p style="text-indent: 35.45pt;"><span style="font-size: 14pt;">- максимальная толщина переплета:10 см (до 1000 листов);</span></p>
<p style="text-indent: 35.45pt;"><span style="font-size: 14pt;">- длина мотка ниток: 70 м;</span></p>
<p style="text-indent: 35.45pt;"><span style="font-size: 14pt;">- размеры: 400х360х440мм;</span></p>
<p style="text-indent: 35.45pt;"><span style="font-size: 14pt;">- вес: 7,7 кг;</span></p>
<p style="text-indent: 35.45pt;"><span style="font-size: 14pt;">- питание: 220В.</span></p>
<p style="text-indent: 35.45pt;"><span style="font-size: 14pt;">В комплектацию архивной системы входит: сверло - 1 шт., 2 иглы, комплект ремней - 2 шт., нитки - 1 шт., щетки для двигателя - 2 шт., ключ.</span></p>
<p><img src="/res/img/blog/00032407.jpg" alt="00032407" width="468" height="421" /></p>




        </section>
    </div>
</main>