<main id="wrapp" th:fragment="article" xmlns:th="http://www.thymeleaf.org">
    <div class="wrapper">
        <ul class="breadCrumbs">
            <li><a href="/">Главная</a></li>
            <li><a href="/blog">Блог</a></li>
            <li>МОЦНАЯ КАРТКА</li>
        </ul>

        <section class="typicalSection">
            <h1><center>ТЕПЕРЬ «МОЦНАЯ КАРТКА» И В НАШИХ<br/>РОЗНИЧНЫХ МАГАЗИНАХ!</center></h1>
            
				<center><img src="/res/img/blog/mocna.png"></center>

<center><p>В сети розничных магазинов "Канцелярские штучки" стартовала программа лояльности "Моцная картка".<br/>
При расчёте пластиковой картой с логотипом "Моцная картка" на весь товар* предоставляется скидка 5%!</p></center><br/>
<sub>*За исключением товаров, участвующих в акциях.</sub>


        </section>
    </div>
</main>
