<main id="wrapp" th:fragment="article" xmlns:th="http://www.thymeleaf.org">
    <div class="wrapper">
        <ul class="breadCrumbs">
            <li><a href="/">Главная</a></li>
            <li><a href="/blog">Блог</a></li>
            <li>Режим работы на новогодние праздники</li>
        </ul>

        <section class="typicalSection">
            <center><h1>Режим работы на новогодние праздники </h1>
			<img src="/res/img/blog/2018.jpg">
			
			<h3>Уважаемые клиенты!</h3>

 

<p>Изменения в режиме работы офиса и склада ООО «Паперки»:</p>  

<b>1.01.2018 г.</b> – выходной,

(в соответствии с П. 3 Указа от 26.03.1998 N 157 "О государственных праздниках, праздничных днях и памятных датах в Республике Беларусь"). <br/>

<b>2.01.2018 г.</b> – выходной, переносится на 20.01.2018 г. (суббота), 

 (в соответствии с ч. 6 с. 136 Трудового кодекса Республики Беларусь). 
			</center>






        </section>
    </div>
</main>
