<main id="wrapp" th:fragment="article" xmlns:th="http://www.thymeleaf.org">
    <div class="wrapper">
        <ul class="breadCrumbs">
            <li><a href="/">Главная</a></li>
            <li><a href="/blog">Блог</a></li>
            <li>Дизайнерская бумага и картон</li>
        </ul>

        <section class="typicalSection">
			<center style="font-size: 16px;">Мы рады сообщить, что в нашем розничном магазине "<b>Канцелярские штучки</b>"<br/>
					появилась в продаже дизайнерская бумага и картон от крупнейшего поставщика ТМ «Берег».<br/>
					Огромный выбор, разнообразие фактур и богатая палитра цветов!<br/>
					Подойдет для печати визиток, открыток, пригласительных, а также для таких хобби как скрапбукинг и кардмейкинг.
<br/> <br/>
					<img src="/res/img/blog/bum.jpg"><br/><br/>
			
					Возможна реализация по оптовым ценам для типографий, рекламных агентств и дизайн-студий.<br/><br/>
					Посмотреть ассортимент и купить можно по адресу: <br/>
					<b>г. Брест, ул. Московская, 332 (2 этаж) магазин "Канцелярские штучки",<br/> <br/>
						<img src="/res/img/phone.png"> 8 (029) 835-69-74, 8 (0162) 55-58-58 &nbsp;&nbsp; <img src="/res/img/email.png">&nbsp;paperki1@paperki.by </b></center><br/><br/>
	<center><img src="/res/img/blog/buma.jpg"><br/><br/></center>


        </section>
    </div>
</main>
