<main id="wrapp" th:fragment="article" xmlns:th="http://www.thymeleaf.org">
    <div class="wrapper">
        <ul class="breadCrumbs">
            <li><a href="/">Главная</a></li>
            <li><a href="/blog">Блог</a></li>
            <li>Пасха</li>
        </ul>

        <section class="typicalSection">
            <h1><center>Дорогие коллеги и партнеры!</center></h1>

<center><h4>Коллектив ООО «Паперки» поздравляет Вас со светлым праздником Пасхи.<br/>
Желаем достатка в доме, мира и любви, искренних надежд и осуществления всех планов, верных друзей, стабильности и благополучия.<br/> 
Пусть здоровье, гармония и успех всегда будут с Вами.<br/><br/></h4>
<img src="/res/img/blog/easter_kart.jpg" style="border-radius: 10px;"/></center>

        </section>
    </div>
</main>
