<main id="wrapp" th:fragment="article" xmlns:th="http://www.thymeleaf.org">
    <div class="wrapper">
        <ul class="breadCrumbs">
            <li><a href="/">Главная</a></li>
            <li><a href="/blog">Блог</a></li>
            <li>Режим работы апрель - май 2018 года</li>
        </ul>

        <section class="typicalSection">


<center><h3>Уважаемые клиенты!<br/>

Изменения в режиме работы офиса и склада ООО «Паперки»: <br/></h3></center>

<center><img src="/res/img/blog/izmeneniya.jpg" style="border-radius: 10px;"/></center>


<h4><b>
16.04.2018 г. (понедельник) – <span style="color: #ff0000;">выходной</span>, переносится на 14.04.18 г. (суббота) – рабочий.<br/><br/>
17.04.2018 г. (вторник) – <span style="color: #ff0000;">выходной</span>.<br/><br/>
30.04.2018 г. (понедельник) – <span style="color: #ff0000;">выходной</span>, переносится на 28.04.18 г. (суббота) – рабочий.<br/><br/>
01.05.2018 г. (вторник) – <span style="color: #ff0000;">выходной</span>.<br/><br/>
09.05.2018 г. (среда) – <span style="color: #ff0000;">выходной</span>.<br/><br/></b>


        </section>
    </div>
</main>
