<main id="wrapp" th:fragment="article" xmlns:th="http://www.thymeleaf.org">
    <div class="wrapper">
        <ul class="breadCrumbs">
            <li><a href="/">Главная</a></li>
            <li><a href="/blog">Блог</a></li>
            <li>Новинка!</li>
        </ul>

        <section class="typicalSection">
            <h2><center><b> Новинка! Папки из синтетического фетра</b></center></h2>
           <p style="font-size: 14pt; text-indent: 35.45pt;">
			Папки из фетра - это оригинальный дизайн, гармония цвета, а также экологически чистый материал. Такая папка может стать прекрасным помощником для хранения и ношения планшетов, документов и бумаг А4.<br> </br> </p>
			<p style="font-size: 14pt; text-indent: 35.45pt;"> Легкий материал с приятным дизайном, функциональный  в носке,  делает данную коллекцию папок хорошим решением на каждый день, а также выгодно подчеркнет ваш деловой стиль. <br> </br> </p>
			<p style="font-size: 14pt; text-indent: 35.45pt;"> Купить <a href=https://paperki.by/catalog/portfeli-papki-delovye> папки из фетра. </a> </p>

<img src="/res/img/blog/New.jpg" > 

        </section>
    </div>
</main>
