<main id="wrapp" th:fragment="article" xmlns:th="http://www.thymeleaf.org">
    <div class="wrapper">
        <ul class="breadCrumbs">
            <li><a href="/">Главная</a></li>
            <li><a href="/blog">Блог</a></li>
            <li>Подарок при заказе с сайта</li>
        </ul>

        <section class="typicalSection">
            <center><h1>Подарок при заказе с сайта</h1>

				<p style="font-size: 14pt;">Каждый клиент, оформивший заказ на сайте <a href="http://paperki.by">paperki.by</a> на сумму от 100 руб. с НДС, <br/>получает ежедневник в ПОДАРОК.</p><br/>
			<img src="/res/img/blog/egedn.jpg">
			</center>
				<sub>*Акция действует с 15 января и по окончание подарков. Подарок может отличаться от изображенного на фото.</sub>
        </section>
    </div>
</main>
