<main id="wrapp" th:fragment="article" xmlns:th="http://www.thymeleaf.org">
    <div class="wrapper">
        <ul class="breadCrumbs">
            <li><a href="/">Главная</a></li>
            <li><a href="/help">Помощь</a></li>
            <li>Наши реквизиты</li>
        </ul>
        <section class="typicalSection">
            <h1>ООО «Паперки»</h1>


224023, г.Брест, ул. Советской Конституции, 1, Беларусь</br>
УНН 200578550 ОКПО 28992517</br>
Банк: Региональная дирекция №100,   ОАО «БПС-Сбербанк»,</br>
2240005, г.Брест, ул.Мицкевича, 10</br>
<b>р/с  BY39BPSB30121219310169330000</b></br>
<b>код банка: BPSBBY2X</b></br>
Директор: Малунова Наталья Ивановна, действует на основании Устава</br>
телефоны :42-93-95, 42-84-01.</br>








        </section>
    </div>
</main>
