<main id="wrapp" th:fragment="article" xmlns:th="http://www.thymeleaf.org">
    <div class="wrapper">
        <ul class="breadCrumbs">
            <li><a href="/">Главная</a></li>
            <li><a href="/blog">Блог</a></li>
            <li>СЕТЬ РОЗНИЧНЫХ МАГАЗИНОВ «КАНЦЕЛЯРСКИЕ ШТУЧКИ» В БРЕСТЕ </li>
        </ul>
            <section class="typicalSection">
                <div class="about-page">
                    
                    <div class="retail-stores">
                        <h4>РОЗНИЧНЫЕ МАГАЗИНЫ "КАНЦЕЛЯРСКИЕ ШТУЧКИ" В БРЕСТЕ:</h4>
                        <ul>
                            <li>
                                <div class="store-pict">
                                    <img src="/res/img/store-pict1.png" alt="Брест, ул. Карбышева, 37(торговая площадь 100 кв.м.)"/>
                                </div>
                                <ul style="color:#ff8c39">
									<li>г. Брест<br/> ул. Карбышева, 37 </li>
									<li>Email: paperki2@mail.by</li> 
									<li>Гор.тел.:(0162)20-87-95</li>
									<li>Моб.тел.: +375-29-835-87-95</li>
									
								</ul>
                            </li>
                            <li>
                                <div class="store-pict">
                                    <img src="/res/img/store-pict2.png" alt="Брест, ул. Московская, 332(торговая площадь 100 кв.м.)"/>
                                </div>
                              <ul style="color:#ff8c39">
								<li>г. Брест ул. Московская, 332 </li>
								<li>Email: paperki1@paperki.by</li> 
                                <li>Гор.тел.:(0162)55-58-58</li>
                                <li>Моб.тел.: +375-29-835-69-74</li>
                                
                              </ul>
                                
                            </li>
                        </ul>
							<b><p style="text-indent: 25px;">Площади магазинов и опыт работы с канцелярскими товарами позволяют  иметь ассортимент, способный удовлетворить запросы  как корпоративных клиентов, так и физических лиц.
							Большой выбор канцтоваров для школьников и детского творчества.
							Приобрести товары  можно за наличный и безналичный расчет. 
							При необходимости можно заказать доставку в любую точку города Бреста.</p></br>
							<p style="text-indent: 25px;">Для постоянных розничных  клиентов мы предоставляем дисконтные карты, которые позволят вам стать участником программы бонусов и скидок. 
							Вы также можете приобрести подарочные сертификаты себе или своим близким.</p></b>

                </div>
            </section>
        </div>
</main>
