<main id="wrapp" th:fragment="article" xmlns:th="http://www.thymeleaf.org">
    <div class="wrapper">
        <ul class="breadCrumbs">
            <li><a href="/">Главная</a></li>
            <li><a href="/blog">Блог</a></li>
            <li>Ароматный и полезный чай Kali Laska</li>
        </ul>

        <section class="typicalSection">
            <center><h1>Ароматный и полезный чай Kali Laska</h1>
			<img src="/res/img/blog/kalilaska.jpg"></center>
<p>Чаи Kali Laska производятся исключительно из натуральных ингредиентов без добавления красителей, ароматизаторов, масел и т.п. Только чай и только травы. При разработке рецептур чаев учитывались не только полезные для здоровья свойства лечебных трав, но и вкус и аромат, которые они способны придать этому напитку. В результате чаи KaliLaska отличаются не только своей пользой для здоровья, а еще и великолепным вкусом.<br/>
			<a href="/catalog/zelenyy-chay">Чай зеленый<a><br/>
			<a href="/catalog/chernyy-chay">Чай черный<a>






        </section>
    </div>
</main>