<div th:fragment="mainslider" class="slide-main" xmlns:th="http://www.w3.org/1999/xhtml">
    <div class="main-carousel">
        <div class="slick-slide-item image">
            <img src="/res/img/slider/my-gotovy-k-sckole.jpg" alt="slide1">
            <div class="slick-slide-text">
                <h2 class="title-slider">Канцелярские товары в нашем каталоге</h2>
                <p class="info-slider"></p>
                <div class="btn-bl-sl">
                    <a href="/#" class="btn c-button btn-slider" title="Выбираем товары для учебы и офиса">
                        <div class="c-ripple js-ripple">
                            <span class="c-ripple__circle"></span>
                        </div>
                        Выбираем товары для учебы </br> и офиса
                    </a>
                </div>
            </div>
        </div>
        <div class="slick-slide-item image">
            <img src="/res/img/slider/bsplatnaya_dostavka.jpg" alt="slide1">
            <!--<div class="slick-slide-text">
                <h2 class="title-slider">Рабочие тетради <br>KUMON</h2>
                <p class="info-slider">Японская методика развития для детей от 2 до 10 лет</p>
                <div class="btn-bl-sl">
                    <a href="/#" class="btn c-button btn-slider" title="Выбрать тетрадь со скидкой 20%">
                        <div class="c-ripple js-ripple">
                            <span class="c-ripple__circle"></span>
                        </div>
                        Выбрать тетрадь со скидкой 20%
                    </a>
                </div>
            </div>-->
        </div>
        <div class="slick-slide-item image">
            <img src="/res/img/slider/img.png" alt="slide1">
            <div class="slick-slide-text">
                <h2 class="title-slider">Рабочие тетради <br>KUMON</h2>
                <p class="info-slider">Японская методика развития для детей от 2 до 10 лет</p>
                <div class="btn-bl-sl">
                    <a href="/#" class="btn c-button btn-slider" title="Выбрать тетрадь со скидкой 20%">
                        <div class="c-ripple js-ripple">
                            <span class="c-ripple__circle"></span>
                        </div>
                        Выбрать тетрадь со скидкой 20%
                    </a>
                </div>
            </div>
        </div>
        <div class="slick-slide-item image">
            <img src="/res/img/slider/img.png" alt="slide1">
            <div class="slick-slide-text">
                <h2 class="title-slider">Рабочие тетради <br>KUMON</h2>
                <p class="info-slider">Японская методика развития для детей от 2 до 10 лет</p>
                <div class="btn-bl-sl">
                    <a href="/#" class="btn c-button btn-slider" title="Выбрать тетрадь со скидкой 20%">
                        <div class="c-ripple js-ripple">
                            <span class="c-ripple__circle"></span>
                        </div>
                        Выбрать тетрадь со скидкой 20%
                    </a>
                </div>
            </div>
        </div>
        <div class="slick-slide-item image">
            <img src="/res/img/slider/img.png" alt="slide1">
            <div class="slick-slide-text">
                <h2 class="title-slider">Рабочие тетради <br>KUMON</h2>
                <p class="info-slider">Японская методика развития для детей от 2 до 10 лет</p>
                <div class="btn-bl-sl">
                    <a href="/#" class="btn c-button btn-slider" title="Выбрать тетрадь со скидкой 20%">
                        <div class="c-ripple js-ripple">
                            <span class="c-ripple__circle"></span>
                        </div>
                        Выбрать тетрадь со скидкой 20%
                    </a>
                </div>
            </div>
        </div>
        <div class="slick-slide-item image">
            <img src="/res/img/slider/img.png" alt="slide1">
            <div class="slick-slide-text">
                <h2 class="title-slider">Рабочие тетради <br>KUMON</h2>
                <p class="info-slider">Японская методика развития для детей от 2 до 10 лет</p>
                <div class="btn-bl-sl">
                    <a href="/#" class="btn c-button btn-slider" title="Выбрать тетрадь со скидкой 20%">
                        <div class="c-ripple js-ripple">
                            <span class="c-ripple__circle"></span>
                        </div>
                        Выбрать тетрадь со скидкой 20%
                    </a>
                </div>
            </div>
        </div>
        <div class="slick-slide-item image">
            <img src="/res/img/slider/img.png" alt="slide1">
            <div class="slick-slide-text">
                <h2 class="title-slider">Рабочие тетради <br>KUMON</h2>
                <p class="info-slider">Японская методика развития для детей от 2 до 10 лет</p>
                <div class="btn-bl-sl">
                    <a href="/#" class="btn c-button btn-slider" title="Выбрать тетрадь со скидкой 20%">
                        <div class="c-ripple js-ripple">
                            <span class="c-ripple__circle"></span>
                        </div>
                        Выбрать тетрадь со скидкой 20%
                    </a>
                </div>
            </div>
        </div>
        <div class="slick-slide-item image">
            <img src="/res/img/slider/img.png" alt="slide1">
            <div class="slick-slide-text">
                <h2 class="title-slider">Рабочие тетради <br>KUMON</h2>
                <p class="info-slider">Японская методика развития для детей от 2 до 10 лет</p>
                <div class="btn-bl-sl">
                    <a href="/#" class="btn c-button btn-slider" title="Выбрать тетрадь со скидкой 20%">
                        <div class="c-ripple js-ripple">
                            <span class="c-ripple__circle"></span>
                        </div>
                        Выбрать тетрадь со скидкой 20%
                    </a>
                </div>
            </div>
        </div>
        <div class="slick-slide-item image">
            <img src="/res/img/slider/img.png" alt="slide1">
            <div class="slick-slide-text">
                <h2 class="title-slider">Рабочие тетради <br>KUMON</h2>
                <p class="info-slider">Японская методика развития для детей от 2 до 10 лет</p>
                <div class="btn-bl-sl">
                    <a href="/#" class="btn c-button btn-slider" title="Выбрать тетрадь со скидкой 20%">
                        <div class="c-ripple js-ripple">
                            <span class="c-ripple__circle"></span>
                        </div>
                        Выбрать тетрадь со скидкой 20%
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="slick-thumbs">
        <ul class="slick-thumbs-list">
            <li>
                Канцелярские товары
            </li>
            <li>
                Бесплатная доставка
            </li>
            <li>
                Lori −15%
            </li>
            <li>
                Stuff Time −15%
            </li>
            <li>
                Детям −20%
            </li>
            <li>
                Косметика −15%
            </li>
            <li>
                МИФ −10%
            </li>
            <li>
                Faber-Castell −10%
            </li>
            <li>
                Наклейки −10%
            </li>
        </ul>
    </div>
</div>