<div th:fragment="mainslider" class="slide-main" xmlns:th="http://www.w3.org/1999/xhtml">
    <div class="main-carousel">
        <div class="slick-slide-item image">
            <img src="/res/img/slider/backpack.jpg" alt="slide1">
            <div class="slick-slide-text">
                <h2 class="title-slider">Рюкзак в подарок</h2>
                <p class="info-slider">Условие акции уточняйте у продавца</p>
                <div class="btn-bl-sl">
                    <a href="/#" class="btn c-button btn-slider" title="Выбираем товары для учебы и офиса">
                        <div class="c-ripple js-ripple">
                            <span class="c-ripple__circle"></span>
                        </div>
                        Рюкзак в подарок
                    </a>
                </div>
            </div>
        </div>
        <div class="slick-slide-item image">
            <img src="/res/img/slider/bsplatnaya_dostavka.jpg" alt="slide1">
            <div class="slick-slide-text">
                <h2 class="title-slider">Бесплатная доставка </h2>
                <p class="info-slider">по г.Бресту</p>
                <!--<div class="btn-bl-sl">
                    <a href="/delivery-and-payment" class="btn c-button btn-slider" title="Бесплатная доставка по г.Бресту">
                        <div class="c-ripple js-ripple">
                            <span class="c-ripple__circle"></span>
                        </div>
                        Бесплатная доставка по г.Бресту
                    </a>
                </div>-->
            </div>
        </div>
        <div class="slick-slide-item image">
            <img src="/res/img/slider/calendar.jpg" alt="slide1">
            <div class="slick-slide-text">
                <h2 class="title-slider">Большой выбор <br>Календарей</h2>
                <p class="info-slider">Только здесь и только сейчас</p>
                <div class="btn-bl-sl">
                    <a href="/#" class="btn c-button btn-slider" title="Календари">
                        <div class="c-ripple js-ripple">
                            <span class="c-ripple__circle"></span>
                        </div>
                        Календари
                    </a>
                </div>
            </div>
        </div>
        <div class="slick-slide-item image">
            <img src="/res/img/slider/certificate.jpg" alt="slide1">
            <div class="slick-slide-text">
                <h2 class="title-slider"> <br>Сертификаты</h2>
                <p class="info-slider">Купи сертификат</p>
                <div class="btn-bl-sl">
                    <a href="/#" class="btn c-button btn-slider" title="Выбрать тетрадь со скидкой 20%">
                        <div class="c-ripple js-ripple">
                            <span class="c-ripple__circle"></span>
                        </div>
                        Сертификат
                    </a>
                </div>
            </div>
        </div>
        <div class="slick-slide-item image">
            <img src="/res/img/slider/Notebook.jpg" alt="slide1">
            <div class="slick-slide-text">
                <h2 class="title-slider"> <br>Блокноты</h2>
                <p class="info-slider">Ну купи блокнот</p>
                <div class="btn-bl-sl">
                    <a href="/#" class="btn c-button btn-slider" title="Выбрать тетрадь со скидкой 20%">
                        <div class="c-ripple js-ripple">
                            <span class="c-ripple__circle"></span>
                        </div>
                        Блокноты
                    </a>
                </div>
            </div>
        </div>
        <div class="slick-slide-item image">
            <img src="/res/img/slider/chairs.jpg" alt="slide1">
            <div class="slick-slide-text">
                <h2 class="title-slider"> <br>Стулья</h2>
                <p class="info-slider">Ну купи стульчик</p>
                <div class="btn-bl-sl">
                    <a href="/#" class="btn c-button btn-slider" title="Выбрать тетрадь со скидкой 20%">
                        <div class="c-ripple js-ripple">
                            <span class="c-ripple__circle"></span>
                        </div>
                       Стулья
                    </a>
                </div>
            </div>
        </div>
       <!--<div class="slick-slide-item image">
            <img src="/res/img/slider/img.png" alt="slide1">
            <div class="slick-slide-text">
                <h2 class="title-slider">Рабочие тетради <br>KUMON</h2>
                <p class="info-slider">Японская методика развития для детей от 2 до 10 лет</p>
                <div class="btn-bl-sl">
                    <a href="/#" class="btn c-button btn-slider" title="Выбрать тетрадь со скидкой 20%">
                        <div class="c-ripple js-ripple">
                            <span class="c-ripple__circle"></span>
                        </div>
                        Выбрать тетрадь со скидкой 20%
                    </a>
                </div>
            </div>
        </div>
        <div class="slick-slide-item image">
            <img src="/res/img/slider/img.png" alt="slide1">
            <div class="slick-slide-text">
                <h2 class="title-slider">Рабочие тетради <br>KUMON</h2>
                <p class="info-slider">Японская методика развития для детей от 2 до 10 лет</p>
                <div class="btn-bl-sl">
                    <a href="/#" class="btn c-button btn-slider" title="Выбрать тетрадь со скидкой 20%">
                        <div class="c-ripple js-ripple">
                            <span class="c-ripple__circle"></span>
                        </div>
                        Выбрать тетрадь со скидкой 20%
                    </a>
                </div>
            </div>
        </div>
        <div class="slick-slide-item image">
            <img src="/res/img/slider/img.png" alt="slide1">
            <div class="slick-slide-text">
                <h2 class="title-slider">Рабочие тетради <br>KUMON</h2>
                <p class="info-slider">Японская методика развития для детей от 2 до 10 лет</p>
                <div class="btn-bl-sl">
                    <a href="/#" class="btn c-button btn-slider" title="Выбрать тетрадь со скидкой 20%">
                        <div class="c-ripple js-ripple">
                            <span class="c-ripple__circle"></span>
                        </div>
                        Выбрать тетрадь со скидкой 20%
                    </a>
                </div>
            </div>
        </div>-->
    </div>
    <div class="slick-thumbs">
        <ul class="slick-thumbs-list">
            <li>
                Рюкзак в подарок
            </li>
            <li>
                Бесплатная доставка
            </li>
            <li>
                Календари
            </li>
            <li>
                Сертификаты
            </li>
            <li>
               Блокноты
            </li>
            <li>
                Стулья
            </li>
         <!--<li>
                МИФ −10%
            </li>
            <li>
                Faber-Castell −10%
            </li>
            <li>
                Наклейки −10%
            </li>-->
        </ul>
    </div>
</div>