<div th:fragment="mainslider" class="slide-main" xmlns:th="http://www.w3.org/1999/xhtml">
    <div class="main-carousel">
        <div class="slick-slide-item image">
            <img src="/res/img/slider/Privetstvie.jpg" alt="slide1">
            <div class="slick-slide-text">
                <!--<h2 class="title-slider">Рюкзак в подарок</h2>
                <p class="info-slider">Условие акции уточняйте у продавца</p>-->
                <div class="btn-bl-sl">
                    <a href="https://docs.google.com/forms/d/e/1FAIpQLSfsv1eI4l9oAghib-nq83Hb9rMVlXLgysCB4BZhgMe0d0dWVA/viewform?c=0&w=1" target="_blank" class="btn c-button btn-slider" title="Выбираем товары для учебы и офиса">
                        <div class="c-ripple js-ripple">
                            <span class="c-ripple__circle"></span>
                        </div>
                        Оставьте отзыв о новом сайте
                    </a>
                </div>
            </div>
        </div>
		 <div class="slick-slide-item image">
            <img src="/res/img/slider/tea.jpg" alt="slide1">
            <div class="slick-slide-text">
                <h2 class="title-slider"> <br>Kali Laska</h2>
                <p class="info-slider">Чай на любой вкус</p>
                <div class="btn-bl-sl">
                    <a href="/catalog/chernyy-chay" class="btn c-button btn-slider" title="Чай Kali Laska">
                        <div class="c-ripple js-ripple">
                            <span class="c-ripple__circle"></span>
                        </div>
                        Чай Kali Laska
                    </a>
                </div>
            </div>
        </div> 
        <div class="slick-slide-item image">
            <img src="/res/img/slider/bsplatnaya_dostavka.jpg" alt="slide1">
            <div class="slick-slide-text">
                <h2 class="title-slider">Бесплатная доставка </h2>
                <p class="info-slider"></p>
                <div class="btn-bl-sl">
                    <a href="/delivery-and-payment" class="btn c-button btn-slider" title="Бесплатная доставка">
                        <div class="c-ripple js-ripple">
                            <span class="c-ripple__circle"></span>
                        </div>
                        Условия
                    </a>
                </div>
            </div>
        </div>
        <div class="slick-slide-item image">
            <img src="/res/img/slider/calendar.jpg" alt="slide1">
            <div class="slick-slide-text">
                <h2 class="title-slider"> <br>Календари на 2018 год</h2>
                <p class="info-slider"></p>
                <div class="btn-bl-sl">
                    <a href="/catalog/kalendari" class="btn c-button btn-slider" title="Календари">
                        <div class="c-ripple js-ripple">
                            <span class="c-ripple__circle"></span>
                        </div>
                        Купить
                    </a>
                </div>
            </div>
        </div>
        <div class="slick-slide-item image">
            <img src="/res/img/slider/Notebook.jpg" alt="slide1">
            <div class="slick-slide-text">
                <h2 class="title-slider">Большой выбор<br>Ежедневников</h2>
                <p class="info-slider"></p>
                <div class="btn-bl-sl">
                    <a href="/catalog/ezhednevniki-planingi-organayzery" class="btn c-button btn-slider" title="Выбрать тетрадь со скидкой 20%">
                        <div class="c-ripple js-ripple">
                            <span class="c-ripple__circle"></span>
                        </div>
                        Купить
                    </a>
                </div>
            </div>
        </div> 
        <!--<div class="slick-slide-item image">
            <img src="/res/img/slider/chairs.jpg" alt="slide1">
            <div class="slick-slide-text">
                <h2 class="title-slider"> <br>Стулья</h2>
                <p class="info-slider">Ну купи стульчик</p>
                <div class="btn-bl-sl">
                    <a href="/#" class="btn c-button btn-slider" title="Выбрать тетрадь со скидкой 20%">
                        <div class="c-ripple js-ripple">
                            <span class="c-ripple__circle"></span>
                        </div>
                       Стулья
                    </a>
                </div>
            </div>
        </div>
       <div class="slick-slide-item image">
            <img src="/res/img/slider/img.png" alt="slide1">
            <div class="slick-slide-text">
                <h2 class="title-slider">Рабочие тетради <br>KUMON</h2>
                <p class="info-slider">Японская методика развития для детей от 2 до 10 лет</p>
                <div class="btn-bl-sl">
                    <a href="/#" class="btn c-button btn-slider" title="Выбрать тетрадь со скидкой 20%">
                        <div class="c-ripple js-ripple">
                            <span class="c-ripple__circle"></span>
                        </div>
                        Выбрать тетрадь со скидкой 20%
                    </a>
                </div>
            </div>
        </div>
        <div class="slick-slide-item image">
            <img src="/res/img/slider/img.png" alt="slide1">
            <div class="slick-slide-text">
                <h2 class="title-slider">Рабочие тетради <br>KUMON</h2>
                <p class="info-slider">Японская методика развития для детей от 2 до 10 лет</p>
                <div class="btn-bl-sl">
                    <a href="/#" class="btn c-button btn-slider" title="Выбрать тетрадь со скидкой 20%">
                        <div class="c-ripple js-ripple">
                            <span class="c-ripple__circle"></span>
                        </div>
                        Выбрать тетрадь со скидкой 20%
                    </a>
                </div>
            </div>
        </div>
        <div class="slick-slide-item image">
            <img src="/res/img/slider/img.png" alt="slide1">
            <div class="slick-slide-text">
                <h2 class="title-slider">Рабочие тетради <br>KUMON</h2>
                <p class="info-slider">Японская методика развития для детей от 2 до 10 лет</p>
                <div class="btn-bl-sl">
                    <a href="/#" class="btn c-button btn-slider" title="Выбрать тетрадь со скидкой 20%">
                        <div class="c-ripple js-ripple">
                            <span class="c-ripple__circle"></span>
                        </div>
                        Выбрать тетрадь со скидкой 20%
                    </a>
                </div>
            </div>
        </div>-->
    </div>
    <div class="slick-thumbs">
        <ul class="slick-thumbs-list">
            <li>
                Новый сайт
            </li>
			<li>
                Чай Kali Laska
            </li>
            <li>
                Бесплатная доставка
            </li>
            <li>
                Календари
            </li>
           <!--  <li>
                Сертификаты
            </li>-->
            <li>
               Ежедневники
            </li>
           <!--<li>
                Стулья
            </li>
            <li>
                Faber-Castell −10%
            </li>
            <li>
                Наклейки −10%
            </li>-->
        </ul>
    </div>
</div>