<section th:fragment="scroltotop" xmlns:th="http://www.w3.org/1999/xhtml">
    <div class="scroll-page-nav">
        <button class="c-button nav_up" type="button">
            <div class="c-ripple js-ripple">
                <span class="c-ripple__circle"></span>
            </div>
        </button>
        <button class="c-button nav_down" type="button">
            <div class="c-ripple js-ripple">
                <span class="c-ripple__circle"></span>
            </div>
        </button>
    </div>
</section>