<div id="send-feedback-popup" class="send-feedback-popup-content mfp-hide"
		th:fragment="send-feedback-popup" xmlns:th="http://www.thymeleaf.org">
	<p>Оставить отзыв</p>
        <form>
            <div class="send-feedback-popup__fields">
                <span class="input input--ichiro">
                    <input class="input__field input__field--ichiro" type="text" name="your-name" id="send-feedback-input-name" />
                    <label class="input__label input__label--ichiro" for="send-feedback-input-name">
                        <span data-toggle="tooltip" class="input__label-content input__label-content--ichiro" id="send-feedback-label-name">Ваше Имя *</span>
                    </label>
                </span>
                <span class="input input--ichiro">
                    <input class="input__field input__field--ichiro" type="email" name="your-email" id="send-feedback-input-email" />
                    <label class="input__label input__label--ichiro" for="send-feedback-input-email">
                        <span data-toggle="tooltip" class="input__label-content input__label-content--ichiro" id="send-feedback-label-email">Ваш e-mail *</span>
                    </label>
                </span>
                <span class="input input--ichiro callback-form-field message-field">
                    <textarea class="input__field input__field--ichiro" name="your-feedback" id="send-description-textarea"></textarea>
                    <label class="input__label input__label--ichiro" for="send-description-textarea">
                        <span data-toggle="tooltip" class="input__label-content input__label-content--ichiro" id="send-description-label">Ваш отзыв *</span>
                    </label>
                </span>
            </div>
            <button class="c-button" type="submit" onclick="feedback()">
                <div class="c-ripple js-ripple">
                    <span class="c-ripple__circle"></span>
                </div>
                отправить
            </button>
        </form>
</div>