<div id="enter-popup" class="enter-popup-content morphbutton-content"
     th:fragment="login-popup" xmlns:th="http://www.w3.org/1999/xhtml">
    <button type="button" class="morphbutton-close"></button>
    <div class="enter-popup-wrap morphbutton-cascade">
        <h4>Войти на сайт</h4>
        <form>
                <span class="input input--ichiro enter-form-field">
                    <input class="input__field input__field--ichiro" type="email" name="your-email" id="enter-input-email" />
                    <label class="input__label input__label--ichiro" for="enter-input-email">
                        <span class="input__label-content input__label-content--ichiro" id="enter-input-email-title">Ваш e-mail или УНП *</span>
                </label>
                </span>
            <span class="input input--ichiro enter-form-field">
                    <input class="input__field input__field--ichiro" type="password" name="your-password" id="enter-input-password" />
                    <label class="input__label input__label--ichiro" for="enter-input-password">
                        <span class="input__label-content input__label-content--ichiro" id="enter-input-password-title">Пароль *</span>
                </label>
                </span>
            <div class="enter-form-buttons">
                <button class="c-button" type="subscribe" onclick="login()">
                    <div class="c-ripple js-ripple">
                        <span class="c-ripple__circle"></span>
                    </div>
                    войти
                </button>
                <a href="#password-recovery-popup" class="morphbutton-close open-password-recovery-popup close-morph" title="Забыли пароль?">Забыли пароль?</a>
            </div>
        </form>
        <div class="enter-popup-reg">
            <h5>Регистрация</h5>
            <!--<p>
                Регистрация в клубе <a href="/bonus">PAP-бонус</a> простая и быстрая.
            </p>
            <p>
                Вы не потеряете состав Вашей корзины и после регистрации сможете оформить покупку на выгодных условиях.
            </p>-->
            <a href="#registration-popup" class="morphbutton-close open-reg-popup c-button" title="Зарегистрироваться">
                <div class="c-ripple js-ripple">
                    <span class="c-ripple__circle"></span>
                </div>
                Зарегистрироваться
            </a>
        </div>
    </div>
</div>