<div id="password-recovery-popup" class="password-recovery-popup-content mfp-hide"
    th:fragment="password-recovery-popup" xmlns:th="http://www.thymeleaf.org">
    <div class="password-recovery-wrap">
        <h4>Восстановление пароля</h4>
        <p class="password-recovery__subtitle">
            Укажите адрес электронной почты, который вы использовали при регистрации
        </p>
        <form action="/">
                <span class="input input--ichiro password-recovery-field">
                    <input class="input__field input__field--ichiro" type="email" name="your-email" id="password-input-email" />
                    <label class="input__label input__label--ichiro" for="password-input-email">
                        <span class="input__label-content input__label-content--ichiro">Ваш e-mail *</span>
                </label>
                </span>
            <button class="c-button" type="submit">
                <div class="c-ripple js-ripple">
                    <span class="c-ripple__circle"></span>
                </div>
                получить инструкции
            </button>
        </form>
        <div>Нужна помощь? Звоните 695-25-25 (МТС, velcom, life:) или <a href="/">напишите нам</a></div>
    </div>
    <div class="password-recovery-buttons">
        <button class="open-morph" data-target="#enter-popup">
            войти
        </button>
        <a href="#registration-popup" class="open-reg-popup" title="Зарегистрироваться">
            Зарегистрироваться
        </a>
    </div>
</div>