<div id="password-recovery-popup" class="password-recovery-popup-content mfp-hide"
    th:fragment="password-recovery-popup" xmlns:th="http://www.thymeleaf.org">
    <div class="password-recovery-wrap">
        <h4>Восстановление пароля</h4>
        <p class="password-recovery__subtitle">
            Укажите адрес электронной почты, который вы использовали при регистрации
        </p>
        <form>
            <span class="input input--ichiro password-recovery-field">
                <input class="input__field input__field--ichiro" type="email" name="your-email" id="input-password-recovery-request" />
                <label class="input__label input__label--ichiro" for="input-password-recovery-request"
                id="label-password-recovery-request">
                    <span class="input__label-content input__label-content--ichiro">Ваш логин или УНП *</span>
                </label>
            </span>
            <button class="c-button" type="subscribe" onclick="sendPasswordRestoreRequest()">
                <div class="c-ripple js-ripple">
                    <span class="c-ripple__circle"></span>
                </div>
                получить инструкции
            </button>
        </form>
        <div>Нужна помощь? Звоните 715-60-60 (МТС, velcom) или <a href="#to-support-popup-message">напишите нам</a></div>
    </div>
    <div class="password-recovery-buttons">
        <button class="open-morph" data-target="#enter-popup">
            войти
        </button>
        <a href="#registration-popup" class="open-reg-popup" title="Зарегистрироваться">
            Зарегистрироваться
        </a>
    </div>
</div>