<div id="registration-popup" class="registration-popup-content mfp-hide"
     th:fragment="registration-popup" xmlns:th="http://www.thymeleaf.org">
    <div class="registration-popup-head">
        <h4>Регистрация</h4>
        <!--<div class="info-reg">
            <p>Клуб PAP-бонус – программа специальных цен и накопления бонусных баллов (1 PAP-бонус = 0,10 рубль) для клиентов нашего интернет-магазина.</p>
            <a href="/bonus">Подробнее о бонусной программе</a>
        </div>-->
    </div>
    <form id="registration-form" action="/login" method="post">
        <span class="input input--ichiro registration-form-field">
            <input class="input__field input__field--ichiro" type="text" name="reg-name" id="registration-input-name" />
            <label class="input__label input__label--ichiro" for="registration-input-name">
                <span class="input__label-content input__label-content--ichiro">Ваше Имя *</span>
            </label>
        </span>
        <span class="input input--ichiro registration-form-field">
            <input class="input__field input__field--ichiro" type="email" name="reg-email" id="registration-input-email" />
            <label class="input__label input__label--ichiro" for="registration-input-email">
                <span class="input__label-content input__label-content--ichiro">Ваш e-mail *</span>
            </label>
        </span>
        <input type="checkbox" name="subscribe" id="check-subscribe">
        <label for="check-subscribe">Уведомлять о доступных промокодах, подарках и спецпредложениях</label>
        <span class="input input--ichiro registration-form-field">
            <input class="input__field input__field--ichiro" type="password" name="password" id="registration-input-password" />
            <label class="input__label input__label--ichiro" for="registration-input-password">
                <span class="input__label-content input__label-content--ichiro">Пароль *</span>
            </label>
            <button type="button" class="show-password"></button>
        </span>
        <input type="checkbox" name="autopassword" id="check-autopassword">
        <label for="check-autopassword">Сформировать пароль автоматически</label>
        <span class="input input--ichiro registration-form-field">
            <input class="input__field input__field--ichiro phone" type="text" name="phone" id="registration-input-phone" />
            <label class="input__label input__label--ichiro" for="registration-input-phone">
                <span class="input__label-content input__label-content--ichiro">Мобильный телефон</span>
            </label>
        </span>
        <!--<input type="checkbox" name="check3" id="check3">
        <label for="check3">Хочу 250 PAP-бонусов за регистрацию с <a href="#">мобильным телефоном!</a></label>-->
        <!--<p class="t-label">
            <label>День рождения</label>
        </p>
        <div class="for-input">
            <input type="text" id="datepicker" class="inp-main" name="birthDate">
        </div>-->
        <!--<p class="checkb">На <a href="#">день рождения мы дарим</a> PAP-бонусы.</p>-->
        <input type="checkbox" name="isEnterprise" id="check-isenterprise" onclick="showEnterpriseForm()">
        <label for="check-isenterprise">регистрироваться как Юридическое лицо</label>
        <div id="enterpriseForm">
            <span class="input input--ichiro registration-form-field">
                <input class="input__field input__field--ichiro" type="text" name="entrp-reg-unp" id="registration-input-enterprise-unp" />
                <label class="input__label input__label--ichiro" for="registration-input-enterprise-unp">
                    <span class="input__label-content input__label-content--ichiro">УНП (можно будет использовать как логин)</span>
                </label>
            </span>
            <span class="input input--ichiro registration-form-field">
                <input class="input__field input__field--ichiro" type="text" name="entrp-reg-name" id="registration-input-enterprise-name" />
                <label class="input__label input__label--ichiro" for="registration-input-enterprise-name">
                    <span class="input__label-content input__label-content--ichiro">Название организации</span>
                </label>
            </span>
            <span class="input input--ichiro registration-form-field">
                <input class="input__field input__field--ichiro" type="text" name="entrp-reg-address" id="registration-input-enterprise-address" />
                <label class="input__label input__label--ichiro" for="registration-input-enterprise-address">
                    <span class="input__label-content input__label-content--ichiro">Юридический адрес</span>
                </label>
            </span>
            <span class="input input--ichiro registration-form-field">
                <input class="input__field input__field--ichiro" type="text" name="entrp-reg-bank" id="registration-input-enterprise-account-bank" />
                <label class="input__label input__label--ichiro" for="registration-input-enterprise-account-bank">
                    <span class="input__label-content input__label-content--ichiro">Название банка</span>
                </label>
            </span>
            <span class="input input--ichiro registration-form-field">
                <input class="input__field input__field--ichiro" type="text" name="entrp-reg-account" id="registration-input-enterprise-account" />
                <label class="input__label input__label--ichiro" for="registration-input-enterprise-account">
                    <span class="input__label-content input__label-content--ichiro">Расчетный счет</span>
                </label>
            </span>
            <span class="input input--ichiro registration-form-field">
                <input class="input__field input__field--ichiro" type="text" name="entrp-reg-bamk-code" id="registration-input-enterprise-account-bank-code" />
                <label class="input__label input__label--ichiro" for="registration-input-enterprise-account-bank-code">
                    <span class="input__label-content input__label-content--ichiro">БИК (код банка)</span>
                </label>
            </span>
        </div>

        <div class="podpreg">
            <p>Регистрация на сайте подразумевает обязательное согласие с <a href="#tandc">политикой конфиденциальности</a></p>
        </div>
        <div class="registration-popup-footer">
            <button class="btn c-button btn-sign btn-reg" type="subscribe" onclick="register()">
                <div class="c-ripple js-ripple">
                    <span class="c-ripple__circle"></span>
                </div>
                зарегистрироваться
            </button>
            <p>Есть регистрация?
                <button class="open-morph" data-target="#enter-popup">
                    Войти на сайт!
                </button>
            </p>
        </div>
    </form>
</div>