<main id="wrapp" th:fragment="about" xmlns:th="http://www.w3.org/1999/xhtml">
    <div class="wrapper">
        <ul class="breadCrumbs">
            <li><a href="/">Главная</a></li>
            <li>О компании</li>
        </ul>
        <aside class="blogSidebarGroup typicalAside">
            <ul class="blogCategoryList blogCategoryListWithOutTitle">
                <li class="active">
                    <a href="about.html">
                        <img src="/res/img/slider-arrow-left.png">
                        О компании
                    </a>
                </li>
                <li>
                    <a href="/help">
                        <img src="/res/img/slider-arrow-left.png">
                        Помощь
                    </a>
                </li>
                <li>
                    <a href="/bonus">
                        <img src="/res/img/slider-arrow-left.png">
                        PAP-бонус
                    </a>
                </li>
                <li>
                    <a href="/blog">
                        <img src="/res/img/slider-arrow-left.png">
                        Наш блог
                    </a>
                </li>
                <li>
                    <a href="/knowedgebase">
                        <img src="/res/img/slider-arrow-left.png">
                        База знаний
                    </a>
                </li>
                <li>
                    <a href="/delivery_and_payment">
                        <img src="/res/img/slider-arrow-left.png">
                        Доставка и оплата
                    </a>
                </li>
                <li>
                    <a href="/feedback">
                        <img src="/res/img/slider-arrow-left.png">
                        Отзывы
                    </a>
                </li>
                <li>
                    <a href="/contacts">
                        <img src="/res/img/slider-arrow-left.png">
                        Контакты
                    </a>
                </li>
            </ul>
        </aside>
        <section class="typicalSection">
            <div class="about-page">
                <h2>О нашей компании</h2>
                <h3>"Паперки" - комплексное снабжение бумагой, канцелярскими товарами и офисными принадлежностями.</h3>
                <p class="about-page-info">Компания Паперки работает на рынке офисной бумаги и канцелярских товаров уже 19 лет.
                    Наша миссия заключается в оказании помощи по снабжению любого офиса всем необходимым для стабильной работы и успешного развития.
                </p>
                <div class="representative">
                    <p>ООО “Паперки” являются официальным торговым представителем компаний:</p>
                    <ul>
                        <li>
                            <div class="company-logo">
                                <img src="/res/img/xerox-icon.png" alt="Xerox"/>
                            </div>
                            <p>
                                XEROX. Импортируем офисную, плоттерную, цветную и самокопирующуюся бумагу, а также фотобумагу и спецматериалы для печати.
                            </p>
                        </li>
                        <li>
                            <div class="company-logo">
                                <img src="/res/img/paper-fabrick.png" alt="УП Бумажная фабрика"/>
                            </div>
                            <p>
                                УП "Бумажная фабрика" Гознака. Предлагаем ассортимент офисной и рулонной бумаги, чековой ленты, школьно-письменных товаров и конвертов.
                            </p>
                        </li>
                    </ul>
                </div>
                <div class="our-office">
                    <h4>Все для офиса в Бресте</h4>
                    <ul>
                        <li>
                            <div class="office-pict">
                                <img src="/res/img/brest-office.png" alt="Brest office"/>
                            </div>
                            <p>
                                Вашему вниманию, по адресу: <a href="/#">г. Брест, ул. Советской Конституции, 1 (здание "Дом быта")</a>, представлен торгово-выставочный зал.
                                В этом зале можно увидеть, потрогать и даже испытать весь товар, который мы предлагаем.
                                Наши профессиональные сотрудники с радостью помогут с выбором и поделятся опытом.
                            </p>
                        </li>
                    </ul>
                </div>
                <div class="retail-stores">
                    <h4>РОЗНИЧНЫЕ МАГАЗИНЫ "КАНЦЕЛЯРСКИЕ ШТУЧКИ" В БРЕСТЕ:</h4>
                    <ul>
                        <li>
                            <div class="store-pict">
                                <img src="/res/img/store-pict1.png" alt="Брест, ул. Карбышева, 37"/>
                            </div>
                            <a href="#">Брест, ул. Карбышева, 37</a>
                        </li>
                        <li>
                            <div class="store-pict">
                                <img src="/res/img/store-pict2.png" alt="Брест, ул. Московская, 332"/>
                            </div>
                            <a href="#">Брест, ул. Московская, 332</a>
                        </li>
                    </ul>
                </div>
                <div class="our-office">
                    <h4>Филиал в Минске</h4>
                    <ul>
                        <li>
                            <div class="office-pict">
                                <img src="/res/img/minsk-store.png" alt="Minsk office"/>
                            </div>
                            <p>
                                Вашему вниманию, по адресу: <a href="/#">г. Минск, ул. Платонова, 36, офис 38</a>, представлен торгово-выставочный зал.
                                В этом зале можно увидеть, потрогать и даже испытать весь товар, который мы предлагаем.
                                Наши профессиональные сотрудники с радостью помогут с выбором и поделятся опытом.
                            </p>
                        </li>
                    </ul>
                </div>
                <div class="our-achievements">
                    <h5>Наши достижения!</h5>
                    <ul>
                        <li>
                            <p>
                                С <span>2005</span> года на предприятии внедренасистема менеджмента качества на соответствие требованиям СТБ ISO-9001.
                            </p>
                        </li>
                        <li>
                            <p>
                                <span>2006</span> г. - лауреат конкурса "Лучшие товары Республики Беларусь на рынке Российской Федерации" в номинации "Продукция производственно-технического   назначения. Конверты художественные."
                            </p>
                        </li>
                        <li>
                            <p>
                                <span>2008</span> г. - лауреат конкурса "Лучшие товары Республики Беларусь" в номинации "Промышленные товары для населения и изделия народных промыслов. Конверты фирменные."
                            </p>
                        </li>
                        <li>
                            <p>
                                <span>2009</span> г. - лауреат конкурса "Лучшие товары Республики Беларусь" в номинации "Бумага офисная цветная. Бумага для факса"
                            </p>
                        </li>
                        <li>
                            <p>
                                <span>2010</span> г. - серебрянный призер V Республиканского конкурса "Техносфера - 2009" в номинации "Лучшая новация года. Тетрадь с художественной обложкой"
                            </p>
                        </li>
                        <li>
                            <p>
                                <span>2011</span> г. - лауреат конкурса "Лучшие товары Республики Беларусь в 2011 году". Присвоен статус финалиста по следующим видам продукции:
                            </p>
                            <ul>
                                <li>
                                    <p>- тетради школьные</p>
                                <li>
                                    <p>- тетради общие.</p>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <div class="advantages">
                    <h5>Преимущества работы с нами:</h5>
                    <ul>
                        <li>
                            <div class="advantages-pict">
                                <img src="/res/img/ad1.png" alt="advantage"/>
                            </div>
                            <div class="advantages-text">
                                <p>Самовывоз в любой день</p>
                                <span>Оперативная доставка на выгодных условиях по Минску и Беларуси.</span>
                            </div>
                        </li>
                        <li>
                            <div class="advantages-pict">
                                <img src="/res/img/ad3.png" alt="advantage"/>
                            </div>
                            <div class="advantages-text">
                                <p>Большой ассортимент</p>
                                <span>Каталог товаров включает в себя более 6000 наименований продукции и постоянно обновляется.</span>
                            </div>
                        </li>
                        <li>
                            <div class="advantages-pict">
                                <img src="/res/img/ad2.png" alt="advantage"/>
                            </div>
                            <div class="advantages-text">
                                <p>Доставляем в день заказа</p>
                                <span>Мы доставим Ваш заказ БЕСПЛАТНО, если сумма заказа более 50 рублей</span>
                            </div>
                        </li>
                        <li>
                            <div class="advantages-pict">
                                <img src="/res/img/ad4.png" alt="advantage"/>
                            </div>
                            <div class="advantages-text">
                                <p>Подарки, акции, скидки</p>
                                <span>Отличные, всегда актуальные цены на качественные канцтовары. Регулярные распродажи, акции и скидки</span>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </section>
    </div>
</main>