<main id="wrapp" th:fragment="about" xmlns:th="http://www.thymeleaf.org">
        <div class="wrapper">
            <ul class="breadCrumbs">
                <li><a href="/">Главная</a></li>
                <li>О компании</li>
            </ul>
            <aside class="blogSidebarGroup typicalAside">
                <ul class="blogCategoryList blogCategoryListWithOutTitle">
                    <li th:each="menuitem : ${mainmenu}">
                        <a href="#" th:href="@{${menuitem.link}}">
                            <img src="/res/img/slider-arrow-left.png">
                            <span th:text="${menuitem.name}" th:remove="tag">О компании</span>
                        </a>
                    </li>
                </ul>
            </aside>
            <section class="typicalSection">
                <div class="about-page">
                    <h2>О нашей компании</h2>
                    <h3>ООО "Паперки" - комплексное снабжение бумагой, канцелярскими товарами и офисными принадлежностями.</h3>
                    <p class="about-page-info">Компания ООО «Паперки» работает на рынке офисной бумаги и канцелярских товаров на протяжении 20 лет.  За это время мы прошли путь: от маленькой компании с двумя сотрудниками в штате, до весомого  игрока на рынке с  офисами в г.Бресте и г.Минске, а также собственными розничными магазинами.</br>
												Своими главными задачами считаем:
												<ul>
													<li>- стать вашим надежным помощником в ежедневной работе;</li>
													<li>- сделать максимально простым и удобным  процесс снабжения ваших офисов всем необходимым для стабильного и  успешного развития вашего дела;</li>
													<li>- обеспечить полный  ассортимент товаров для учебы и ваших творческих увлечений;</li>
													<li>- быть верными принципам честного, открытого и взаимовыгодного сотрудничества.</li>
												</ul>
                    </p>
                   <!--<div class="representative">
                        <p>ООО “Паперки” являются официальным торговым представителем компаний:</p>
                        <ul>
                            <li>
                                <div class="company-logo">
                                    <img src="/res/img/xerox-icon.png" alt="Xerox"/>
                                </div>
                                <p>
                                    XEROX. Импортируем офисную, плоттерную, цветную и самокопирующуюся бумагу, а также фотобумагу и спецматериалы для печати.
                                </p>
                            </li>
                            <li>
                                <div class="company-logo">
                                    <img src="/res/img/paper-fabrick.png" alt="УП Бумажная фабрика"/>
                                </div>
                                <p>
                                    УП "Бумажная фабрика" Гознака. Предлагаем ассортимент офисной и рулонной бумаги, чековой ленты, школьно-письменных товаров и конвертов.
                                </p>
                            </li>
                        </ul>
                    </div>-->
                    <!--Мы ценим честность, порядочность и профессионализм и в своей деятельности придерживаемся этих качеств.-->
                    <!--Мы ценим честность, порядочность и профессионализм и в своей деятельности придерживаемся этих качеств.-->


                    <div class="our-office">
						<h2 style="color:#ff0000">Структура компании "Паперки":</h2>
							<h4>Офис в г.Бресте</h4>
                        <ul>
                            <li>
                                <div class="office-pict">
                                    <img src="/res/img/brest-office.png" alt="Brest office"/>
                                </div>
                                <p>
                                    
									По адресу <a href="/contacts">ул. Советской Конституции, 1 (здание «Дома быта»)</a> находится наш торгово-выставочный зал.
									Здесь вы можете увидеть, потрогать и даже испытать весь товар, который мы предлагаем. 
									Команда наших менеджеров всегда поможет  выбрать тот товар, который подходит именно вам. 
									Вы можете сделать заявку и оформить счет в удобной для вас форме: лично, прислать по факсу, позвонить по телефону, на сайте....
                                </p>
                            </li>
                        </ul>
                    </div>
					<div class="our-office">
							<h4>Склад в г.Бресте</h4>
                        <ul>
                            <li>
                                <div class="office-pict">
                                    <img src="/res/img/skladphoto.jpg" alt="Brest sclad" style="-webkit-border-radius: 10px;"/>
                                </div>
                                <p>
                                    
									<b>По адресу<a href="/contacts"> ул.Янки Купалы, 88 В(территория базы "Обувьторг")</a>, 5 мин. езды от офиса, находится пункт выдачи и самовывоза товара. Здесь Вы можете:<b>
										выписать счет,
										оформить накладную,
										получить товар — все в одном месте.</br>
									На складе установлен расчетный терминал, что дает возможность рассчитаться банковской картой. </br>
									А также можно приобрести товар за наличный расчет с оформлением всех необходимых  отчетных документов.</br>
									
                                </p>
                            </li>
                        </ul>
                    </div>
					<center style="font-size: 14pt;">Для удобства наших клиентов имеется парковка с удобным подъездом к ней</center></br> 
                    <div class="retail-stores">
                        <h4>РОЗНИЧНЫЕ МАГАЗИНЫ "КАНЦЕЛЯРСКИЕ ШТУЧКИ" В БРЕСТЕ:</h4>
                        <ul>
                            <li>
                                <div class="store-pict">
                                    <img src="/res/img/store-pict1.png" alt="Брест, ул. Карбышева, 37(торговая площадь 100 кв.м.)"/>
                                </div>
                                <a href="about.html#">ул. Карбышева, 37 (торговая площадь 100 кв.м.)</a>
                            </li>
                            <li>
                                <div class="store-pict">
                                    <img src="/res/img/store-pict2.png" alt="Брест, ул. Московская, 332(торговая площадь 100 кв.м.)"/>
                                </div>
                                <a href="/about">ул. Московская, 332 (торговая площадь 100 кв.м.)</a>
                            </li>
                        </ul>
							<b><p style="text-indent: 25px;">Площади магазинов и опыт работы с канцелярскими товарами позволяют  иметь ассортимент, способный удовлетворить запросы  как корпоративных клиентов, так и физических лиц.
							Большой выбор канцтоваров для школьников и детского творчества.
							Приобрести товары  можно за наличный и безналичный расчет. 
							При необходимости можно заказать доставку в любую точку города Бреста.</p></br>
							<p style="text-indent: 25px;">Для постоянных розничных  клиентов мы предоставляем дисконтные карты, которые позволят вам стать участником программы бонусов и скидок. 
							Вы также можете приобрести подарочные сертификаты себе или своим близким.</p></b>

                    </div>
                    <div class="our-office">
                        <h4>Филиал в Минске</h4>
                        <ul>
                            <li>
                                <div class="office-pict">
                                    <img src="/res/img/minsk-store.png" alt="Minsk office"/>
                                </div>
                                <p>
                                   Филиал находится по адресу <a href="/contacts">ул. Платонова, 36, офис 27</a> и работает только с юридическими лицами. 
								   Здесь же находится склад, что позволит вам посмотреть, потрогать и даже испытать любой из предлагаемых товаров. 
								   Наши профессиональные сотрудники помогут Вам сделать оптимальный выбор и  приобрести качественные товары по приемлемым ценам. 
                                </p>
                            </li>
                        </ul>
                    </div>
                    <!--<div class="our-achievements">
                        <h5>Наши достижения!</h5>
                        <ul>
                            <li>
                                <p>
                                    С <span>2005</span> года на предприятии внедренасистема менеджмента качества на соответствие требованиям СТБ ISO-9001.
                                </p>
                            </li>
                            <li>
                                <p>
                                    <span>2006</span> г. - лауреат конкурса "Лучшие товары Республики Беларусь на рынке Российской Федерации" в номинации "Продукция производственно-технического   назначения. Конверты художественные."
                                </p>
                            </li>
                            <li>
                                <p>
                                    <span>2008</span> г. - лауреат конкурса "Лучшие товары Республики Беларусь" в номинации "Промышленные товары для населения и изделия народных промыслов. Конверты фирменные."
                                </p>
                            </li>
                            <li>
                                <p>
                                    <span>2009</span> г. - лауреат конкурса "Лучшие товары Республики Беларусь" в номинации "Бумага офисная цветная. Бумага для факса"
                                </p>
                            </li>
                            <li>
                                <p>
                                    <span>2010</span> г. - серебрянный призер V Республиканского конкурса "Техносфера - 2009" в номинации "Лучшая новация года. Тетрадь с художественной обложкой"
                                </p>
                            </li>
                            <li>
                                <p>
                                    <span>2011</span> г. - лауреат конкурса "Лучшие товары Республики Беларусь в 2011 году". Присвоен статус финалиста по следующим видам продукции:
                                </p>
                                <ul>
                                    <li>
                                        <p>- тетради школьные</p>
                                    <li>
                                        <p>- тетради общие.</p>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>-->
                    <div class="advantages">
                        <h5>5 причин работать именно с нами:</h5>
                        <ul>
                            <li>
                                <div class="advantages-pict">
                                    <img src="/res/img/ad1.png" alt="advantage"/>
                                </div>
                                <div class="advantages-text">
                                    <p>ВЫСТАВОЧНЫЙ ЗАЛ</p>
                                    <span>В г.Бресте, где можно увидеть весь ассортимент товара, который представлен на нашем сайте.</span>
                                </div>
                            </li>
                            <li>
                                <div class="advantages-pict">
                                    <img src="/res/img/ad3.png" alt="advantage"/>
                                </div>
                                <div class="advantages-text">
                                    <p>Самовывоз</p>
                                    <span>Ежедневно (кроме выходных: суббота, воскресенье).</span>
                                </div>
                            </li>
                            <li>
                                <div class="advantages-pict">
                                    <img src="/res/img/ad2.png" alt="advantage"/>
                                </div>
                                <div class="advantages-text">
                                    <p>БЕСПЛАТНАЯ доставка </p>
                                    <span>От любой суммы заказа по г.Бресту и Брестской области.</span>
                                </div>
                            </li>
                            <li>
                                <div class="advantages-pict">
                                    <img src="/res/img/ad2.png" alt="advantage"/>
                                </div>
                                <div class="advantages-text">
                                    <p>ЕЖЕДНЕВНАЯ доставка</p>
                                    <span>По г.Бресту (кроме выходных: суббота, воскресенье).</span>
                                </div>
                            </li>
							 <li>
                                <div class="advantages-pict">
                                    <img src="/res/img/ad4.png" alt="advantage"/>
                                </div>
                                <div class="advantages-text">
                                    <p>РАБОТА "ПОД ЗАКАЗ"</p>
                                    <span>Если вы не нашли подходящий товар у нас на сайте, то у вас есть возможность оформить на него заказ.</span>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </section>
        </div>
</main>