<main id="wrapp" th:fragment="blog" xmlns:th="http://www.w3.org/1999/xhtml">
    <div class="wrapper">
        <ul class="breadCrumbs">
            <li><a href="/">Главная</a></li>
            <li>Блог</li>
        </ul>
        <div class="blogParent">
            <section class="blogHolder">
                <div class="blogHolderRow clearfix">
                    <div class="blogPreviewWrapper">
                        <div class="blogPreviewHolder blogPreviewHolderHeight">
                            <div class="blogPreviewTop">
                                <img src="/res/img/blog_min1.png">
                                <h3><a href="#">Дарим подарки в свой день рождения!</a></h3>
                                <p class="blogPreviewPostIfo">
                                    <a href="#" class="postCat">Рукоделие</a> / <a href="#" class="postDate">05 Мая 2017</a> / Публикация&nbsp;от:&nbsp;<a href="#" class="postAutor">Админ</a>
                                </p>
                            </div>
                            <div class="blogPreviewBottom">
                                <p>
                                    Равным образом постоянный количественный рост и сфера нашей активности играет важную роль в формировании дальнейших направлений развития.
                                </p>
                                <a href="#" class="blogPreviewMoreDetails">
                                    <img src="/res/img/catalog-navigation-all-icon-hover.png">
                                    <span> подробнее</span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="blogPreviewWrapper">
                        <div class="blogPreviewHolder blogPreviewHolderHeight">
                            <div class="blogPreviewTop">
                                <img src="/res/img/blog_min2.png">
                                <h3><a href="#">Поздравляем с 9 мая!</a></h3>
                                <p class="blogPreviewPostIfo">
                                    <a href="#" class="postCat">Рукоделие</a> / <a href="#" class="postDate">05 Мая 2017</a> / Публикация&nbsp;от:&nbsp;<a href="#" class="postAutor">Админ</a>
                                </p>
                            </div>
                            <div class="blogPreviewBottom">
                                <p>
                                    Равным образом постоянный количественный рост и сфера нашей активности играет важную роль в формировании дальнейших направлений развития.
                                </p>
                                <a href="#" class="blogPreviewMoreDetails">
                                    <img src="/res/img/catalog-navigation-all-icon-hover.png">
                                    <span> подробнее</span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="blogPreviewWrapper">
                        <div class="blogPreviewHolder blogPreviewHolderHeight">
                            <div class="blogPreviewTop">
                                <img src="/res/img/blog_min3.png">
                                <h3><a href="#">Доски NAGA - стильный аксессуар для работы и интерьера!</a></h3>
                                <p class="blogPreviewPostIfo">
                                    <a href="#" class="postCat">Рукоделие</a> / <a href="#" class="postDate">05 Мая 2017</a> / Публикация&nbsp;от:&nbsp;<a href="#" class="postAutor">Админ</a>
                                </p>
                            </div>
                            <div class="blogPreviewBottom">
                                <p>
                                    Равным образом постоянный количественный рост и сфера нашей активности играет важную роль в формировании дальнейших направлений развития.
                                </p>
                                <a href="#" class="blogPreviewMoreDetails">
                                    <img src="/res/img/catalog-navigation-all-icon-hover.png">
                                    <span> подробнее</span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="blogPreviewWrapper">
                        <div class="blogPreviewHolder blogPreviewHolderHeight">
                            <div class="blogPreviewTop">
                                <img src="/res/img/blog_min1.png">
                                <h3><a href="#">Дарим подарки в свой день рождения!</a></h3>
                                <p class="blogPreviewPostIfo">
                                    <a href="#" class="postCat">Рукоделие</a> / <a href="#" class="postDate">05 Мая 2017</a> / Публикация&nbsp;от:&nbsp;<a href="#" class="postAutor">Админ</a>
                                </p>
                            </div>
                            <div class="blogPreviewBottom">
                                <p>
                                    Равным образом постоянный количественный рост и сфера нашей активности играет важную роль в формировании дальнейших направлений развития.
                                </p>
                                <a href="#" class="blogPreviewMoreDetails">
                                    <img src="/res/img/catalog-navigation-all-icon-hover.png">
                                    <span> подробнее</span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="blogPreviewWrapper">
                        <div class="blogPreviewHolder blogPreviewHolderHeight">
                            <div class="blogPreviewTop">
                                <img src="/res/img/blog_min2.png">
                                <h3><a href="#">Поздравляем с 9 мая!</a></h3>
                                <p class="blogPreviewPostIfo">
                                    <a href="#" class="postCat">Рукоделие</a> / <a href="#" class="postDate">05 Мая 2017</a> / Публикация&nbsp;от:&nbsp;<a href="#" class="postAutor">Админ</a>
                                </p>
                            </div>
                            <div class="blogPreviewBottom">
                                <p>
                                    Равным образом постоянный количественный рост и сфера нашей активности играет важную роль в формировании дальнейших направлений развития.
                                </p>
                                <a href="#" class="blogPreviewMoreDetails">
                                    <img src="/res/img/catalog-navigation-all-icon-hover.png">
                                    <span> подробнее</span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="blogPreviewWrapper">
                        <div class="blogPreviewHolder blogPreviewHolderHeight">
                            <div class="blogPreviewTop">
                                <img src="/res/img/blog_min3.png">
                                <h3><a href="#">Доски NAGA - стильный аксессуар для работы и интерьера!</a></h3>
                                <p class="blogPreviewPostIfo">
                                    <a href="#" class="postCat">Рукоделие</a> / <a href="#" class="postDate">05 Мая 2017</a> / Публикация&nbsp;от:&nbsp;<a href="#" class="postAutor">Админ</a>
                                </p>
                            </div>
                            <div class="blogPreviewBottom">
                                <p>
                                    Равным образом постоянный количественный рост и сфера нашей активности играет важную роль в формировании дальнейших направлений развития.
                                </p>
                                <a href="#" class="blogPreviewMoreDetails">
                                    <img src="/res/img/catalog-navigation-all-icon-hover.png">
                                    <span> подробнее</span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="blogPreviewWrapper">
                        <div class="blogPreviewHolder blogPreviewHolderHeight">
                            <div class="blogPreviewTop">
                                <img src="/res/img/blog_min1.png">
                                <h3><a href="#">Дарим подарки в свой день рождения!</a></h3>
                                <p class="blogPreviewPostIfo">
                                    <a href="#" class="postCat">Рукоделие</a> / <a href="#" class="postDate">05 Мая 2017</a> / Публикация&nbsp;от:&nbsp;<a href="#" class="postAutor">Админ</a>
                                </p>
                            </div>
                            <div class="blogPreviewBottom">
                                <p>
                                    Равным образом постоянный количественный рост и сфера нашей активности играет важную роль в формировании дальнейших направлений развития.
                                </p>
                                <a href="#" class="blogPreviewMoreDetails">
                                    <img src="/res/img/catalog-navigation-all-icon-hover.png">
                                    <span> подробнее</span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="blogPreviewWrapper">
                        <div class="blogPreviewHolder blogPreviewHolderHeight">
                            <div class="blogPreviewTop">
                                <img src="/res/img/blog_min2.png">
                                <h3><a href="#">Поздравляем с 9 мая!</a></h3>
                                <p class="blogPreviewPostIfo">
                                    <a href="#" class="postCat">Рукоделие</a> / <a href="#" class="postDate">05 Мая 2017</a> / Публикация&nbsp;от:&nbsp;<a href="#" class="postAutor">Админ</a>
                                </p>
                            </div>
                            <div class="blogPreviewBottom">
                                <p>
                                    Равным образом постоянный количественный рост и сфера нашей активности играет важную роль в формировании дальнейших направлений развития.
                                </p>
                                <a href="#" class="blogPreviewMoreDetails">
                                    <img src="/res/img/catalog-navigation-all-icon-hover.png">
                                    <span> подробнее</span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="blogPreviewWrapper">
                        <div class="blogPreviewHolder blogPreviewHolderHeight">
                            <div class="blogPreviewTop">
                                <img src="/res/img/blog_min3.png">
                                <h3><a href="#">Доски NAGA - стильный аксессуар для работы и интерьера!</a></h3>
                                <p class="blogPreviewPostIfo">
                                    <a href="#" class="postCat">Рукоделие</a> / <a href="#" class="postDate">05 Мая 2017</a> / Публикация&nbsp;от:&nbsp;<a href="#" class="postAutor">Админ</a>
                                </p>
                            </div>
                            <div class="blogPreviewBottom">
                                <p>
                                    Равным образом постоянный количественный рост и сфера нашей активности играет важную роль в формировании дальнейших направлений развития.
                                </p>
                                <a href="#" class="blogPreviewMoreDetails">
                                    <img src="/res/img/catalog-navigation-all-icon-hover.png">
                                    <span> подробнее</span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="blogPreviewWrapper">
                        <div class="blogPreviewHolder blogPreviewHolderHeight">
                            <div class="blogPreviewTop">
                                <img src="/res/img/blog_min1.png">
                                <h3><a href="#">Дарим подарки в свой день рождения!</a></h3>
                                <p class="blogPreviewPostIfo">
                                    <a href="#" class="postCat">Рукоделие</a> / <a href="#" class="postDate">05 Мая 2017</a> / Публикация&nbsp;от:&nbsp;<a href="#" class="postAutor">Админ</a>
                                </p>
                            </div>
                            <div class="blogPreviewBottom">
                                <p>
                                    Равным образом постоянный количественный рост и сфера нашей активности играет важную роль в формировании дальнейших направлений развития.
                                </p>
                                <a href="#" class="blogPreviewMoreDetails">
                                    <img src="/res/img/catalog-navigation-all-icon-hover.png">
                                    <span> подробнее</span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="blogPreviewWrapper">
                        <div class="blogPreviewHolder blogPreviewHolderHeight">
                            <div class="blogPreviewTop">
                                <img src="/res/img/blog_min2.png">
                                <h3><a href="#">Поздравляем с 9 мая!</a></h3>
                                <p class="blogPreviewPostIfo">
                                    <a href="#" class="postCat">Рукоделие</a> / <a href="#" class="postDate">05 Мая 2017</a> / Публикация&nbsp;от:&nbsp;<a href="#" class="postAutor">Админ</a>
                                </p>
                            </div>
                            <div class="blogPreviewBottom">
                                <p>
                                    Равным образом постоянный количественный рост и сфера нашей активности играет важную роль в формировании дальнейших направлений развития.
                                </p>
                                <a href="#" class="blogPreviewMoreDetails">
                                    <img src="/res/img/catalog-navigation-all-icon-hover.png">
                                    <span> подробнее</span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="blogPreviewWrapper">
                        <div class="blogPreviewHolder blogPreviewHolderHeight">
                            <div class="blogPreviewTop">
                                <img src="/res/img/blog_min3.png">
                                <h3><a href="#">Доски NAGA - стильный аксессуар для работы и интерьера!</a></h3>
                                <p class="blogPreviewPostIfo">
                                    <a href="#" class="postCat">Рукоделие</a> / <a href="#" class="postDate">05 Мая 2017</a> / Публикация&nbsp;от:&nbsp;<a href="#" class="postAutor">Админ</a>
                                </p>
                            </div>
                            <div class="blogPreviewBottom">
                                <p>
                                    Равным образом постоянный количественный рост и сфера нашей активности играет важную роль в формировании дальнейших направлений развития.
                                </p>
                                <a href="#" class="blogPreviewMoreDetails">
                                    <img src="/res/img/catalog-navigation-all-icon-hover.png">
                                    <span> подробнее</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- <a href="#" class="products-list-page__show-more c-button" title="показать ещё">
                    <div class="c-ripple js-ripple">
                        <span class="c-ripple__circle"></span>
                    </div>
                    показать ещё
                </a> -->
            </section>
            
        </div><!--blogParent-->

    </div>
</main>