<main id="wrapp" th:fragment="blog" xmlns:th="http://www.thymeleaf.org">
    <div class="wrapper">
        <ul class="breadCrumbs">
            <li><a href="/">Главная</a></li>
            <li>Блог</li>
        </ul>
        <div class="blogParent">
            <section class="blogHolder">
                <div class="blogHolderRow clearfix">


                    <div class="blogPreviewWrapper">
                        <div class="blogPreviewHolder blogPreviewHolderHeight">
                            <div class="blogPreviewTop">
                                <!--<img src="/res/img/blog_min1.png">-->
                                <h3><a href="/blog/backpack">Покупай бумагу, получай рюкзак в подарок</a></h3>
                                <p class="blogPreviewPostIfo">
                                    <a href="#" class="postDate">2017-10-26</a>
                                </p>
                            </div>
                            <div class="blogPreviewBottom">
                                <p>
                                    При единовременном заказе от 60 пачек Xerox Performer или Xerox Office + от 5 пачек Xerox Марафон Премьер – стильный РЮКЗАК в подарок
                                </p>
                                <a href="/blog/backpack" class="blogPreviewMoreDetails">
                                    <img src="/res/img/catalog-navigation-all-icon-hover.png">
                                    <span> подробнее</span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="blogPreviewWrapper">
                        <div class="blogPreviewHolder blogPreviewHolderHeight">
                            <div class="blogPreviewTop">
                                <!--<img src="/res/img/blog_min1.png">-->
                                <h3><a href="/blog/binding">Подшивай документы без усилий с апс 168а</a></h3>
                                <p class="blogPreviewPostIfo">
                                    <a href="#" class="postDate">2017-10-24</a>
                                </p>
                            </div>
                            <div class="blogPreviewBottom">
                                <p>
                                    Переплетная архивная система АПС 168А - это уникальный настольный станок, предназначенный для того, чтобы без усилий подшивать бухгалтерские, архивные и любые другие документы.
                                </p>
                                <a href="/blog/binding" class="blogPreviewMoreDetails">
                                    <img src="/res/img/catalog-navigation-all-icon-hover.png">
                                    <span> подробнее</span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="blogPreviewWrapper">
                        <div class="blogPreviewHolder blogPreviewHolderHeight">
                            <div class="blogPreviewTop">
                                <!--<img src="/res/img/blog_min1.png">-->
                                <h3><a href="/blog/boards">Доски naga – стильный аксессуар для работы и интерьера</a></h3>
                                <p class="blogPreviewPostIfo">
                                    <a href="#" class="postDate">2017-10-24</a>
                                </p>
                            </div>
                            <div class="blogPreviewBottom">
                                <p>
                                    Стеклянные доски NAGA – это идеальный вариант магнитных досок, которые предназначены для выполнения различных задач.Несомненно их можно назвать оптимальным решением вопросов своевременного донесения кратковременной, но важной информации до сотрудников разных отраслей промышленности, современного бизнеса и образования.
                                </p>
                                <a href="/blog/boards" class="blogPreviewMoreDetails">
                                    <img src="/res/img/catalog-navigation-all-icon-hover.png">
                                    <span> подробнее</span>
                                </a>
                            </div>
                        </div>
                    </div>






                </div>

            </section>
            
        </div>

    </div>
</main>