<main id="wrapp" th:fragment="blog" xmlns:th="http://www.w3.org/1999/xhtml">
    <div class="wrapper">
        <ul class="breadCrumbs">
            <li><a href="index.html">Главная</a></li>
            <li>Блог</li>
        </ul>
        <div class="blogParent">
            <section class="blogHolder">
                <div class="blogHolderRow clearfix">
                    <div class="blogPreviewWrapper">
                        <div class="blogPreviewHolder blogPreviewHolderHeight">
                            <div class="blogPreviewTop">
                                <img src="img/blog_min1.png">
                                <h3><a href="#">Дарим подарки в свой день рождения!</a></h3>
                                <p class="blogPreviewPostIfo">
                                    <a href="#" class="postCat">Рукоделие</a> / <a href="#" class="postDate">05 Мая 2017</a> / Публикация&nbsp;от:&nbsp;<a href="#" class="postAutor">Админ</a>
                                </p>
                            </div>
                            <div class="blogPreviewBottom">
                                <p>
                                    Равным образом постоянный количественный рост и сфера нашей активности играет важную роль в формировании дальнейших направлений развития.
                                </p>
                                <a href="#" class="blogPreviewMoreDetails">
                                    <img src="img/catalog__navigation-all-icon-hover.png">
                                    <span> подробнее</span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="blogPreviewWrapper">
                        <div class="blogPreviewHolder blogPreviewHolderHeight">
                            <div class="blogPreviewTop">
                                <img src="img/blog_min2.png">
                                <h3><a href="#">Поздравляем с 9 мая!</a></h3>
                                <p class="blogPreviewPostIfo">
                                    <a href="#" class="postCat">Рукоделие</a> / <a href="#" class="postDate">05 Мая 2017</a> / Публикация&nbsp;от:&nbsp;<a href="#" class="postAutor">Админ</a>
                                </p>
                            </div>
                            <div class="blogPreviewBottom">
                                <p>
                                    Равным образом постоянный количественный рост и сфера нашей активности играет важную роль в формировании дальнейших направлений развития.
                                </p>
                                <a href="#" class="blogPreviewMoreDetails">
                                    <img src="img/catalog__navigation-all-icon-hover.png">
                                    <span> подробнее</span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="blogPreviewWrapper">
                        <div class="blogPreviewHolder blogPreviewHolderHeight">
                            <div class="blogPreviewTop">
                                <img src="img/blog_min3.png">
                                <h3><a href="#">Доски NAGA - стильный аксессуар для работы и интерьера!</a></h3>
                                <p class="blogPreviewPostIfo">
                                    <a href="#" class="postCat">Рукоделие</a> / <a href="#" class="postDate">05 Мая 2017</a> / Публикация&nbsp;от:&nbsp;<a href="#" class="postAutor">Админ</a>
                                </p>
                            </div>
                            <div class="blogPreviewBottom">
                                <p>
                                    Равным образом постоянный количественный рост и сфера нашей активности играет важную роль в формировании дальнейших направлений развития.
                                </p>
                                <a href="#" class="blogPreviewMoreDetails">
                                    <img src="img/catalog__navigation-all-icon-hover.png">
                                    <span> подробнее</span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="blogPreviewWrapper">
                        <div class="blogPreviewHolder blogPreviewHolderHeight">
                            <div class="blogPreviewTop">
                                <img src="img/blog_min1.png">
                                <h3><a href="#">Дарим подарки в свой день рождения!</a></h3>
                                <p class="blogPreviewPostIfo">
                                    <a href="#" class="postCat">Рукоделие</a> / <a href="#" class="postDate">05 Мая 2017</a> / Публикация&nbsp;от:&nbsp;<a href="#" class="postAutor">Админ</a>
                                </p>
                            </div>
                            <div class="blogPreviewBottom">
                                <p>
                                    Равным образом постоянный количественный рост и сфера нашей активности играет важную роль в формировании дальнейших направлений развития.
                                </p>
                                <a href="#" class="blogPreviewMoreDetails">
                                    <img src="img/catalog__navigation-all-icon-hover.png">
                                    <span> подробнее</span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="blogPreviewWrapper">
                        <div class="blogPreviewHolder blogPreviewHolderHeight">
                            <div class="blogPreviewTop">
                                <img src="img/blog_min2.png">
                                <h3><a href="#">Поздравляем с 9 мая!</a></h3>
                                <p class="blogPreviewPostIfo">
                                    <a href="#" class="postCat">Рукоделие</a> / <a href="#" class="postDate">05 Мая 2017</a> / Публикация&nbsp;от:&nbsp;<a href="#" class="postAutor">Админ</a>
                                </p>
                            </div>
                            <div class="blogPreviewBottom">
                                <p>
                                    Равным образом постоянный количественный рост и сфера нашей активности играет важную роль в формировании дальнейших направлений развития.
                                </p>
                                <a href="#" class="blogPreviewMoreDetails">
                                    <img src="img/catalog__navigation-all-icon-hover.png">
                                    <span> подробнее</span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="blogPreviewWrapper">
                        <div class="blogPreviewHolder blogPreviewHolderHeight">
                            <div class="blogPreviewTop">
                                <img src="img/blog_min3.png">
                                <h3><a href="#">Доски NAGA - стильный аксессуар для работы и интерьера!</a></h3>
                                <p class="blogPreviewPostIfo">
                                    <a href="#" class="postCat">Рукоделие</a> / <a href="#" class="postDate">05 Мая 2017</a> / Публикация&nbsp;от:&nbsp;<a href="#" class="postAutor">Админ</a>
                                </p>
                            </div>
                            <div class="blogPreviewBottom">
                                <p>
                                    Равным образом постоянный количественный рост и сфера нашей активности играет важную роль в формировании дальнейших направлений развития.
                                </p>
                                <a href="#" class="blogPreviewMoreDetails">
                                    <img src="img/catalog__navigation-all-icon-hover.png">
                                    <span> подробнее</span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="blogPreviewWrapper">
                        <div class="blogPreviewHolder blogPreviewHolderHeight">
                            <div class="blogPreviewTop">
                                <img src="img/blog_min1.png">
                                <h3><a href="#">Дарим подарки в свой день рождения!</a></h3>
                                <p class="blogPreviewPostIfo">
                                    <a href="#" class="postCat">Рукоделие</a> / <a href="#" class="postDate">05 Мая 2017</a> / Публикация&nbsp;от:&nbsp;<a href="#" class="postAutor">Админ</a>
                                </p>
                            </div>
                            <div class="blogPreviewBottom">
                                <p>
                                    Равным образом постоянный количественный рост и сфера нашей активности играет важную роль в формировании дальнейших направлений развития.
                                </p>
                                <a href="#" class="blogPreviewMoreDetails">
                                    <img src="img/catalog__navigation-all-icon-hover.png">
                                    <span> подробнее</span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="blogPreviewWrapper">
                        <div class="blogPreviewHolder blogPreviewHolderHeight">
                            <div class="blogPreviewTop">
                                <img src="img/blog_min2.png">
                                <h3><a href="#">Поздравляем с 9 мая!</a></h3>
                                <p class="blogPreviewPostIfo">
                                    <a href="#" class="postCat">Рукоделие</a> / <a href="#" class="postDate">05 Мая 2017</a> / Публикация&nbsp;от:&nbsp;<a href="#" class="postAutor">Админ</a>
                                </p>
                            </div>
                            <div class="blogPreviewBottom">
                                <p>
                                    Равным образом постоянный количественный рост и сфера нашей активности играет важную роль в формировании дальнейших направлений развития.
                                </p>
                                <a href="#" class="blogPreviewMoreDetails">
                                    <img src="img/catalog__navigation-all-icon-hover.png">
                                    <span> подробнее</span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="blogPreviewWrapper">
                        <div class="blogPreviewHolder blogPreviewHolderHeight">
                            <div class="blogPreviewTop">
                                <img src="img/blog_min3.png">
                                <h3><a href="#">Доски NAGA - стильный аксессуар для работы и интерьера!</a></h3>
                                <p class="blogPreviewPostIfo">
                                    <a href="#" class="postCat">Рукоделие</a> / <a href="#" class="postDate">05 Мая 2017</a> / Публикация&nbsp;от:&nbsp;<a href="#" class="postAutor">Админ</a>
                                </p>
                            </div>
                            <div class="blogPreviewBottom">
                                <p>
                                    Равным образом постоянный количественный рост и сфера нашей активности играет важную роль в формировании дальнейших направлений развития.
                                </p>
                                <a href="#" class="blogPreviewMoreDetails">
                                    <img src="img/catalog__navigation-all-icon-hover.png">
                                    <span> подробнее</span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="blogPreviewWrapper">
                        <div class="blogPreviewHolder blogPreviewHolderHeight">
                            <div class="blogPreviewTop">
                                <img src="img/blog_min1.png">
                                <h3><a href="#">Дарим подарки в свой день рождения!</a></h3>
                                <p class="blogPreviewPostIfo">
                                    <a href="#" class="postCat">Рукоделие</a> / <a href="#" class="postDate">05 Мая 2017</a> / Публикация&nbsp;от:&nbsp;<a href="#" class="postAutor">Админ</a>
                                </p>
                            </div>
                            <div class="blogPreviewBottom">
                                <p>
                                    Равным образом постоянный количественный рост и сфера нашей активности играет важную роль в формировании дальнейших направлений развития.
                                </p>
                                <a href="#" class="blogPreviewMoreDetails">
                                    <img src="img/catalog__navigation-all-icon-hover.png">
                                    <span> подробнее</span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="blogPreviewWrapper">
                        <div class="blogPreviewHolder blogPreviewHolderHeight">
                            <div class="blogPreviewTop">
                                <img src="img/blog_min2.png">
                                <h3><a href="#">Поздравляем с 9 мая!</a></h3>
                                <p class="blogPreviewPostIfo">
                                    <a href="#" class="postCat">Рукоделие</a> / <a href="#" class="postDate">05 Мая 2017</a> / Публикация&nbsp;от:&nbsp;<a href="#" class="postAutor">Админ</a>
                                </p>
                            </div>
                            <div class="blogPreviewBottom">
                                <p>
                                    Равным образом постоянный количественный рост и сфера нашей активности играет важную роль в формировании дальнейших направлений развития.
                                </p>
                                <a href="#" class="blogPreviewMoreDetails">
                                    <img src="img/catalog__navigation-all-icon-hover.png">
                                    <span> подробнее</span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="blogPreviewWrapper">
                        <div class="blogPreviewHolder blogPreviewHolderHeight">
                            <div class="blogPreviewTop">
                                <img src="img/blog_min3.png">
                                <h3><a href="#">Доски NAGA - стильный аксессуар для работы и интерьера!</a></h3>
                                <p class="blogPreviewPostIfo">
                                    <a href="#" class="postCat">Рукоделие</a> / <a href="#" class="postDate">05 Мая 2017</a> / Публикация&nbsp;от:&nbsp;<a href="#" class="postAutor">Админ</a>
                                </p>
                            </div>
                            <div class="blogPreviewBottom">
                                <p>
                                    Равным образом постоянный количественный рост и сфера нашей активности играет важную роль в формировании дальнейших направлений развития.
                                </p>
                                <a href="#" class="blogPreviewMoreDetails">
                                    <img src="img/catalog__navigation-all-icon-hover.png">
                                    <span> подробнее</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <a href="#" class="products-list-page__show-more c-button" title="показать ещё">
                    <div class="c-ripple js-ripple">
                        <span class="c-ripple__circle"></span>
                    </div>
                    показать ещё
                </a>
            </section>
            <aside class="blogSidebar">
                <div class="blogSidebarGroup blogCategory">
                    <h2>КАТЕГОРИЯ</h2>
                    <ul class="blogCategoryList">
                        <li>
                            <a href="#">
                                <img src="img/slider-arrow-left.png">Новости магазина
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <img src="img/slider-arrow-left.png">Новости интернет-магазина
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <img src="img/slider-arrow-left.png">Акции
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <img src="img/slider-arrow-left.png">Статьи
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <img src="img/slider-arrow-left.png">Публикации
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="blogSidebarGroup blogLastPosts">
                    <h2>ПОСЛЕДНИЙ ПОСТ</h2>
                    <ul class="blogLastPostsList">
                        <li>
                            <div class="blogLastPostsListImg"></div>
                            <div class="blogLastPostsListContent">
                                <h4><a href="#">Дарим подарки в свой День рождения!</a></h4>
                                <a href="#" class="postDate">05 Мая 2017</a>
                            </div>
                        </li>
                        <li>
                            <div class="blogLastPostsListImg"></div>
                            <div class="blogLastPostsListContent">
                                <h4><a href="#">Дарим подарки в свой День рождения!</a></h4>
                                <a href="#" class="postDate">05 Мая 2017</a>
                            </div>
                        </li>
                        <li>
                            <div class="blogLastPostsListImg"></div>
                            <div class="blogLastPostsListContent">
                                <h4><a href="#">Дарим подарки в свой День рождения!</a></h4>
                                <a href="#" class="postDate">05 Мая 2017</a>
                            </div>
                        </li>
                        <li>
                            <div class="blogLastPostsListImg"></div>
                            <div class="blogLastPostsListContent">
                                <h4><a href="#">Дарим подарки в свой День рождения!</a></h4>
                                <a href="#" class="postDate">05 Мая 2017</a>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="blogSidebarGroup blogTags">
                    <svg class="blogSvgHidden"><svg  id="blogArrow" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 23.224701 21.06893" height="18" width="20"><defs><clippath id="a"><path d="M0 59.723h65.834V0H0z"></path></clippath></defs><g clip-path="url(#a)" transform="matrix(.35278 0 0 -.35278 0 21.07)"><path d="M65.494 28.624c.052.09.105.178.146.274.026.062.04.128.06.19.028.093.064.182.084.276.032.162.05.328.05.495 0 .02-.005.036-.006.056a2.473 2.473 0 0 1-.044.438c-.025.13-.068.253-.114.375-.01.028-.016.06-.028.09a2.42 2.42 0 0 1-.213.398c-.007.01-.01.02-.017.03-.094.14-.2.27-.32.387L37.74 58.99a2.5 2.5 0 1 1-3.535-3.535L57.298 32.36H2.5a2.5 2.5 0 0 1 0-5h54.8L34.203 4.268A2.498 2.498 0 0 1 35.97 0c.64 0 1.28.244 1.77.732l27.36 27.36c.024.022.04.05.063.074.09.096.175.193.248.302.032.05.055.105.084.156"></path></g></svg></svg>
                    <h2>ПОПУЛЯРНЫЕ ТЕГИ</h2>
                    <ul class="blogTagsCloud">
                        <li><a href="#">
                            <p>ремонт катриджей</p>
                            <svg>
                                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#blogArrow"></use>
                            </svg></a>
                        </li>
                        <li><a href="#">
                            <p>ручки</p>
                            <svg>
                                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#blogArrow"></use>
                            </svg></a>
                        </li>
                        <li><a href="#">
                            <p>офисные штучки</p>
                            <svg>
                                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#blogArrow"></use>
                            </svg></a>
                        </li>
                        <li><a href="#">
                            <p>канцелярские принадлежности</p>
                            <svg>
                                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#blogArrow"></use>
                            </svg></a>
                        </li>
                        <li><a href="#">
                            <p>подарки</p>
                            <svg>
                                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#blogArrow"></use>
                            </svg></a>
                        </li>
                    </ul>
                </div>
            </aside>
        </div><!--blogParent-->
        <div class="brands">
            <div class="container">
                <h2 class="cp_h2 blogBrands">Бренды</h2>
                <div class="brands-slider">
                    <div class="brands-slider-content">
                        <a href="" class="onebrand">
                            <img alt="nagaLogo" src="img/brands/nagaLogo.png" />
                            <div class="caption-br">
                                <span class="thumbnail-text">Image Text</span>
                            </div>
                        </a>
                        <a href="" class="onebrand">
                            <img alt="magic_line" src="img/brands/magic_line.png" />
                            <div class="caption-br">
                                <span class="thumbnail-text">Image Text</span>
                            </div>
                        </a>
                        <a href="" class="onebrand">
                            <img alt="logo2" src="img/brands/logo2.png" />
                            <div class="caption-br">
                                <span class="thumbnail-text">Image Text</span>
                            </div>
                        </a>
                        <a href="" class="onebrand">
                            <img alt="logo-nyt" src="img/brands/logo-nyt.png" />
                            <div class="caption-br">
                                <span class="thumbnail-text">Image Text</span>
                            </div>
                        </a>
                        <a href="" class="onebrand">
                            <img alt="linс" src="img/brands/link.png" />
                            <div class="caption-br">
                                <span class="thumbnail-text">Image Text</span>
                            </div>
                        </a>
                        <a href="" class="onebrand">
                            <img alt="infolio" src="img/brands/infolio.png" />
                            <div class="caption-br">
                                <span class="thumbnail-text">Image Text</span>
                            </div>
                        </a>
                        <a href="" class="onebrand">
                            <img alt="greensboro-college" src="img/brands/greensboro-college.png" />
                            <div class="caption-br">
                                <span class="thumbnail-text">Image Text</span>
                            </div>
                        </a>
                        <a href="" class="onebrand">
                            <img alt="colop" src="img/brands/colop.png" />
                            <div class="caption-br">
                                <span class="thumbnail-text">Image Text</span>
                            </div>
                        </a>
                        <a href="" class="onebrand">
                            <img alt="artspace" src="img/brands/artspace.png" />
                            <div class="caption-br">
                                <span class="thumbnail-text">Image Text</span>
                            </div>
                        </a>
                        <a href="" class="onebrand">
                            <img alt="akavim" src="img/brands/akavim.png" />
                            <div class="caption-br">
                                <span class="thumbnail-text">Image Text</span>
                            </div>
                        </a>
                        <a href="" class="onebrand">
                            <img alt="3719484" src="img/brands/3719484.png" />
                            <div class="caption-br">
                                <span class="thumbnail-text">Image Text</span>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>