<main id="wrapp" th:fragment="bonus" xmlns:th="http://www.w3.org/1999/xhtml">
    <div class="wrapper">
        <ul class="breadCrumbs">
            <li><a href="index.html">Главная</a></li>
            <li>Клуб PAP-бонус</li>
        </ul>
        <aside class="blogSidebarGroup typicalAside">
            <ul class="blogCategoryList blogCategoryListWithOutTitle">
                <li>
                    <a href="about.html">
                        <img src="img/slider-arrow-left.png">
                        О компании
                    </a>
                </li>
                <li>
                    <a href="help.html">
                        <img src="img/slider-arrow-left.png">
                        Помощь
                    </a>
                </li>
                <li class="active">
                    <a href="bonus.html">
                        <img src="img/slider-arrow-left.png">
                        PAP-бонус
                    </a>
                </li>
                <li>
                    <a href="blog.html">
                        <img src="img/slider-arrow-left.png">
                        Наш блог
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="img/slider-arrow-left.png">
                        База знаний
                    </a>
                </li>
                <li>
                    <a href="delivery_and_payment.html">
                        <img src="img/slider-arrow-left.png">
                        Доставка и оплата
                    </a>
                </li>
                <li>
                    <a href="feedback.html">
                        <img src="img/slider-arrow-left.png">
                        Отзывы
                    </a>
                </li>
                <li>
                    <a href="contacts.html">
                        <img src="img/slider-arrow-left.png">
                        Контакты
                    </a>
                </li>
            </ul>
        </aside>
        <section class="typicalSection">
            <div class="blogPreviewHolder bonusPage">
                <div class="delivAndPaym-block bonusHeader">
                    <h1 class="typicalH1">Клуб ON-бонус</h1>
                    <div class="bonusHeaderLogoHolder">
                        <img src="img/icons/bonusHeader.svg">
                        <div class="bonusHeaderLogoTitle">
                            <h2>Клуб PAP-бонус</h2>
                            <p>программа специальных цен и бонусных баллов</p>
                        </div>
                    </div>
                    <div class="bonusRow">
                        <div class="bonusCol">
                            <img src="img/icons/persent.svg">
                            <p>Вступай в клуб PAP-бонус<br>1 PAP-бонус = 0,10 руб</p>
                        </div>
                        <div class="bonusCol">
                            <img src="img/icons/pig.svg">
                            <p>Получай PAP-бонусы<br>за каждую онлайн-покупку</p>
                        </div>
                        <div class="bonusCol">
                            <img src="img/icons/baks.svg">
                            <p>Оплачивай 30-50%<br>от стоимости покупки</p>
                        </div>
                    </div>
                    <div class="bonusBtnHolder clearfix">
                        <a href="#" class="btn c-button likeBtnIncart">
                            <div class="c-ripple js-ripple">
                                <span class="c-ripple__circle"></span>
                            </div>
                            Вступить в клуб
                        </a>
                    </div>
                    <h4 class="delivAndPaym-SubTitle">Мы рады пригласить Вас в Клуб PAP-бонус!</h4>
                    <p>Интернет-магазин PAPERKI.BY всегда старается быть на пике технического прогресса. Ни для кого не секрет, что за последние несколько лет в Беларуси наблюдается рост интереса к онлайн-торговле. Именно поэтому мы предлагаем специальные условия для наших онлайн-покупателей!</p>
                    <p>Клуб PAP-бонус — <span class="strongInfo">программа специальных цен и бонусных баллов</span> (1 PAP-бонус = 0,10 рублю) для клиентов нашего интернет-магазина. Участники клуба покупают товары, представленные в нашем интернет-магазине по более <span class="strongInfo">выгодным ценам</span>, а так же <span class="strongInfo">накапливают бонусы</span> и приобретают следующие товары ещё выгоднее!</p>
                </div>
                <div class="delivAndPaym-block postSectionBT bonusHowToIn">
                    <h4 class="delivAndPaym-SubTitle">Как вступить в Клуб PAP-бонус?</h4>
                    <p>Всё очень просто, вам необходимо <a href="#registration-popup" class="delivAndPaym-linkBold open-reg-popup">зарегистрироваться</a> на нашем сайте www.paperki.by и вы уже становитесь участником Клуба. После регистрации Вам сразу же будет доступны специальные цены на большую часть популярных товаров и возможность накапливать бонусы за покупки.</p>
                </div>
                <div class="delivAndPaym-block postSectionBT">
                    <h4 class="delivAndPaym-SubTitle">Но и это еще не все!</h4>
                    <p>По мере роста количества ваших заказов вы можете сделать покупки еще выгоднее! Получите статус <span class="strongInfo">VIP клиента</span> или <span class="strongInfo">Супер VIP клиента</span> PAPERKI.BY, просто делая покупки в нашем интернет-магазине.</p>
                </div>
                <div class="delivAndPaym-block postSectionBT">
                    <h4 class="delivAndPaym-SubTitle">Какая выгода от регистрации в клубе?</h4>
                    <ul class="bonusList">
                        <li>Сразу после регистрации вы получаете клубную цену на большую часть товаров — это выгодно!</li>
                        <li>После покупки вы получаете бонусы за приобретённый вами товар и оплачиваете ими следующие ваши покупки — это выгодно!</li>
                        <li>Вы можете написать отзывы на приобретенные вами товары и получить за них дополнительные бонусы — и это выгодно!</li>
                        <li>Мы регулярно рассылаем участникам клуба подарочные промокоды на дополнительные бонусы, в том числе и на день рождения — это очень выгодно!</li>
                        <li>С ростом количества покупок вы получаете новый статус клиента, который дает увеличение количества бонусов и скидку на доставку — и это тоже выгодно!</li>
                    </ul>
                </div>
                <div class="delivAndPaym-block postSectionBT bonusReg">
                    <a href="#registration-popup" class="btn c-button likeBtnIncart bonusRegCol open-reg-popup">
                        <div class="c-ripple js-ripple">
                            <span class="c-ripple__circle"></span>
                        </div>
                        Зарегистрироваться<span class="bonusToolongButton"> в клубе!</span>
                    </a>
                    <p class="bonusRegCol">или</p>
                    <p class="bonusRegCol"><a href="#" class="bonusLogin open-morph" data-target="#enter-popup">ВОЙТИ</a></p>
                    <p class="bonusItalic">PAPERKI.BY всегда заботится о том, чтобы наши клиенты делали покупки на лучших условиях. Недаром наш девиз — «Покупай всё онлайн»!</p>
                </div>
            </div>
            <div class="blogPreviewHolder bonusPage bonusAdditionalInfo">
                <div class="delivAndPaym-block">
                    <h4 class="delivAndPaym-SubTitle">Дополнительная информация</h4>
                    <div class="bonusRow clearfix">
                        <ul class="bonusCol">
                            <li><a href="#">Правила Клуба PAP-бонус</a></li>
                            <li><a href="#">Статусы Клуба PAP-бонус</a></li>
                            <li><a href="#">Вход в клуб</a></li>
                            <li><a href="#">Партнёрская программа</a></li>
                        </ul>
                        <ul class="bonusCol">
                            <li><a href="#">PAP-бонусы за отзывы о товарах</a></li>
                            <li><a href="#">PAP-бонусы за обзоры товаров</a></li>
                            <li><a href="#">PAP-бонусы за фотографии товаров</a></li>
                            <li><a href="#">PAP-бонусы за видеообзоры товаров</a></li>
                        </ul>
                        <ul class="bonusCol">
                            <li><a href="#">PAP-бонусы за отзыв о магазине</a></li>
                            <li><a href="#">PAP-бонусы новым участникам клуба</a></li>
                            <li><a href="#">PAP-бонусы на день рождения</a></li>
                            <li><a href="#">PAP-бонусы за отзыв на Я.Маркет</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
    </div>
</main>