<main id="wrapp" th:fragment="catalog" xmlns:th="http://www.thymeleaf.org">
    <div class="wrapper">
        <ul class="breadCrumbs">
            <li><a href="/">Главная</a></li>
            <li>Каталог</li>
        </ul>
        <div class="catalogHolder"
             th:if="${mapcategories} != null">

             <div   th:each="map : ${mapcategories[0]}"
                    th:remove="tag">

                <div class="catalogItem"
                    th:if="${mapcategories[__${map.value.id}__]} != null and ${mapcategories[__${map.value.id}__].size()} > 0">
                    <div class="catalogHeader">
                        <a href="#"
                           th:href="@{${map.value.link}}">
                            <svg>
                                <use xlink:href="#icon-noun_53020_cc"></use>
                            </svg>
                            <h4 th:text="${map.value.name}">КАТЕГОРИЯ</h4>
                            <div class="clearfix"></div>
                        </a>
                    </div>
                    <div class="catalogDesc">
                        <div    th:each="mapitem : ${mapcategories[__${map.value.id}__]}" 
                                th:remove="tag">
                            <span class="catalogDescSep"> • </span>
                            <a href="#"
                               th:href="@{${mapitem.value.link}}"
                               th:text="${mapitem.value.name}">Подчиненная категория</a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <!--catalogHolder-->
    </div>
</main>