<main id="wrapp" th:fragment="change-password" xmlns:th="http://www.thymeleaf.org">
    <div class="container container-mobile">
        <section class="typicalSection">
            <div class="change-password profile-tab">
                <h2>Смена пароля</h2>
                <p>Мы крайне рекомендуем задать новый <span>уникальный и сложный</span> пароль.</p>
                <p>Если ваш пароль для входа в интернет-магазин PAPERKI.BY совпадает хотя бы с одним другим интернет-магазином, электронной почтой или социальной сетью, PAPERKI.BY не может гарантировать Вам сохранность Ваших личных данных.</p>
                <form>
                    <div class="change-password-form-fields">
                        <span class="input input--ichiro">
                            <input class="input__field input__field--ichiro" type="password" name="your-new-password"
                                   id="input-new-password" />
                            <label class="input__label input__label--ichiro" for="input-new-password">
                                <span class="input__label-content input__label-content--ichiro"
                                      id="label-new-password">Новый пароль *</span>
                            </label>
                            <button type="button" class="show-password"></button>
                        </span>
                        <span class="input input--ichiro">
                            <input class="input__field input__field--ichiro" type="password" name="confirm-password"
                                   id="input-new-password-confirm" />
                            <label class="input__label input__label--ichiro" for="input-new-password-confirm">
                                <span data-toggle="tooltip" class="input__label-content input__label-content--ichiro"
                                      id="label-new-password-confirm">Подтвердите пароль *</span>
                            </label>
                            <button type="button" class="show-password"></button>
                        </span>
                    </div>
                    <div class="change-password-form-bottom">
                        <button class="c-button" type="subscribe">
                            <div class="c-ripple js-ripple">
                                <span class="c-ripple__circle"></span>
                            </div>
                            Сохранить
                        </button>
                    </div>
                </form>
            </div>
        </section>
    </div>
</main>