<main id="wrapp" th:fragment="change-password" xmlns:th="http://www.thymeleaf.org">
    <div class="container container-mobile">
        <section class="typicalSection">

            <div th:switch="${event}" th:remove="tag">
                <div th:case="${0}" th:remove="tag">
                    <div class="change-password profile-tab">
                        <h2>Смена пароля</h2>
                        <p>Мы крайне рекомендуем задать новый <span>уникальный и сложный</span> пароль.</p>
                        <p>Если ваш пароль для входа в интернет-магазин PAPERKI.BY совпадает хотя бы с одним другим интернет-магазином, электронной почтой или социальной сетью, PAPERKI.BY не может гарантировать Вам сохранность Ваших личных данных.</p>
                        <form id="new-password-form" method="post">
                            <div class="change-password-form-fields">
                                <span class="input input--ichiro">
                                    <input class="input__field input__field--ichiro" type="password" name="your-new-password"
                                           id="input-new-password" />
                                    <label class="input__label input__label--ichiro" for="input-new-password">
                                        <span class="input__label-content input__label-content--ichiro"
                                              id="label-new-password">Новый пароль *</span>
                                    </label>
                                    <button type="button" class="show-password"></button>
                                </span>
                                <span class="input input--ichiro">
                                    <input class="input__field input__field--ichiro" type="password" name="confirm-password"
                                        id="input-new-password-confirm" />
                                    <label class="input__label input__label--ichiro" for="input-new-password-confirm">
                                        <span data-toggle="tooltip" class="input__label-content input__label-content--ichiro"
                                      id="label-new-password-confirm">Подтвердите пароль *</span>
                                    </label>
                                    <button type="button" class="show-password"></button>
                                </span>
                            </div>
                            <div class="change-password-form-bottom">
                                <button class="c-button" type="subscribe"
                                    onclick="$('#new-password-form').submit()">
                                    <div class="c-ripple js-ripple">
                                        <span class="c-ripple__circle"></span>
                                    </div>
                                    Сохранить
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
                <div th:case="${1}" th:remove="tag">
                    <div class="change-password profile-tab">
                        <h2>Запрос на восстановление пароля не найден</h2>
                        <p>По этой ссылке не существует запроса на восстановление пароля</p>
                    </div>
                </div>
                <div th:case="${2}" th:remove="tag">
                    <div class="change-password profile-tab">
                        <h2>Запрос на восстановление пароля был исполнен</h2>
                        <p>По этой ссылке запрос на восстановление пароля был исполнен и более недоступен</p>
                    </div>
                </div>
                <div th:case="${3}" th:remove="tag">
                    <div class="change-password profile-tab">
                        <h2>Срок действия данного запроса на восстановление пароля истек</h2>
                        <p>Обращаем ваше внимание на то, что запрос на восстановление пароля будет действителен в течение <strong>1 часа</strong></p>
                    </div>
                </div>

            </div>

        </section>
    </div>
</main>