<main id="wrapp" th:fragment="contacts" xmlns:th="http://www.w3.org/1999/xhtml">
    <div class="wrapper">
        <ul class="breadCrumbs">
            <li><a href="index.html">Главная</a></li>
            <li>Контакты</li>
        </ul>
        <aside class="blogSidebarGroup typicalAside">
            <ul class="blogCategoryList blogCategoryListWithOutTitle">
                <li th:each="menuitem : ${mainmenu}">
                    <a href="#" th:href="@{${menuitem.link}}">
                        <img src="/res/img/slider-arrow-left.png">
                        <span th:text="${menuitem.name}" th:remove="tag">О компании</span>
                    </a>
                </li>
            </ul>
        </aside>
        <section class="typicalSection">
            <div class="blogPreviewHolder contactsPage">
                <div class="contactsPageTop">
                    <h1 class="typicalH1">Контактная информация</h1>
                </div>
                <div class="contacts-tabs">
                    <ul class="contactsPageCities">
                        <li>Брест</li>
                        <li>Минск</li>
                        <li>Гродно</li>
                    </ul>
                    <div class="contacts-tabs-content">
                        <div class="tab-item">
                            <div class="contactsPageInfo clearfix">
                                <div class="contactsPageInfoLeft">
                                    <h4 class="delivAndPaym-SubTitle">По вопросам заказа товара с сайта звонить:</h4>
                                    <a href="tel:80162429395">8-0162 42-93-95</a>
                                    <h4 class="delivAndPaym-SubTitle contactsPageInfoWorkTime postSectionBT">Время работы:</h4>
                                    <p>ул. Советской Конституции 1, "Дом Быта", 2 этаж</p>
                                    <p>Пн-Пт с 8.30 - 17.00</p>
                                    <p><a href="tel:7156060">МТС, Velcom: 715-60-60</a></p>
                                    <p><a href="mailto:paperki@paperki.by">e-mail: paperki@paperki.by</a></p>

                                </div>
                                <div class="contactsPageInfoRight">
                                    <h4 class="delivAndPaym-SubTitle">Корпоративным клиентам:</h4>
                                    <a href="tel:80162428401">8-0162 42-84-01 тел.</a> / <a href="fax:80162426312">факс: 8-0162 42-63-12</a>
                                    <h4 class="delivAndPaym-SubTitle">Склад:</h4>
                                    <a href="tel:80162543354">8-0162 54-33-54</a>, <a href="tel:80162549954">8-0162 54-99-54</a>
                                    <h4 class="delivAndPaym-SubTitle">Оптовым клиентам:</h4>
                                    <a href="tel:80162429395">8-0162 42-93-95 тел.</a> / <a href="fax:80162408066">факс: 8-0162 40-80-66</a>
                                    <h4 class="delivAndPaym-SubTitle">Бухгалтерия:</h4>
                                    <a href="tel:80162407245">8-0162 40-72-45</a>
                                </div>
                            </div>
                            <div class="contactsPageMap">
                                <div class="contactsPageMapHolder">
                                    <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A63d714ddb71ccdce528a8d99377ded1346b7a58f6cc92da1df7cc496956aed86&amp;width=100%25&amp;height=350&amp;lang=ru_UA&amp;scroll=true"></script>
                                </div>
                                <div class="contactsPageAddress">
                                    <h2>Брест</h2>
                                    <ul>
                                        <li>
                                            <a href="#">
                                                <p>ул. Советской Конституции 1, "Дом Быта", 2 этаж</p>
                                                <p>Пн-Пт с 8.30 - 17.00</p>
                                                <p>N 59.862588<br>E 30.416574</p>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <p>Склад ООО «ПАПЕРКИ»</p>
                                                <p>ул. Янки Купалы, 88 в</p>
                                                <p>Пн-Пт с 8.30 - 17.00</p>
                                                <p>N 59.862588<br>E 30.416574</p>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <p>Склад ООО «ПАПЕРКИ»</p>
                                                <p>ул. Янки Купалы, 88 в</p>
                                                <p>Пн-Пт с 8.30 - 17.00</p>
                                                <p>N 59.862588<br>E 30.416574</p>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="contactsPageBlueLine">
                                <h2><a href="#">СЕТЬ РОЗНИЧНЫХ МАГАЗИНОВ «КАНЦЕЛЯРСКИЕ ШТУЧКИ» В БРЕСТЕ
                                    <button type="button" class="contactsPageBlueLineArrow"></button>
                                </a></h2>
                            </div>
                        </div>
                        <div class="tab-item">
                            <div class="contactsPageInfo clearfix">
                                <div class="contactsPageInfoLeft">
                                    <h4 class="delivAndPaym-SubTitle">По вопросам заказа товара с сайта звонить:</h4>
                                    <a href="tel:80162429395">8-0162 42-93-95</a>
                                    <h4 class="delivAndPaym-SubTitle contactsPageInfoWorkTime postSectionBT">Время работы:</h4>
                                    <p>ул. Советской Конституции 1, "Дом Быта", 2 этаж</p>
                                    <p>Пн-Пт с 8.30 - 17.00</p>
                                    <p><a href="tel:7156060">МТС, Velcom: 715-60-60</a></p>
                                    <p><a href="mailto:paperki@paperki.by">e-mail: paperki@paperki.by</a></p>

                                </div>
                                <div class="contactsPageInfoRight">
                                    <h4 class="delivAndPaym-SubTitle">Корпоративным клиентам:</h4>
                                    <a href="tel:80162428401">8-0162 42-84-01 тел.</a> / <a href="fax:80162426312">факс: 8-0162 42-63-12</a>
                                    <h4 class="delivAndPaym-SubTitle">Склад:</h4>
                                    <a href="tel:80162543354">8-0162 54-33-54</a>, <a href="tel:80162549954">8-0162 54-99-54</a>
                                    <h4 class="delivAndPaym-SubTitle">Оптовым клиентам:</h4>
                                    <a href="tel:80162429395">8-0162 42-93-95 тел.</a> / <a href="fax:80162408066">факс: 8-0162 40-80-66</a>
                                    <h4 class="delivAndPaym-SubTitle">Бухгалтерия:</h4>
                                    <a href="tel:80162407245">8-0162 40-72-45</a>
                                </div>
                            </div>
                            <div class="contactsPageMap">
                                <div class="contactsPageMapHolder">
                                    <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A63d714ddb71ccdce528a8d99377ded1346b7a58f6cc92da1df7cc496956aed86&amp;width=100%25&amp;height=350&amp;lang=ru_UA&amp;scroll=true"></script>
                                </div>
                                <div class="contactsPageAddress">
                                    <h2>Брест</h2>
                                    <ul>
                                        <li>
                                            <a href="#">
                                                <p>ул. Советской Конституции 1, "Дом Быта", 2 этаж</p>
                                                <p>Пн-Пт с 8.30 - 17.00</p>
                                                <p>N 59.862588<br>E 30.416574</p>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <p>Склад ООО «ПАПЕРКИ»</p>
                                                <p>ул. Янки Купалы, 88 в</p>
                                                <p>Пн-Пт с 8.30 - 17.00</p>
                                                <p>N 59.862588<br>E 30.416574</p>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <p>Склад ООО «ПАПЕРКИ»</p>
                                                <p>ул. Янки Купалы, 88 в</p>
                                                <p>Пн-Пт с 8.30 - 17.00</p>
                                                <p>N 59.862588<br>E 30.416574</p>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="contactsPageBlueLine">
                                <h2><a href="#">СЕТЬ РОЗНИЧНЫХ МАГАЗИНОВ «КАНЦЕЛЯРСКИЕ ШТУЧКИ» В БРЕСТЕ
                                    <button type="button" class="contactsPageBlueLineArrow"></button>
                                </a></h2>
                            </div>
                        </div>
                        <div class="tab-item">
                            <div class="contactsPageInfo clearfix">
                                <div class="contactsPageInfoLeft">
                                    <h4 class="delivAndPaym-SubTitle">По вопросам заказа товара с сайта звонить:</h4>
                                    <a href="tel:80162429395">8-0162 42-93-95</a>
                                    <h4 class="delivAndPaym-SubTitle contactsPageInfoWorkTime postSectionBT">Время работы:</h4>
                                    <p>ул. Советской Конституции 1, "Дом Быта", 2 этаж</p>
                                    <p>Пн-Пт с 8.30 - 17.00</p>
                                    <p><a href="tel:7156060">МТС, Velcom: 715-60-60</a></p>
                                    <p><a href="mailto:paperki@paperki.by">e-mail: paperki@paperki.by</a></p>

                                </div>
                                <div class="contactsPageInfoRight">
                                    <h4 class="delivAndPaym-SubTitle">Корпоративным клиентам:</h4>
                                    <a href="tel:80162428401">8-0162 42-84-01 тел.</a> / <a href="fax:80162426312">факс: 8-0162 42-63-12</a>
                                    <h4 class="delivAndPaym-SubTitle">Склад:</h4>
                                    <a href="tel:80162543354">8-0162 54-33-54</a>, <a href="tel:80162549954">8-0162 54-99-54</a>
                                    <h4 class="delivAndPaym-SubTitle">Оптовым клиентам:</h4>
                                    <a href="tel:80162429395">8-0162 42-93-95 тел.</a> / <a href="fax:80162408066">факс: 8-0162 40-80-66</a>
                                    <h4 class="delivAndPaym-SubTitle">Бухгалтерия:</h4>
                                    <a href="tel:80162407245">8-0162 40-72-45</a>
                                </div>
                            </div>
                            <div class="contactsPageMap">
                                <div class="contactsPageMapHolder">
                                    <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A63d714ddb71ccdce528a8d99377ded1346b7a58f6cc92da1df7cc496956aed86&amp;width=100%25&amp;height=350&amp;lang=ru_UA&amp;scroll=true"></script>
                                </div>
                                <div class="contactsPageAddress">
                                    <h2>Брест</h2>
                                    <ul>
                                        <li>
                                            <a href="#">
                                                <p>ул. Советской Конституции 1, "Дом Быта", 2 этаж</p>
                                                <p>Пн-Пт с 8.30 - 17.00</p>
                                                <p>N 59.862588<br>E 30.416574</p>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <p>Склад ООО «ПАПЕРКИ»</p>
                                                <p>ул. Янки Купалы, 88 в</p>
                                                <p>Пн-Пт с 8.30 - 17.00</p>
                                                <p>N 59.862588<br>E 30.416574</p>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <p>Склад ООО «ПАПЕРКИ»</p>
                                                <p>ул. Янки Купалы, 88 в</p>
                                                <p>Пн-Пт с 8.30 - 17.00</p>
                                                <p>N 59.862588<br>E 30.416574</p>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="contactsPageBlueLine">
                                <h2><a href="#">СЕТЬ РОЗНИЧНЫХ МАГАЗИНОВ «КАНЦЕЛЯРСКИЕ ШТУЧКИ» В БРЕСТЕ
                                    <button type="button" class="contactsPageBlueLineArrow"></button>
                                </a></h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</main>