<main id="wrapp" th:fragment="delivery-and-payment" xmlns:th="http://www.w3.org/1999/xhtml">
    <div class="wrapper">
        <ul class="breadCrumbs">
            <li><a href="/">Главная</a></li>
            <li>Доставка и оплата</li>
        </ul>
        <aside class="blogSidebarGroup typicalAside">
            <ul class="blogCategoryList blogCategoryListWithOutTitle">
                <li th:each="menuitem : ${mainmenu}">
                    <a href="#" th:href="@{${menuitem.link}}">
                        <img src="/res/img/slider-arrow-left.png">
                        <span th:text="${menuitem.name}" th:remove="tag">О компании</span>
                    </a>
                </li>
            </ul>
        </aside>
        <section class="typicalSection">
            <div class="blogPreviewHolder delivAndPaym">
                <div class="delivAndPaym-block delivAndPaym-contactInfo">
                    <h1 class="typicalH1">Контактная информация</h1>
                    <p>При оформлении заказа онлайн или по телефону: <a href="tel:+74952259522"><span class="strongInfo">+7 (495) 225–95–22</span></a> в нашем интернет-магазине вы всегда можете заказать доставку товара на дом или в офис ежедневно в удобное для Вас время.</p>
                    <h4 class="delivAndPaym-SubTitle">К вашим услугам доступны три способа доставки</h4>
                    <ul class="delivAndPaym-list">
                        <li><span class="strongInfo">Стандартная доставка</span> (на следующий день) — от 300 р. <a href="#" class="delivAndPaym-link">Подробнее</a></li>
                        <li><span class="strongInfo">Доставка день в день</span> (в течение дня с 18:00 до 22:00) — от 400 р. <a href="#" class="delivAndPaym-link">Подробнее</a></li>
                        <li><span class="strongInfo">Cрочная доставка</span> (в течение 1–2 ч.) — от 890 р. <a href="#" class="delivAndPaym-link">Подробнее</a></li>
                    </ul>
                    <p>Оформив доставку, Вы можете отслеживать статус своего заказа самостоятельно в <a href="#" class="delivAndPaym-linkBold">личном кабинете</a>. Также Вы всегда можете уточнить статус выполнения заказа у оператора интернет-магазина по телефону: </p>
                    <a href="tel:+74952259522"><h4 class="delivAndPaym-SubTitle">+7 (495) 225–95–22.</h4></a>
                    <p>Указав номер мобильного телефона при оформлении доставки, Вы будете получать <span class="strongInfo">SMS-уведомления</span> о статусе Вашего заказа. Также Вы можете указать адрес электронной почты для получения подробной информации по Вашему заказу и уведомлений о его статусе.</p>
                    <p>Всю необходимую информацию по срокам и стоимости доставки можно посмотреть на странице товара во вкладке «<a href="#" class="delivAndPaym-linkBold">Наличие и оплата</a>» или на странице оформления заказа.</p>
                </div>
                <div class="delivAndPaym-block delivAndPaym-blockDelivery postSectionBT">
                    <h4 class="delivAndPaym-SubTitle">Доставка день в день</h4>
                    <p>(Доставка заказов день в день осуществляется только по Москве в пределах МКАД.</p>
                    <ul class="delivAndPaym-list">
                        <li><span class="strongInfo">Малогабаритный и среднегабаритный товар </span>— 400 р.</li>
                    </ul>
                    <p>Заказы доставляются ежедневно, в интервале с 18:00 до 22:00.</p>
                    <p>Возможность осуществления данной услуги зависит от загруженности курьерской службы на момент заказа</p>
                </div>
                <div class="delivAndPaym-block delivAndPaym-blockPayment postSectionBT">
                    <h2 class="typicalH1">Как оплатить</h2>
                    <p>Вы можете оплатить покупку следующими способами.</p>
                    <ul class="delivAndPaym-paymentList">
                        <li>
                            <a class="delivAndPaym-linkBold-holder" href="#"><img src="/res/img/icons/uponReceipt.min.svg">
                                <span class="delivAndPaym-linkBold">При получении</span></a>. Вы можете оплатить покупку наличными или банковской картой в офисах продаж компании или при получении товара с доставкой.
                        </li>
                        <li>
                            <a class="delivAndPaym-linkBold-holder" href="#"><img src="/res/img/icons/online.min.svg">
                                <span class="delivAndPaym-linkBold">На сайте</span></a>. Мы принимаем к оплате банковские карты и электронные деньги.
                        </li>
                        <li>
                            <a class="delivAndPaym-linkBold-holder" href="#"><img src="/res/img/icons/onCredit.min.svg">
                                <span class="delivAndPaym-linkBold">В кредит</span></a>. Оформляйте кредит на сайте или в центрах исполнения заказов Юлмарта.
                        </li>
                        <li>
                            <a class="delivAndPaym-linkBold-holder" href="#"><img src="/res/img/icons/pap.min.svg">
                                <span class="delivAndPaym-linkBold">Бонусными баллами (PAP-бонусами)</span></a>. Получайте в рамках акций бонусы за покупки в Юлмарте и оплачивайте ими последующие покупки.
                        </li>
                        <li>
                            <a class="delivAndPaym-linkBold-holder" href="#"><img src="/res/img/icons/gift.min.svg">
                                <span class="delivAndPaym-linkBold">Подарочными сертификатами ПАПЕРКИ</span></a>. Активируйте сертификат и расплачивайтесь за покупки.
                        </li>
                    </ul>
                </div>
            </div>
        </section>
    </div>
</main>