<main id="wrapp" th:fragment="help" xmlns:th="http://www.w3.org/1999/xhtml">
    <div class="wrapper">
        <ul class="breadCrumbs">
            <li><a href="/">Главная</a></li>
            <li>Помощь</li>
        </ul>
        <aside class="blogSidebarGroup typicalAside">
            <ul class="blogCategoryList blogCategoryListWithOutTitle">
                <li th:each="menuitem : ${mainmenu}">
                    <a href="#" th:href="@{${menuitem.link}}">
                        <img src="/res/img/slider-arrow-left.png">
                        <span th:text="${menuitem.name}" th:remove="tag">О компании</span>
                    </a>
                </li>
            </ul>
        </aside>
        <section class="typicalSection">
            <div class="blogPreviewHolder helpPage">
                <h1 class="typicalH1">ПАПЕРКИ. Помощь</h1>
                <p class="helpTagline">Место, где пропадают вопросы и появляются ответы.</p>
                <div class="helpRow clearfix">
                    <div class="helpCol helpColHeight">
                        <svg>
                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#helpCartSvg"></use>
                        </svg>
                        <h3>Как заказать?</h3>
                        <ul>
                            <li><a href="/help#">На сайте</a></li>
                            <li><a href="/help#">Как работать с сайтом?</a></li>
                            <li><a href="/help#">Как подобрать размер</a></li>
                            <li><a href="/help#">По телефону</a></li>
                            <li><a href="/help#">По электронной почте</a></li>
                            <li><a href="/help#">В магазинах</a></li>
                        </ul>
                    </div>
                    <div class="helpCol helpColHeight">
                        <svg>
                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#helpPhoneSvg"></use>
                        </svg>
                        <h3>Как оплатить?</h3>
                        <ul>
                            <li><a href="/help#">При получении</a></li>
                            <li><a href="/help#">На сайте</a></li>
                            <li><a href="/help#">В кредит</a></li>
                            <li><a href="/help#">PAP-бонус</a></li>
                            <li><a href="/help#">Как воспользоваться купоном?</a></li>
                            <li><a href="/help#">Подарочные сертификаты</a></li>
                            <li><a href="/help#">Ценовая политика</a></li>
                        </ul>
                    </div>
                    <div class="helpCol helpColHeight">
                        <svg>
                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#helpCarLeftSvg"></use>
                        </svg>
                        <h3>Как получить?</h3>
                        <ul>
                            <li><a href="/help#">Адреса и контакты</a></li>
                            <li><a href="/help#">Доставка</a></li>
                            <li><a href="/help#">Наши партнеры</a></li>
                        </ul>
                    </div>
                    <div class="helpCol helpColHeight">
                        <svg>
                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#helpCallbackSvg"></use>
                        </svg>
                        <h3>Обратная связь</h3>
                        <ul>
                            <li><a href="#">Отзывы и предложения</a></li>
                            <li><a href="#">Мы ВКонтакте</a></li>
                            <li><a href="#">Мы в Facebook</a></li>
                            <li><a href="#">Мы в Twitter</a></li>
                            <li><a href="#">Контакты для поставщиков</a></li>
                        </ul>
                    </div>
                    <div class="helpCol helpColHeight">
                        <svg>
                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#humansSvg"></use>
                        </svg>
                        <h3>Корпоративным клиентам</h3>
                        <ul>
                            <li><a href="#">Как заказать товар?</a></li>
                            <li><a href="#">Как оплатить товар?</a></li>
                            <li><a href="#">Как получить товар?</a></li>
                            <li><a href="#">Возврат для юридических лиц</a></li>
                            <li><a href="#">Наши реквизиты</a></li>
                            <li><a href="#">Образцы документов</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
    </div>
</main>