<main id="wrapp" th:fragment="help" xmlns:th="http://www.w3.org/1999/xhtml">
    <div class="wrapper">
        <ul class="breadCrumbs">
            <li><a href="index.html">Главная</a></li>
            <li>Помощь</li>
        </ul>
        <aside class="blogSidebarGroup typicalAside">
            <ul class="blogCategoryList blogCategoryListWithOutTitle">
                <li>
                    <a href="about.html">
                        <img src="img/slider-arrow-left.png">
                        О компании
                    </a>
                </li>
                <li class="active">
                    <a href="help.html">
                        <img src="img/slider-arrow-left.png">
                        Помощь
                    </a>
                </li>
                <li>
                    <a href="bonus.html">
                        <img src="img/slider-arrow-left.png">
                        PAP-бонус
                    </a>
                </li>
                <li>
                    <a href="blog.html">
                        <img src="img/slider-arrow-left.png">
                        Наш блог
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="img/slider-arrow-left.png">
                        База знаний
                    </a>
                </li>
                <li>
                    <a href="delivery_and_payment.html">
                        <img src="img/slider-arrow-left.png">
                        Доставка и оплата
                    </a>
                </li>
                <li>
                    <a href="feedback.html">
                        <img src="img/slider-arrow-left.png">
                        Отзывы
                    </a>
                </li>
                <li>
                    <a href="contacts.html">
                        <img src="img/slider-arrow-left.png">
                        Контакты
                    </a>
                </li>
            </ul>
        </aside>
        <section class="typicalSection">
            <div class="blogPreviewHolder helpPage">
                <h1 class="typicalH1">ПАПЕРКИ. Помощь</h1>
                <p class="helpTagline">Место, где пропадают вопросы и появляются ответы.</p>
                <div class="helpRow clearfix">
                    <div class="helpCol helpColHeight">
                        <svg>
                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#helpCartSvg"></use>
                        </svg>
                        <h3>Как заказать?</h3>
                        <ul>
                            <li><a href="#">На сайте</a></li>
                            <li><a href="#">Как работать с сайтом?</a></li>
                            <li><a href="#">Как подобрать размер</a></li>
                            <li><a href="#">По телефону</a></li>
                            <li><a href="#">По электронной почте</a></li>
                            <li><a href="#">В магазинах</a></li>
                        </ul>
                    </div>
                    <div class="helpCol helpColHeight">
                        <svg>
                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#helpPhoneSvg"></use>
                        </svg>
                        <h3>Как оплатить?</h3>
                        <ul>
                            <li><a href="#">При получении</a></li>
                            <li><a href="#">На сайте</a></li>
                            <li><a href="#">В кредит</a></li>
                            <li><a href="#">PAP-бонус</a></li>
                            <li><a href="#">Как воспользоваться купоном?</a></li>
                            <li><a href="#">Подарочные сертификаты</a></li>
                            <li><a href="#">Ценовая политика</a></li>
                        </ul>
                    </div>
                    <div class="helpCol helpColHeight">
                        <svg>
                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#helpCarLeftSvg"></use>
                        </svg>
                        <h3>Как получить?</h3>
                        <ul>
                            <li><a href="#">Адреса и контакты</a></li>
                            <li><a href="#">Доставка</a></li>
                            <li><a href="#">Наши партнеры</a></li>
                        </ul>
                    </div>
                    <div class="helpCol helpColHeight">
                        <svg>
                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#helpCallbackSvg"></use>
                        </svg>
                        <h3>Обратная связь</h3>
                        <ul>
                            <li><a href="#">Отзывы и предложения</a></li>
                            <li><a href="#">Мы ВКонтакте</a></li>
                            <li><a href="#">Мы в Facebook</a></li>
                            <li><a href="#">Мы в Twitter</a></li>
                            <li><a href="#">Контакты для поставщиков</a></li>
                        </ul>
                    </div>
                    <div class="helpCol helpColHeight">
                        <svg>
                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#humansSvg"></use>
                        </svg>
                        <h3>Корпоративным клиентам</h3>
                        <ul>
                            <li><a href="#">Как заказать товар?</a></li>
                            <li><a href="#">Как оплатить товар?</a></li>
                            <li><a href="#">Как получить товар?</a></li>
                            <li><a href="#">Возврат для юридических лиц</a></li>
                            <li><a href="#">Наши реквизиты</a></li>
                            <li><a href="#">Образцы документов</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
    </div>
</main>