<main id="wrapp" th:fragment="main" xmlns:th="http://www.thymeleaf.org">
    <div class="container container-mobile">

        <!-- Main slider start-->
        <div th:include="/components/mainslider/mainslider :: mainslider" class="slide-main" />
        <!-- Main slider end -->

        <!-- преимущества -->
        <div class="advant-bl">
            <div class="container">
                <div class="row row-eq-height">
                    <div class="col-md-3 col-sm-6 ad-1">
                        <ul class="list-adv">
                            <li><img src="/res/img/ad1.png" alt="Самовывоз в любой день"></li>
                            <li>Самовывоз в любой день </li>
                            <li>
                                <span>с 8:30 до 17:00</span>
                            </li>
                        </ul>
                    </div>

                    <div class="col-md-3 col-sm-6 ad-1">
                        <ul class="list-adv">
                            <li><img src="/res/img/ad2.png" alt="Доставляем в день заказа"></li>
                            <li>Бесплатная доставка </li>
                            <li>
                                <span>в тот же день</span>
                            </li>
                        </ul>
                    </div>

                    <div class="col-md-3 col-sm-6 ad-1">
                        <ul class="list-adv">
                            <li><img src="/res/img/ad3.png" alt="Большой ассортимент"></li>
                            <li>Большой ассортимент</li>
                            <li>
                                <span>4 000 товаров</span>
                            </li>
                        </ul>
                    </div>

                    <div class="col-md-3 col-sm-6 ad-1">
                        <ul class="list-adv">
                            <li><img src="/res/img/ad4.png" alt="Подарки, акции, скидки"></li>
                            <li>Подарки, акции, скидки </li>
                            <li>
                                <span>до 50%</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- преимущества -->
        <!-- Каталог -->
        <div class="catalog"
            th:if="${extraProducts} != null">
            <div class="row cat-row"
                th:if="${extraProducts.size()} > 0">
                
                <div class="left-cat">

                    <div class="catalog__navigation">
                        <ul class="nav nav-tabs nav-brd">
                            <li class="active-tab tab-on"
                                th:each="products : ${extraProducts}"
                                th:class="${products.key} == 1 ? 'active-tab tab-on active' : 'tab-on'">
                                <a data-toggle="tab" href="#panel1" class="c-button"
                                    th:href="@{'#panel'+${products.key}}">
                                    <div class="c-ripple js-ripple">
                                        <span class="c-ripple__circle"></span>
                                    </div>
                                    <span   th:switch="${products.key}"
                                            th:remove="tag">
                                        <span th:case="${1}" th:remove="tag">Хиты продаж</span>
                                        <span th:case="${2}" th:remove="tag">Супер цена</span>
                                        <span th:case="${3}" th:remove="tag">Новинки</span>
                                        <span th:case="${4}" th:remove="tag">Специальное предложение</span>
                                    </span>
                                </a>
                            </li>
                        </ul>
                    </div>


                    <div class="tab-content">
                        <div th:each="products : ${extraProducts}" th:remove="tag">
                            <div id="panel1" class="tab-pane fade in"
                                th:attr="id='panel'+ ${products.key}" 
                                th:class="${products.key} == 1 ? 'tab-pane fade active in' : 'tab-pane fade'">
                                <div class="row cat-row row-eq-height">
                                    <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12"
                                            th:each="product : ${products.value}">
                                        <div class="thumbnail order-product product_hit"
                                            th:class="(${products.key} == 1 ? 'thumbnail order-product product_hit' : (${products.key} == 2 ? 'thumbnail order-product product_super-price' : (${products.key} == 3 ? 'thumbnail order-product new-product' : 'thumbnail order-product')))">
                                            <div class="caption cap-normal product-content">
                                                <div class="product-content__top">
                                                    <ul class="top-l-cat">
                                                        <li>
                                                            <a href="#" class="link-name-cat"
                                                               th:href="@{${catalogurl}+${product.value.categoryTranslitName}+'/'+${product?.value?.translitName}}"
                                                               th:text="${product?.value?.fullName}">Полное название товара</a>
                                                        </li>
                                                        <li>
                                                            <a href="#" class="cat-l"
                                                               th:href="@{${catalogurl}+${product.value.categoryTranslitName}+'/'+${product?.value?.translitName}}"
                                                               th:text="${product?.value?.shortName}">Короткое название товара</a>
                                                        </li>
                                                    </ul>
                                                    <p class="al-ph">
                                                        <div    th:if="${oldImages} != null"
                                                                th:switch="${oldImages[__${product?.value?.pnt}__]} == null"
                                                                th:remove="tag">
                                                            <img src="/catimagesold/noimage.jpg" alt="" class="img-pr"
                                                                 th:case="${true}"
                                                                 th:attr="alt=${product?.value?.fullName}">
                                                            <img src="/res/img/product1.png" alt="Изображение товара" class="img-pr"
                                                                th:case="${false}"
                                                                th:attr="src=@{'/catimagesold/'+ ${oldImages[__${product?.value?.pnt}__][0]}},alt=${product?.value?.fullName}">
                                                        </div>
                                                    </p>
                                                    <p class="desc-pr" th:text="${product?.value?.shortDescription}">
                                                        Короткое описание товара
                                                    </p>
                                                </div>
                                                <div class="product-content__bottom">
                                                    <div class="prices-block">
                                                        <span   th:switch="${product?.value?.basePrice} > ${product?.value?.finalPrice}" 
                                                                th:remove="tag">
                                                            <ul class="prices-block-list" 
                                                                th:case="${true}">
                                                                <li class="old-pr" th:text="${product?.value?.basePrice}">0,00 руб</li>
                                                                <li class="new-pr" th:text="${product?.value?.finalPriceWithVAT} + ' руб'">0,00 руб</li>
                                                            </ul>
                                                            <ul class="prices-block-list" 
                                                                th:case="${false}">
                                                                <li class="current-pr" th:text="${product?.value?.finalPriceWithVAT} + ' руб'">0,00 руб</li>
                                                            </ul>
                                                        </span>

                                                        <div class="bon-pr" 
                                                            th:if="${product?.value?.prices.size()} > 1">
                                                            <img src="/res/img/i.png" alt="Информация">
                                                            <div class="hint">
                                                                <span class="glyphicon glyphicon-triangle-top hint-arrow"></span>
                                                                <h5>Цена зависит от<br>количества!</h5>
                                                                <div>
                                                                    <span th:each="price : ${product?.value?.prices}" th:remove="tag">
                                                                        <p th:text="'от '+${price?.key}+' ед. :'">от 1 ед. :</p>
                                                                        <p th:text="${price?.value?.basePriceWithVAT}+' руб.'">0,00 руб</p>
                                                                    </span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="btns" style="position: relative;">
                                                        <div class="cart-add-loader">
                                                            <div class="loader"></div>
                                                        </div>
                                                        <div class="product-add-popup-confirm">
                                                            <div class="textarea">

                                                            </div>
                                                            <a class="cart-popup-del__cancel" style="cursor: pointer;">Отмена</a>
                                                        </div>
                                                        <ul class="list-bt">
                                                                <li class="add-btn">
                                                                    <a href="#" class="btn c-button btn-to-cart" title="В корзину">
                                                                        <div class="c-ripple js-ripple">
                                                                            <span class="c-ripple__circle"></span>
                                                                        </div>
                                                                        <img src="/res/img/cart-icon.png" alt="Cart">
                                                                    </a>
                                                                    <div class="add-area">
                                                                        <ul class="list-bt">
                                                                            <li>
                                                                                <a class="btn c-button btn-in-cart"
                                                                                   th:attr="onclick='addToCart('+${product?.value?.pnt}+')'">
                                                                                    <div class="c-ripple js-ripple">
                                                                                        <span class="c-ripple__circle"></span>
                                                                                    </div>
                                                                                    в корзину
                                                                                </a>
                                                                            </li>
                                                                            <li style="margin: 0px;">
                                                                                <div class="single-product__number" style="margin: 0px;">
                                                                                    <div class="dec">-</div>
                                                                                    <input id="null" name="french-hens" class="inde" value="1" type="text"
                                                                                           th:attr="id=${product?.value?.pnt}">
                                                                                    <div class="inc">+</div>
                                                                                </div>
                                                                            </li>
                                                                        </ul>
                                                                    </div>
                                                                </li>
                                                               <li th:attr="id='in-cart-item-'+${product?.value?.pnt}">
                                                                    <div th:if="${cart.items[__${product?.value?.pnt}__]} != null" th:remove="tag">
                                                                        <div class="cart-is-added"
                                                                                th:if="${cart.items[__${product?.value?.pnt}__].quantity} > 0">
                                                                            <div class="cart-is-added__pict">
                                                                                <img src="/res/img/cart-is-added.png" alt="added to cart">
                                                                            </div>
                                                                            <div class="cart-is-added__number">
                                                                                <p><span th:text="${cart.items[__${product?.value?.pnt}__].quantity}">0</span> ед.</p>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </li>
                                                                <li>
                                                                    <a class="btn c-button btn-bookmark bnt-ic" title="Добавить в закладки"
                                                                        th:attr="onclick='toFavorites('+${product?.value?.pnt}+')'">
                                                                        <div class="c-ripple js-ripple">
                                                                            <span class="c-ripple__circle"></span>
                                                                        </div>
                                                                    </a>
                                                                </li>
                                                            </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Каталог -->
        
        
        <!-- Статьи -->
        <div class="articles-content">
            <div class="container">
                <div class="title-sec">
                    <h2>Новые статьи</h2>
                </div>
                <div class="articles">
                    <div class="row articles-slider">
                        <div class="col-lg-4 col-md-6">
                            <article class="article">
                                <div class="row">
                                    <div class="col-lg-6 col-md-6">
                                        <div class="img">
                                            <!--<img src="/res/img/articles/img1.png" alt="articles pict">-->
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-6">
                                        <div class="in-art">
                                            <h6 class="title-art">Покупай бумагу, получай рюкзак в подарок</h6>
                                            <p class="desc-art">При единовременном заказе от 60 пачек Xerox Performer или Xerox Office + от 5 пачек Xerox Марафон Премьер – стильный РЮКЗАК в подарок</p>
                                            <a href="/blog/backpack" class="btn-more">подробнее</a>
                                        </div>
                                    </div>
                                </div>
                            </article>
                        </div>
                        <div class="col-lg-4 col-md-6">
                            <article class="article">
                                <div class="row">
                                    <div class="col-lg-6 col-md-6">
                                        <div class="img">
                                            <!--<img src="/res/img/articles/img1.png" alt="articles pict">-->
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-6">
                                        <div class="in-art">
                                            <h6 class="title-art">Подшивай документы без усилий с апс 168а</h6>
                                            <p class="desc-art">Переплетная архивная система АПС 168А - это уникальный настольный станок, предназначенный для того, чтобы без усилий подшивать бухгалтерские, архивные и любые другие документы.</p>
                                            <a href="/blog/binding" class="btn-more">подробнее</a>
                                        </div>
                                    </div>
                                </div>
                            </article>
                        </div>
                        <div class="col-lg-4 col-md-6">
                            <article class="article">
                                <div class="row">
                                    <div class="col-lg-6 col-md-6">
                                        <div class="img">
                                            <!--<img src="/res/img/articles/img1.png" alt="articles pict">-->
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-6">
                                        <div class="in-art">
                                            <h6 class="title-art">Доски naga – стильный аксессуар для работы и интерьера</h6>
                                            <p class="desc-art">Стеклянные доски NAGA – это идеальный вариант магнитных досок, которые предназначены для выполнения различных задач.Несомненно их можно назвать оптимальным решением вопросов своевременного донесения кратковременной, но важной информации до сотрудников разных отраслей промышленности, современного бизнеса и образования.</p>
                                            <a href="/blog/boards" class="btn-more">подробнее</a>
                                        </div>
                                    </div>
                                </div>
                            </article>
                        </div>





                    </div>
                </div>
                
            </div>
        </div>
        <!-- Статьи -->
        <!-- Бренды -->
        <div class="brands">
            <div class="container">
                <div class="title-sec">
                    <h2>Бренды</h2>
                </div>
                <div class="brands-slider">
                    <div class="brands-slider-content">
                        <a href="" class="onebrand">
                            <img alt="nagaLogo" src="/res/img/brands/nagaLogo.png" />
                            <div class="caption-br">
                                <span class="thumbnail-text">Image Text</span>
                            </div>
                        </a>
                        <a href="" class="onebrand">
                            <img alt="magic_line" src="/res/img/brands/magic_line.png" />
                            <div class="caption-br">
                                <span class="thumbnail-text">Image Text</span>
                            </div>
                        </a>
                        <a href="" class="onebrand">
                            <img alt="logo2" src="/res/img/brands/logo2.png" />
                            <div class="caption-br">
                                <span class="thumbnail-text">Image Text</span>
                            </div>
                        </a>
                        <a href="" class="onebrand">
                            <img alt="logo-nyt" src="/res/img/brands/logo-nyt.png" />
                            <div class="caption-br">
                                <span class="thumbnail-text">Image Text</span>
                            </div>
                        </a>
                        <a href="" class="onebrand">
                            <img alt="linс" src="/res/img/brands/link.png" />
                            <div class="caption-br">
                                <span class="thumbnail-text">Image Text</span>
                            </div>
                        </a>
                        <a href="" class="onebrand">
                            <img alt="infolio" src="/res/img/brands/infolio.png" />
                            <div class="caption-br">
                                <span class="thumbnail-text">Image Text</span>
                            </div>
                        </a>
                        <a href="" class="onebrand">
                            <img alt="greensboro-college" src="/res/img/brands/greensboro-college.png" />
                            <div class="caption-br">
                                <span class="thumbnail-text">Image Text</span>
                            </div>
                        </a>
                        <a href="" class="onebrand">
                            <img alt="colop" src="/res/img/brands/colop.png" />
                            <div class="caption-br">
                                <span class="thumbnail-text">Image Text</span>
                            </div>
                        </a>
                        <a href="" class="onebrand">
                            <img alt="artspace" src="/res/img/brands/artspace.png" />
                            <div class="caption-br">
                                <span class="thumbnail-text">Image Text</span>
                            </div>
                        </a>
                        <a href="" class="onebrand">
                            <img alt="akavim" src="/res/img/brands/akavim.png" />
                            <div class="caption-br">
                                <span class="thumbnail-text">Image Text</span>
                            </div>
                        </a>
                        <a href="" class="onebrand">
                            <img alt="3719484" src="/res/img/brands/3719484.png" />
                            <div class="caption-br">
                                <span class="thumbnail-text">Image Text</span>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <!-- Бренды -->
    </div>
    <!-- container -->
</main>