<main id="wrapp" th:fragment="order" xmlns:th="http://www.thymeleaf.org">
    <div class="wrapper">
        <ul class="breadCrumbs">
            <li><a href="/">Главная</a></li>
            <li>Оформление заказа</li>
        </ul>
        <h1 class="typicalH1">ОФОРМЛЕНИЕ ЗАКАЗА</h1>
        <div 
            th:switch="${cart?.items.size()} > 0" 
            th:remove="tag">
            <div class="order-holder" 
                th:case="${true}">
                <!-- ДЕТАЛИ ЗАКАЗА -->
                <div class="order-items">

                        <div class="composition-order">
                            <h2>Состав заказа</h2>
                            <div class="composition-order-table">
                                <div class="table-head">
                                    <ul class="table-row">
                                        <li></li>
                                        <li>Код</li>
                                        <li>Наименование</li>
                                        <li>Цена</li>
                                        <li>Кол-во</li>
                                        <li>Сумма</li>
                                    </ul>
                                </div>
                                <div class="table-body">
                                    <ul class="table-row" 
                                        th:each="item : ${cart?.items}">
                                        <li style="position: relative;">
                                            <a href="#" class="cart-popup-del-prod"></a>
                                            <div class="cart-popup-del-prod-confirm">
                                                <div class="cart-popup-del-prod-confirm__btns">
                                                    <a class="cart-popup-del-prod__bookmark" style="cursor: pointer;"
                                                        onclick="toFavorites('null')"
                                                        th:attr="onclick='toFavorites('+${item.value.pnt}+')'">
                                                        <img src="/res/img/cart-bookmark-icon.png" alt="Bookmarks">
                                                        <p>Переместить<br>
                                                            в список желаний
                                                        </p>
                                                    </a>
                                                    <a class="cart-popup-del-prod__remove" style="cursor: pointer;"
                                                        onclick="deleteFromCart('null')"
                                                        th:attr="onclick='deleteFromCart('+${item.value.pnt}+')'">
                                                        <img src="/res/img/cart-delete-prod-without-icon.png" alt="Remove">
                                                        <p>Удалить без сохранения</p>
                                                    </a>
                                                </div>
                                                <a class="cart-popup-del__cancel">Отмена</a>
                                            </div>
                                        </li>
                                        <li th:text="${item.value.pnt}">000000</li>
                                        <li>
                                            <a href="#"
                                                th:href="@{'#'}"
                                                th:text="${item.value.fullName}">
                                                Полное наименование товара
                                            </a>
                                        </li>
                                        <li th:text="${item.value.finalPriceWithVAT}+ ' руб'">0.00 руб</li>
                                        <li th:text="${item.value.quantity} +' шт'">0 ед.</li>
                                        <li th:text="${item.value.totalWithVAT} +' руб'">0.00 руб</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="choosen-order-bottom">
                            <h2>Оформить заказ как:</h2>
                            <div class="single-product-tabs orderingTabs">
                                <ul class="single-product-tabs__titles">
                                    <li data-page="0" onclick="switchOrderType(1)">
                                      Физическое лицо
                                    </li>
                                    <li data-page="1" onclick="switchOrderType(2)">
                                      Юридическое лицо
                                    </li>
                                </ul>
                                <input type="hidden" id="order-type-switcher" value="1">

                                <!--Как физ. лицо-->
                                <div class="single-product-tabs-content" id="customer-tab">
                                    <div class="single-product-tabs__char brb">
                                        <form class="orderingContent">

                                            <!-- CONTACTS -->
                                            <div class="orderingTabsSection">
                                                <div class="orderingTabsSectionNumber">
                                                    1
                                                </div>

                                                <div class="orderingTabsSectionHolder">
                                                    <h4 class="orderingTabsSectionTitle">Контактная информация</h4>
                                                    <br>
                                                    <span class="input input--ichiro callback-form-field">
                                                        <input class="input__field input__field--ichiro" type="text" name="reg-name" 
                                                            id="order-input-customer-name"
                                                            th:value="${user?.name}" />
                                                        <label class="input__label input__label--ichiro" for="order-input-customer-name">
                                                            <span data-toggle="tooltip" class="input__label-content input__label-content--ichiro" 
                                                                id="order-label-customer-name">Ваше Имя *</span>
                                                        </label>
                                                    </span>
                                                    <span class="input input--ichiro callback-form-field">
                                                        <input class="input__field input__field--ichiro" type="email" id="order-input-customer-email"
                                                            th:value="${user?.email}" />
                                                        <label class="input__label input__label--ichiro" for="order-input-customer-email">
                                                            <span data-toggle="tooltip" class="input__label-content input__label-content--ichiro" 
                                                                id="order-label-customer-email">e-mail *</span>
                                                        </label>
                                                    </span>
                                                    <span class="input input--ichiro callback-form-field">
                                                        <input class="input__field input__field--ichiro" type="text" id="order-input-customer-phone"
                                                            th:value="${user?.phone}" />
                                                        <label class="input__label input__label--ichiro" for="order-input-customer-phone">
                                                            <span data-toggle="tooltip" class="input__label-content input__label-content--ichiro" 
                                                            id="order-label-customer-phone">Телефон *</span>
                                                        </label>
                                                    </span>
                                                </div>
                                            </div>

                                            <!-- SHIPMENT -->
                                            <div class="orderingTabsSection postSectionBT">
                                                <div class="orderingTabsSectionNumber">
                                                    2
                                                </div>

                                                <div class="orderingTabsSectionHolder">
                                                    <h4 class="orderingTabsSectionTitle">Способы получения товара</h4>
                                                    <h5 class="orderingTabsSectionSubTitle">Выберите получения товара</h5>

                                                    <ul class="orderingRadio deliveryTime" id="customer-shipment-chosen"
                                                        th:if="${deliveries[1]} != null">
                                                        <li th:each="dilivery : ${deliveries[1]}">
                                                            <input type="radio" 
                                                                id="delivery-id" 
                                                                name="deliveryTime" 
                                                                value="test" 
                                                                th:attr="id='delivery-id-'+${dilivery?.value?.id}"
                                                                th:value="${dilivery?.value?.id}">
                                                            <label class="clearfix" 
                                                                for="delivery-id"
                                                                th:attr="for='delivery-id-'+${dilivery?.value?.id}">
                                                                <p class="deliveryTimeTitle" 
                                                                    th:text="${dilivery?.value?.name}">Название доставки</p>
                                                                <p class="deliveryTimePrice"></p>
                                                            </label>
                                                            <div class="orderingdeliveryTimeHolder clearfix"
                                                                 th:text="${dilivery?.value?.shortDescription}">
                                                                Описание
                                                            </div>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>

                                            <!-- PAYMENT -->
                                            <div class="orderingTabsSection postSectionBT">
                                                <div class="orderingTabsSectionNumber">
                                                    3
                                                </div>

                                                <div class="orderingTabsSectionHolder">
                                                    <h4 class="orderingTabsSectionTitle">Спосоы оплаты</h4>
                                                    <h5 class="orderingTabsSectionSubTitle">Выберите способ оплаты</h5>

                                                    <ul class="choosingBase orderingRadio paymentType" id="customer-payment-chosen">
                                                        <li>
                                                            <input type="radio" id="deliveryPaymentType3" value="1">
                                                            <label class="clearfix" for="deliveryPaymentType3">
                                                                <p class="paymentTypeTitle">За наличный расчёт
                                                                    <img class="paymentPic" src="/res/img/icons/focus.min.svg">
                                                                </p>                                              
                                                            </label>
                                                            <div class="orderingdeliveryTimeHolder clearfix">
                                                                Краткое описание способа оплаты
                                                            </div>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>

                                            <!-- COMMENTS -->
                                            <div class="orderingTabsSection postSectionBT">
                                                <div class="orderingTabsSectionNumber">
                                                    4
                                                </div>

                                                <div class="orderingTabsSectionHolder">
                                                    <span class="input input--ichiro callback-form-field message-field">
                                                        <textarea class="input__field input__field--ichiro"
                                                                  name="order-customer-comment"
                                                                  id="order-customer-comment"></textarea>
                                                        <label class="input__label input__label--ichiro" for="order-customer-comment">
                                                            <span class="input__label-content input__label-content--ichiro">Комментарий к заказу</span>
                                                        </label>
                                                    </span>
                                                </div>
                                            </div>
                                        </form>
                                    </div>

                                    <!--Как юр. лицо-->
                                    <div class="single-product-tabs__photo brb">
                                        <div class="orderingTabsSection">
                                            <div class="orderingTabsSectionNumber">
                                                1
                                            </div>

                                            <div class="orderingTabsSectionHolder">
                                                <h4 class="orderingTabsSectionTitle">Контактная информация</h4>
                                                <br>

                                                <span class="input input--ichiro callback-form-field">
                                                    <input class="input__field input__field--ichiro" type="email" 
                                                        id="order-input-enterprise-email" />
                                                    <label class="input__label input__label--ichiro" for="order-input-enterprise-email">
                                                        <span data-toggle="tooltip" class="input__label-content input__label-content--ichiro" 
                                                            id="order-label-enterprise-email">e-mail *</span>
                                                    </label>
                                                </span>
                                                 <span class="input input--ichiro callback-form-field">
                                                    <input class="input__field input__field--ichiro" type="text" 
                                                        id="order-input-enterprise-phone" />
                                                    <label class="input__label input__label--ichiro" for="order-input-enterprise-phone">
                                                        <span data-toggle="tooltip" class="input__label-content input__label-content--ichiro" 
                                                            id="order-label-enterprise-phone">Телефон *</span>
                                                    </label>
                                                </span>
                                                <span class="input input--ichiro callback-form-field">
                                                    <input class="input__field input__field--ichiro" type="text" 
                                                        id="order-input-enterprise-name" />
                                                    <label class="input__label input__label--ichiro" for="order-input-enterprise-name">
                                                        <span data-toggle="tooltip" class="input__label-content input__label-content--ichiro"
                                                            id="order-label-enterprise-name">
                                                            Название компании
                                                        </span>
                                                    </label>
                                                </span>
                                                <span class="input input--ichiro callback-form-field">
                                                    <input class="input__field input__field--ichiro" type="text" 
                                                        id="order-input-enterprise-unp" />
                                                    <label class="input__label input__label--ichiro" for="order-input-enterprise-unp">
                                                        <span data-toggle="tooltip" class="input__label-content input__label-content--ichiro"
                                                            id="order-label-enterprise-unp">
                                                            УНН
                                                        </span>
                                                    </label>
                                                </span>
                                                <span class="input input--ichiro callback-form-field">
                                                    <input class="input__field input__field--ichiro" type="text" 
                                                        id="order-input-enterprise-address" />
                                                    <label class="input__label input__label--ichiro" for="order-input-enterprise-address">
                                                        <span data-toggle="tooltip" 
                                                            class="input__label-content input__label-content--ichiro" 
                                                            id="order-label-enterprise-address">Юридический адрес</span>
                                                    </label>
                                                </span>
                                            </div>
                                        </div>

                                        <!-- SHIPMENT -->
                                        <div class="orderingTabsSection postSectionBT">
                                            <div class="orderingTabsSectionNumber">
                                                2
                                            </div>

                                            <div class="orderingTabsSectionHolder">
                                                <h4 class="orderingTabsSectionTitle">Способы получения товара</h4>
                                                <h5 class="orderingTabsSectionSubTitle">Выберите способ получения товара</h5>

                                                <ul class="orderingRadio deliveryTime" id="enterprise-shipment-chosen"
                                                        th:if="${deliveries[2]} != null">
                                                    <li th:each="dilivery : ${deliveries[2]}">
                                                        <input type="radio" 
                                                            id="delivery-id-e" 
                                                            name="deliveryTime"
                                                            value="test"
                                                            th:attr="id='delivery-id-e-'+${dilivery?.value?.id}"
                                                            th:value="${dilivery?.value?.id}">>
                                                        <label class="clearfix" 
                                                            for="delivery-id"
                                                            th:attr="for='delivery-id-e-'+${dilivery?.value?.id}">
                                                            <p class="deliveryTimeTitle" 
                                                                th:text="${dilivery?.value?.name}">Название доставки</p>
                                                            <p class="deliveryTimePrice"></p>
                                                        </label>
                                                        <div class="orderingdeliveryTimeHolder clearfix"
                                                             th:text="${dilivery?.value?.shortDescription}">
                                                              Описание
                                                        </div>
                                                    </li>
                                                </ul>

                                            </div>
                                        </div>

                                        <!-- PAYMENT -->
                                        <div class="orderingTabsSection postSectionBT">
                                            <div class="orderingTabsSectionNumber">
                                                3
                                            </div>

                                            <div class="orderingTabsSectionHolder">
                                                <h4 class="orderingTabsSectionTitle">Способы оплаты</h4>
                                                <h5 class="orderingTabsSectionSubTitle">Выберите способ оплаты</h5>
                                                <ul class="choosingBase orderingRadio paymentType" id="enterprise-payment-chosen">
                                                    <li>
                                                        <input type="radio" id="deliveryPaymentType1">
                                                        <label class="clearfix" for="deliveryPaymentType1">
                                                            <p class="paymentTypeTitle">По безналичному расчёту
                                                                <img class="paymentPic" src="/res/img/icons/home.min.svg">
                                                            </p>
                                                        </label>
                                                    </li>
                                                </ul>   
                                            </div>
                                        </div>
                                        
                                        <!-- COMMENTS -->
                                        <div class="orderingTabsSection postSectionBT">
                                            <div class="orderingTabsSectionNumber">
                                                4
                                            </div>

                                            <div class="orderingTabsSectionHolder">
                                                <span class="input input--ichiro callback-form-field message-field">
                                                    <textarea class="input__field input__field--ichiro"
                                                              name="order-enterprise-comment"
                                                              id="order-enterprise-comment"></textarea>
                                                    <label class="input__label input__label--ichiro" for="order-enterprise-comment">
                                                        <span class="input__label-content input__label-content--ichiro">Комментарий к заказу</span>
                                                    </label>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                </div>
                <!-- КОНЕЦ ДЕТАЛИ ЗАКАЗА -->

                <!-- МЕНЮ ЗАКАЗА -->
                <div class="order-menu-bar">
                    <div class="orderingSidebarSection ">
                        <h2 class="orderingSidebarTitle">Итого</h2>
                        <ul class="orderingSidebarCost">
                            <li class="clearfix">
                                <p class="orderingSidebarCostLeft">товаров на сумму</p>
                                <p class="orderingSidebarCostRight" th:text="${cart?.totalWithVAT} + ' руб'">0.00 руб</p>
                            </li>
                            <li class="clearfix" th:if="${cart?.shipmentCost} > 0.0">
                                <p class="orderingSidebarCostLeft">Стоимость доставки:</p>
                                <p class="orderingSidebarCostRight" th:text="${cart?.shipmentCost} + ' руб'">0.00 руб</p>
                            </li>
                            <li class="clearfix" th:if="${cart?.paymentCost} > 0.0">
                                <p class="orderingSidebarCostLeft">Стоимость оплаты:</p>
                                <p class="orderingSidebarCostRight" th:text="${cart?.paymentCost} + ' руб'">0.00 руб</p>
                            </li>
                        </ul>
                    </div>
                    <div class="orderingSidebarSection postSectionBT">
                        <p class="orderingSidebarPrice">Всего к оплате:</p>
                        <p class="orderingSidebarPriceHolder" th:text="${cart?.finalTotalWithVAT} + ' руб' ">0.00 руб</p>
                        <div class="clearfix"></div>
                        <button class="btn c-button likeBtnIncart orderButton" 
                            type="subscribe"
                            onclick="confirmOrder()">
                            <div class="c-ripple js-ripple">
                                <span class="c-ripple__circle"></span>
                            </div>
                            ЗАКАЗ ПОДТВЕРЖДАЮ
                        </button>
                        <div class="orderingSidebarBottom">
                            <p class="orderingSidebarTermsOfUseTitle">Подтверждая заказ, я принимаю условия</p>
                            <p class="orderingSidebarTermsOfUse"><a href="#">пользовательского соглашения</a></p>
                        </div>
                    </div>
                </div>
                <!-- КОНЕЦ МЕНЮ ЗАКАЗА -->
            </div>
            <!-- ЕСЛИ ЗАКАЗ ПУСТ -->
            <div class="order-holder" th:case="${false}">
                <h2>Ваш заказ пуст</h2>
                
            </div>
        </div>
    </div>
</main>