<main id="wrapp" th:fragment="password" xmlns:th="http://www.thymeleaf.org">
    <div class="container container-mobile">
        <section class="typicalSection">
            <div class="change-password profile-tab">
                <h2>Ваш запрос на смену пароля успешно принят</h2>
                <p>На адрес электронной почты Вашего аккаунта высланы инструкции по восстановлению пароля</p>
                <p>Проверьте ваш электронный ящик</p>
                <p>Обращаем ваше внимание на то, что запрос на восстановление пароля будет действителен в течение <strong>1 часа</strong></p>
            </div>
        </section>
    </div>
</main>
