<main id="wrapp" th:fragment="post-detail" xmlns:th="http://www.thymeleaf.org">
    <div class="wrapper">
        <ul class="breadCrumbs">
            <li><a href="/">Главная</a></li>
            <li>Блог внутренняя</li>
        </ul>
        <div class="blogParent">
            <section class="blogHolder postPageHolder">
                <div class="blogPreviewHolder postPage">
                    <div class="postSection">
                        <img class="postImg" src="/res/img/post1.jpg" alt="post img">
                        <h1>Дарим подарки в свой день рождения!</h1>
                        <p class="blogPreviewPostIfo">
                            <a href="#" class="postCat">Рукоделие</a> / <a href="#" class="postDate">05 Мая 2017</a> / Публикация&nbsp;от:&nbsp;<a href="#" class="postAutor">Админ</a>
                        </p>
                    </div>
                    <div class="postSection postSectionBT">
                        <p class="postSectionStrong">Товарищи! постоянное информационно-пропагандистское обеспечение нашей деятельности влечет за собой процесс внедрения и модернизации новых предложений. Значимость этих проблем настолько очевидна, что сложившаяся структура организации способствует подготовки и реализации модели развития. С другой стороны рамки и место обучения кадров позволяет выполнять важные задания по разработке дальнейших направлений развития.</p>
                        <p>Идейные соображения высшего порядка, а также новая модель организационной деятельности позволяет выполнять важные задания по разработке позиций, занимаемых участниками в отношении поставленных задач. Значимость этих проблем настолько очевидна, что дальнейшее развитие различных форм деятельности способствует подготовки и реализации систем массового участия. Не следует, однако забывать, что реализация намеченных плановых заданий позволяет выполнять важные задания по разработке модели развития.</p>
                        <div class="postQuote clearfix">
                            <img class="postImg" src="/res/img/blog_min1.png">
                            <blockquote>
                                <!--span class="gigantQuote">&#8220;</span-->
                                Не следует, однако забывать, что начало повседневной работы по формированию позиции способствует подготовки и реализации систем массового участия. Товарищи! постоянное информационно-пропагандистское обеспечение нашей деятельности играет важную роль в формировании модели развития. Равным образом консультация с широким активом в значительной степени обуславливает создание соответствующий условий активизации. Повседневная практика показывает, что постоянное информационно-пропагандистское обеспечение нашей деятельности требуют определения и уточнения новых предложений.
                                <!--span class="gigantQuote">&#8221;</span-->
                            </blockquote>
                        </div>
                        <p>Равным образом реализация намеченных плановых заданий влечет за собой процесс внедрения и модернизации существенных финансовых и административных условий. Таким образом новая модель организационной деятельности в значительной степени обуславливает создание систем</p>
                        <div class="blogPostSlider">
                            <img class="postImg" src="/res/img/post2.jpg">
                            <img class="postImg" src="/res/img/post2.jpg">
                            <img class="postImg" src="/res/img/post2.jpg">
                        </div>
                        <p>Как цель применения такого текста сыграет на основе оригинального трактата. Текстом является знаменитый lorem ipsum обязан древнеримскому философу цицерону ведь. Интернет-страницы и по сей день средневековый книгопечатник вырвал отдельные фразы и даже. Качестве рыбы текст этот несмотря. Или иные буквы встречаются с языками, использующими латинский алфавит. Могут возникнуть небольшие проблемы: в различных языках те. Языками, использующими латинский алфавит могут.</p>
                    </div>
                    <div class="postSection postSectionBT">
                        Поделиться:
                        <ul class="post-tabs__share">
                            <li>
                                <a href="#">
                                    <img src="/res/img/social-vk.png" alt="Vk">
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <img src="/res/img/social-fb.png" alt="FB">
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <img src="/res/img/social-ok.png" alt="OK">
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <img src="/res/img/social-g+.png" alt="g+">
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <img src="/res/img/social-tw.png" alt="TW">
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <img src="/res/img/social-lk.png" alt="LK">
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="postTags">
                    <ul class="blogTagsCloud">  <p class="postTagsTitle">тэги:</p>
                        <li><a href="#">
                            <p>ремонт катриджей</p>
                            <svg>
                                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#blogArrow"></use>
                            </svg></a>
                        </li>
                        <li><a href="#">
                            <p>ручки</p>
                            <svg>
                                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#blogArrow"></use>
                            </svg></a>
                        </li>
                        <li><a href="#">
                            <p>офисные штучки</p>
                            <svg>
                                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#blogArrow"></use>
                            </svg></a>
                        </li>
                    </ul>
                </div>
                <div class="blogPreviewHolder postSection postAutorInfoHolder clearfix">
                    <img src="/res/img/blog3.jpg" alt="autors avatar">
                    <div class="postAutorInfo">
                        <h3><a href="#">Анна Каренина</a></h3>
                        <p>Нести совсем необязательно символов на кириллице значительно различается именно. Известным рыбным текстом является знаменитый lorem качества восприятия макета такое. Считается, что все же лучше использовать. Философу цицерону, ведь именно.</p>
                        <div>
                            <a href="#"><svg class="svgVk">
                                <use xlink:href="#svgVk"></use>
                            </svg></a>
                            <a href="#"><svg class="svgFb">
                                <use xlink:href="#svgFb"></use>
                            </svg></a>
                            <a href="#"><svg class="svgGp">
                                <use xlink:href="#svgGp"></use>
                            </svg></a>
                            <a href="#"><svg class="svgTw">
                                <use xlink:href="#svgTw"></use>
                            </svg></a>
                        </div>
                    </div>
                </div>
                <div class="blogPreviewHolder postPager clearfix">
                    <a class="postPrev" href="#"><span class="postPagerArrow">«</span>&nbsp;<span class="postPagerWatch">Смотреть предыдущий пост</span></a>
                    <a class="postallNews" href="#" title="Список новостей"></a>
                    <a class="postNext" href="#"><span class="postPagerWatch">Смотреть следующий пост</span>&nbsp;<span class="postPagerArrow">»</span></a>
                </div>
            </section>
            <aside class="blogSidebar">
                <div class="blogSidebarGroup blogCategory">
                    <h2>КАТЕГОРИЯ</h2>
                    <ul class="blogCategoryList">
                        <li>
                            <a href="#">
                                <img src="/res/img/slider-arrow-left.png">Новости магазина
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <img src="/res/img/slider-arrow-left.png">Новости интернет-магазина
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <img src="/res/img/slider-arrow-left.png">Акции
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <img src="/res/img/slider-arrow-left.png">Статьи
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <img src="/res/img/slider-arrow-left.png">Публикации
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="blogSidebarGroup blogLastPosts">
                    <h2>ПОСЛЕДНИЙ ПОСТ</h2>
                    <ul class="blogLastPostsList">
                        <li>
                            <div class="blogLastPostsListImg"></div>
                            <div class="blogLastPostsListContent">
                                <h4><a href="#">Дарим подарки в свой День рождения!</a></h4>
                                <a href="#" class="postDate">05 Мая 2017</a>
                            </div>
                        </li>
                        <li>
                            <div class="blogLastPostsListImg"></div>
                            <div class="blogLastPostsListContent">
                                <h4><a href="#">Дарим подарки в свой День рождения!</a></h4>
                                <a href="#" class="postDate">05 Мая 2017</a>
                            </div>
                        </li>
                        <li>
                            <div class="blogLastPostsListImg"></div>
                            <div class="blogLastPostsListContent">
                                <h4><a href="#">Дарим подарки в свой День рождения!</a></h4>
                                <a href="#" class="postDate">05 Мая 2017</a>
                            </div>
                        </li>
                        <li>
                            <div class="blogLastPostsListImg"></div>
                            <div class="blogLastPostsListContent">
                                <h4><a href="#">Дарим подарки в свой День рождения!</a></h4>
                                <a href="#" class="postDate">05 Мая 2017</a>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="blogSidebarGroup blogTags">
                    <svg class="blogSvgHidden"><svg  id="blogArrow" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 23.224701 21.06893" height="18" width="20"><defs><clipPath id="a"><path d="M0 59.723h65.834V0H0z"></clipPath></defs><g clip-path="url(#a)" transform="matrix(.35278 0 0 -.35278 0 21.07)"><path d="M65.494 28.624c.052.09.105.178.146.274.026.062.04.128.06.19.028.093.064.182.084.276.032.162.05.328.05.495 0 .02-.005.036-.006.056a2.473 2.473 0 0 1-.044.438c-.025.13-.068.253-.114.375-.01.028-.016.06-.028.09a2.42 2.42 0 0 1-.213.398c-.007.01-.01.02-.017.03-.094.14-.2.27-.32.387L37.74 58.99a2.5 2.5 0 1 1-3.535-3.535L57.298 32.36H2.5a2.5 2.5 0 0 1 0-5h54.8L34.203 4.268A2.498 2.498 0 0 1 35.97 0c.64 0 1.28.244 1.77.732l27.36 27.36c.024.022.04.05.063.074.09.096.175.193.248.302.032.05.055.105.084.156"></g></svg></svg>
                    <h2>ПОПУЛЯРНЫЕ ТЕГИ</h2>
                    <ul class="blogTagsCloud">
                        <li><a href="#">
                            <p>ремонт катриджей</p>
                            <svg>
                                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#blogArrow"></use>
                            </svg></a>
                        </li>
                        <li><a href="#">
                            <p>ручки</p>
                            <svg>
                                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#blogArrow"></use>
                            </svg></a>
                        </li>
                        <li><a href="#">
                            <p>офисные штучки</p>
                            <svg>
                                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#blogArrow"></use>
                            </svg></a>
                        </li>
                        <li><a href="#">
                            <p>канцелярские принадлежности</p>
                            <svg>
                                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#blogArrow"></use>
                            </svg></a>
                        </li>
                        <li><a href="#">
                            <p>подарки</p>
                            <svg>
                                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#blogArrow"></use>
                            </svg></a>
                        </li>
                    </ul>
                </div>
            </aside>
        </div><!--blogParent-->
        <div class="brands">
            <div class="container">
                <h2 class="cp_h2 blogBrands">Бренды</h2>
                <div class="brands-slider">
                    <div class="brands-slider-content">
                        <a href="" class="onebrand">
                            <img alt="nagaLogo" src="/res/img/brands/nagaLogo.png" />
                            <div class="caption-br">
                                <span class="thumbnail-text">Image Text</span>
                            </div>
                        </a>
                        <a href="" class="onebrand">
                            <img alt="magic_line" src="/res/img/brands/magic_line.png" />
                            <div class="caption-br">
                                <span class="thumbnail-text">Image Text</span>
                            </div>
                        </a>
                        <a href="" class="onebrand">
                            <img alt="logo2" src="/res/img/brands/logo2.png" />
                            <div class="caption-br">
                                <span class="thumbnail-text">Image Text</span>
                            </div>
                        </a>
                        <a href="" class="onebrand">
                            <img alt="logo-nyt" src="/res/img/brands/logo-nyt.png" />
                            <div class="caption-br">
                                <span class="thumbnail-text">Image Text</span>
                            </div>
                        </a>
                        <a href="" class="onebrand">
                            <img alt="linс" src="/res/img/brands/link.png" />
                            <div class="caption-br">
                                <span class="thumbnail-text">Image Text</span>
                            </div>
                        </a>
                        <a href="" class="onebrand">
                            <img alt="infolio" src="/res/img/brands/infolio.png" />
                            <div class="caption-br">
                                <span class="thumbnail-text">Image Text</span>
                            </div>
                        </a>
                        <a href="" class="onebrand">
                            <img alt="greensboro-college" src="/res/img/brands/greensboro-college.png" />
                            <div class="caption-br">
                                <span class="thumbnail-text">Image Text</span>
                            </div>
                        </a>
                        <a href="" class="onebrand">
                            <img alt="colop" src="/res/img/brands/colop.png" />
                            <div class="caption-br">
                                <span class="thumbnail-text">Image Text</span>
                            </div>
                        </a>
                        <a href="" class="onebrand">
                            <img alt="artspace" src="/res/img/brands/artspace.png" />
                            <div class="caption-br">
                                <span class="thumbnail-text">Image Text</span>
                            </div>
                        </a>
                        <a href="" class="onebrand">
                            <img alt="akavim" src="/res/img/brands/akavim.png" />
                            <div class="caption-br">
                                <span class="thumbnail-text">Image Text</span>
                            </div>
                        </a>
                        <a href="" class="onebrand">
                            <img alt="3719484" src="/res/img/brands/3719484.png" />
                            <div class="caption-br">
                                <span class="thumbnail-text">Image Text</span>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>