<main id="wrapp" th:fragment="product-list" xmlns:th="http://www.thymeleaf.org">
    <div class="products-list-page">
        <div class="wrapper">
            <ul class="breadCrumbs">
                <li><a href="/">Главная</a></li>
                <li><a href="/catalog">Каталог</a></li>
                <li th:text="${category?.name}">Название категории</li>
            </ul>
            <div class="products-list-page-content">
                <div class="products-list-page__title">
                    <h1 th:text="${category?.name}">Название категории</h1>
                </div>

                <div class="products-list-page__sort-block">
                    <!-- <select name="sort-by" class="products-list-page__dropdown">
                        <option value="Сначала популярные">Сначала популярные</option>
                        <option value="Сначала популярные">Сначала дешевые</option>
                    </select>
                    <div class="sort-block-right">

                    </div> -->
                </div>
                <div class="products-list-page__main-list">
                    <div class="products-list-page-products-wrap">
                        <div class="products-list-page-products tile-type">

                            <div class="products-list-page__product-item-wrap"
                                th:if="${products} != null" 
                                th:each="product : ${products}">

                                <div class="thumbnail order-product">
                                    <div class="block">
                                        <div class="caption cap-normal product-detail">
                                            <div class="product-detail-top">
                                                <ul class="top-l-cat">
                                                    <li>
                                                        <a href="#" class="link-name-cat"
                                                           th:href="@{${catalogurl}+${category?.translitName}+'/'+${product?.value?.translitName}}"
                                                           th:text="${product?.value?.fullName}">Полное название товара</a>
                                                    </li>
                                                </ul>

                                                <div class="clearfix"></div>
                                                <div class="ill-t">
                                                    <p>Наличие:</p>
                                                    <ul class="ill-it">
                                                        <li>
                                                            <span class="ill-it-1"></span>
                                                        </li>
                                                        <li>
                                                            <span class="ill-it-1"></span>
                                                        </li>
                                                        <li>
                                                            <span class="ill-it-1"></span>
                                                        </li>
                                                        <li>
                                                            <span class="ill-it-0"></span>
                                                        </li>
                                                        <li>
                                                            <span class="ill-it-0"></span>
                                                        </li>
                                                    </ul>
                                                    <span class="availability"
                                                    th:text="${product?.value?.quantity}+' '+${product?.value?.measure}">1 шт.</span>
                                                </div>
                                            </div>
                                            <div class="product-detail-bottom">
                                                <a href="#" class="btn c-button btn-more-h"
                                                   th:href="@{${catalogurl}+${category?.translitName}+'/'+${product?.value?.translitName}}">
                                                    <div class="c-ripple js-ripple">
                                                        <span class="c-ripple__circle"></span>
                                                    </div>
                                                    подробнее
                                                </a>
                                                <!--<div class="btn-in-cart__is-added">
                                                    <div class="btn-in-cart__is-added__title">
                                                        <p>добавлено</p>
                                                    </div>
                                                    <div class="btn-in-cart__is-added__number">
                                                        <p>
                                                            <span>
                                                    3
                                                    </span> шт
                                                        </p>
                                                    </div>
                                                </div>-->
                                                <a href="#" class="btn c-button btn-click">
                                                    <div class="c-ripple js-ripple">
                                                        <span class="c-ripple__circle"></span>
                                                    </div>
                                                    купить в 1 клик
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="caption cap-normal product-content">
                                        <div class="product-content__top">
                                            <ul class="top-l-cat">
                                                <li>
                                                    <a href="#" class="link-name-cat"
                                                       th:href="@{${catalogurl}+${category?.translitName}+'/'+${product?.value?.translitName}}"
                                                       th:text="${product?.value?.fullName}">Полное название товара</a>
                                                </li>
                                                <li>
                                                    <a href="#" class="cat-l"
                                                       th:href="@{${catalogurl}+${category?.translitName}+'/'+${product?.value?.translitName}}"
                                                       th:text="${product?.value?.shortName}">Короткое название товара</a>
                                                </li>
                                            </ul>
                                            <p class="al-ph">
                                                <img src="/res/img/product1.png" alt="Изображение товара" class="img-pr"

                                                    th:attr="src=@{${pip}+${product?.value?.pnt}+${imgPref}},alt=${product?.value?.fullName}">
                                            </p>
                                            <p class="desc-pr" th:text="${product?.value?.shortDescription}">
                                                Короткое описание товара
                                            </p>
                                        </div>
                                        <div class="product-content__bottom">
                                            <div class="prices-block">
                                                <span   th:switch="${product?.value?.basePrice} > ${product?.value?.finalPrice}" 
                                                        th:remove="tag">
                                                    <ul class="prices-block-list" 
                                                        th:case="${true}">
                                                        <li class="old-pr" th:text="${product?.value?.basePrice}">0,00 руб</li>
                                                        <li class="new-pr" th:text="${product?.value?.finalPriceWithVAT} + ' руб'">0,00 руб</li>
                                                    </ul>
                                                    <ul class="prices-block-list" 
                                                        th:case="${false}">
                                                        <li class="current-pr" th:text="${product?.value?.finalPriceWithVAT} + ' руб'">0,00 руб</li>
                                                    </ul>
                                                </span>

                                                <div class="bon-pr" 
                                                    th:if="${product?.value?.prices.size()} > 1">
                                                    <img src="/res/img/i.png" alt="Информация">
                                                    <div class="hint">
                                                        <span class="glyphicon glyphicon-triangle-top hint-arrow"></span>
                                                        <h5>Цена зависит от<br>количества!</h5>
                                                        <div>
                                                            <p  th:each="price : ${product?.value?.prices}" 
                                                                th:remove="tag" >
                                                                <p th:text="'от '+${price?.value?.quantityStart}+' ед. :'">от 1 ед. :</p>
                                                                <p th:text="${price?.value?.basePriceWithVAT}+' руб.'">0,00 руб</p>
                                                            </p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="btns">
                                                <ul class="list-bt">
                                                    <li>
                                                        <a href="#" class="btn c-button btn-in-cart"
                                                           th:attr="onclick='addToCart('+${product?.value?.pnt}+')'">
                                                            <div class="c-ripple js-ripple">
                                                                <span class="c-ripple__circle"></span>
                                                            </div>
                                                            в корзину
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <div class="single-product__number">
                                                            <div class="dec">-</div>
                                                                <input id="null" name="french-hens" class="inde" value="1" type="text"
                                                                    th:attr="id=${product?.value?.pnt}">
                                                            <div class="inc">+</div>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <aside class="products-list-page__filter">
                        <div class="filter-form">
                            <form action="">
                                <div class="filter-list filter-block">
                                    <p>Функция фильтрации по параметрам находится в разработке</p>
                                </div>
                            </form>
                        </div>                 
                    </aside>

                </div>
            </div>
        </div>
    </div>
</main>