<main id="wrapp" th:fragment="product-details" xmlns:th="http://www.thymeleaf.org">
    <div class="single-product-page">
        <div class="wrapper">
            <ul class="breadCrumbs">
                <li><a href="/">Главная</a></li>
                <li><a href="/catalog">Каталог</a></li>
                <li th:if="${categoryname} != null" th:text="${categoryname}">Название категории</li>
                <li th:text="${product?.fullName}">Название продукта</li>
            </ul>
            <div class="single-product-page-content">
                <div class="single-product-page__title">
                    <h1 th:text="${product?.fullName}">Заголовок Название продукта</h1>
                </div>
                <div class="single-product-wrap">
                    <div class="single-product-wrap-left">
                        <div class="single-product-pict-slider">
                            <div class="single-product-main-pict">
                                <div>
                                    <img src="/res/img/single-product-pict.png" alt="slide1"
                                         th:attr="src=@{${pip}+${product?.pnt}+${imgPref}},alt=${product?.fullName}">
                                </div>
                                <!--<div>
                                    <img src="/res/img/single-product-pict.png" alt="slide1">
                                </div>
                                <div>
                                    <img src="/res/img/single-product-pict.png" alt="slide1">
                                </div>
                                <div>
                                    <img src="/res/img/single-product-pict.png" alt="slide1">
                                </div>
                                <div>
                                    <img src="/res/img/single-product-pict.png" alt="slide1">
                                </div>-->
                            </div>
                            <div class="single-product-pict-slider-thumbs">
                                <ul class="single-product-pict-slider-thumbs-list">
                                    <li>
                                        <div>
                                            <img src="/res/img/single-product-pict.png" alt="slide1"
                                                 th:attr="src=@{${pip}+${product?.pnt}+${imgPref}},alt=${product?.fullName}">
                                        </div>
                                    </li>
                                    <!--<li>
                                        <div>
                                            <img src="/res/img/single-product-pict.png" alt="slide1">
                                        </div>
                                    </li>
                                    <li>
                                        <div>
                                            <img src="/res/img/single-product-pict.png" alt="slide1">
                                        </div>
                                    </li>
                                    <li>
                                        <div>
                                            <img src="/res/img/single-product-pict.png" alt="slide1">
                                        </div>
                                    </li>
                                    <li>
                                        <div>
                                            <img src="/res/img/single-product-pict.png" alt="slide1">
                                        </div>
                                    </li>-->
                                </ul>
                            </div>
                        </div>
                        <div class="single-product-main-info">
                            <div class="single-product-wrap-left__action-block">
                                <a href="#" class="product-maker">
                                    <img src="/res/img/xerox-icon.png" alt="Xerox"
                                        th:attr="src=@{${bip}+${product?.brand?.tName}},alt=${product?.brand?.name}">
                                </a>
                                <form action="">
                                    <div class="product-code">
                                        <p>Код товара: <span th:text="${product?.pnt}">00000000</span></p>
                                    </div>

                                    <div class="single-product-price">
                                        <div class="single-product-price-list">
                                            <div class="single-product-price__old">8,50 руб</div>
                                            <div class="single-product-price__new">
                                                <p th:text="${product.prices[0]?.basePriceWithVat} + ' руб'">6,50 руб</p>
                                                <div class="bon-pr">
                                                    <img src="/res/img/i.png">
                                                    <div class="hint">
                                                        <span class="glyphicon glyphicon-triangle-top hint-arrow"></span>
                                                        <h5>Цена зависит от<br>количества!</h5>
                                                        <div>
                                                            <p>от 1 ед. :</p>
                                                            <p>6,50 руб</p>
                                                            <p>от 20 ед. :</p>
                                                            <p>6,42 руб</p>
                                                            <p>от 30 ед. :</p>
                                                            <p>6,05 руб</p>
                                                            <p>т 60 ед. :</p>
                                                            <p>5,80 руб</p>
                                                            <p>от 120 ед. :</p>
                                                            <p>5,50 руб</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="single-product-price__for-organisation">
                                            Для организаций по б/н 6 руб.
                                        </div>
                                    </div>

                                    <div class="single-product-in-cart">
                                        <div class="single-product__number">
                                            <div class="dec">-</div>
                                            <input type="text" name="french-hens" class="inde" value="3">
                                            <div class="inc">+</div>
                                        </div>
                                        <a href="#" class="btn c-button btn-in-cart">
                                            <div class="c-ripple js-ripple">
                                                <span class="c-ripple__circle"></span>
                                            </div>
                                            в корзину
                                        </a>
                                    </div>
                                    <div class="single-product__compare-bookmark">
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="single-product-wrap-right">
                        <div class="single-product-rating">
                            <p>Оценка:</p>
                            <!--stars-->
                            <ul class="stars">
                                <li class="star-true">
                                </li>
                                <li class="star-true">
                                </li>
                                <li class="star-true">
                                </li>
                                <li class="star-false">
                                </li>
                                <li class="star-false">
                                </li>
                            </ul>
                        </div>
                        <div class="single-product-available">
                            <p>Наличие:</p>
                            <ul class="ill-it">
                                <li>
                                    <span class="ill-it-1"></span>
                                </li>
                                <li>
                                    <span class="ill-it-1"></span>
                                </li>
                                <li>
                                    <span class="ill-it-1"></span>
                                </li>
                                <li>
                                    <span class="ill-it-0"></span>
                                </li>
                                <li>
                                    <span class="ill-it-0"></span>
                                </li>
                            </ul>
                            <span class="availability">55 шт</span>
                        </div>

                        <div class="single-product-description">
                            <p>Бумага офисная Mondi "Color Copy" класса А+ — многофункциональная бумага высшего качества без покрытия для создания четких цветных изображений и текста.</p>
                            <p>Однородная структура, гладкая поверхность, высокая степень белизны. Применяется для печати на цветных копировальных аппаратах, цветных и черно-белых лазерных принтерах, цифровых печатных устройствах.</p>
                        </div>
                    </div>
                </div>
                <div class="single-product-about">
                    <div class="single-product-tabs">
                        <div class="single-product-tabs-content">
                            <div class="single-product-tabs__char">
                                <h2>ХАРАКТЕРИСТИКИ</h2>
                                <div class="single-product-general-char">
                                    <p>ОБЩИЕ ХАРАКТЕРИСТИКИ</p>
                                    <ul>
                                        <li>
                                            <div>
                                                <p>
                                                    БРЕНД
                                                </p>
                                            </div>
                                            <p>
                                                Belsis
                                            </p>
                                        </li>
                                        <li>
                                            <div>
                                                <p>
                                                    КОД ПРОИЗВОДИТЕЛЯ
                                                </p>
                                            </div>
                                            <p>
                                                BW1416
                                            </p>
                                        </li>
                                        <li>
                                            <div>
                                                <p>
                                                    СТРАНА ПРОИЗВОДИТЕЛЯ
                                                </p>
                                            </div>
                                            <p>
                                                Китай
                                            </p>
                                        </li>
                                    </ul>
                                </div>
                                <div class="single-product-other-char">
                                    <ul>
                                        <li>
                                            <div>
                                                <p>
                                                    Формат
                                                </p>
                                            </div>
                                            <p>
                                                A4
                                            </p>
                                        </li>
                                        <li>
                                            <div>
                                                <p>
                                                    Класс
                                                </p>
                                            </div>
                                            <p>
                                                C
                                            </p>
                                        </li>
                                        <li>
                                            <div>
                                                <p>
                                                    Плотность
                                                </p>
                                            </div>
                                            <p>
                                                80 г/кв.м
                                            </p>
                                        </li>
                                        <li>
                                            <div>
                                                <p>
                                                    Толщина листа
                                                </p>
                                            </div>
                                            <p>
                                                104 мкм
                                            </p>
                                        </li>
                                        <li>
                                            <div>
                                                <p>
                                                    Толщина листа
                                                </p>
                                            </div>
                                            <p>
                                                104 мкм
                                            </p>
                                        </li>
                                        <li>
                                            <div>
                                                <p>
                                                    Непрозрачность
                                                </p>
                                            </div>
                                            <p>
                                                91%
                                            </p>
                                        </li>
                                        <li>
                                            <div>
                                                <p>
                                                    Яркость
                                                </p>
                                            </div>
                                            <p>
                                                93%
                                            </p>
                                        </li>
                                        <li>
                                            <div>
                                                <p>
                                                    Белизна
                                                </p>
                                            </div>
                                            <p>
                                                146%
                                            </p>
                                        </li>
                                        <li>
                                            <div>
                                                <p>
                                                    Кол-во листов в упаковке
                                                </p>
                                            </div>
                                            <p>
                                                500 шт
                                            </p>
                                        </li>
                                        <li>
                                            <div>
                                                <p>
                                                    Кратность упаковки
                                                </p>
                                            </div>
                                            <p>
                                                5 пачек/короб.
                                            </p>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--scroll to top-->
        <div class="scroll-page-nav">
            <button class="c-button nav_up" type="button">
                <div class="c-ripple js-ripple">
                    <span class="c-ripple__circle"></span>
                </div>
            </button>
            <button class="c-button nav_down" type="button">
                <div class="c-ripple js-ripple">
                    <span class="c-ripple__circle"></span>
                </div>
            </button>
        </div>
    </div>
</main>