<main id="wrapp" th:fragment="product-details" xmlns:th="http://www.thymeleaf.org">
    <div class="single-product-page">
        <div class="wrapper">
            <ul class="breadCrumbs">
                <li><a href="/">Главная</a></li>
                <li><a href="/"
                    th:href="@{${catalogurl}}">Каталог</a></li>
                <li th:if="${category} != null">
                    <a href="/catalog" 
                        th:href="@{${catalogurl}+${category?.translitName}}" 
                        th:text="${category?.name}">Название категории</a></li>
                <li th:if="${product} != null" th:text="${product?.fullName}">Название продукта</li>
            </ul>
            <div class="single-product-page-content" th:if="${product} != null">
                <div class="single-product-page__title">
                    <h1 th:text="${product?.fullName}">Заголовок Название продукта</h1>
                </div>
                <div class="single-product-page__top-block">
                        <ul class="tabs-top-nav">
                            <li class="js-active">
                                <a href="#" class="tabs-top-nav__char tabs-top-nav__link" title="Характеристики">
                                    Характеристики
                                </a>
                            </li>
                            <!-- <li>
                                <a href="#" class="tabs-top-nav__photo tabs-top-nav__link" title="Фото">
                                    Фото
                                </a>
                            </li>
                            <li>
                                <a href="#" class="tabs-top-nav__reviews tabs-top-nav__link" title="Отзывы">
                                    Отзывы
                                    <span>561</span>
                                </a>
                            </li> -->
                        </ul>                        
                    </div>
                <div class="single-product-wrap">
                    <div class="single-product-wrap-left">
                        <div class="single-product-pict-slider">
                            <div class="single-product-main-pict">
                                <div    th:if="${ProductImages} != null"
                                        th:switch="${ProductImages[__${product?.pnt}__]} == null"
                                     th:remove="tag">
                                    <img src="/catimagesold/noimage.jpg" alt="" class="img-pr"
                                         th:case="${true}"
                                         th:attr="alt=${product?.fullName}">
                                    <img src="/res/img/product1.png" alt="Изображение товара" class="img-pr"
                                         th:case="${false}"
                                         th:attr="src=@{'/catimagesold/'+ ${ProductImages[__${product?.pnt}__]}},alt=${product?.fullName}">
                                </div>
                                <!--<div>
                                    <img src="/res/img/single-product-pict.png" alt="slide1"
                                         th:attr="src=@{${pip}+${product?.pnt}+${imgPref}},alt=${product?.fullName}">
                                </div>-->
                                <!--<div>
                                    <img src="/res/img/single-product-pict.png" alt="slide1">
                                </div>
                                <div>
                                    <img src="/res/img/single-product-pict.png" alt="slide1">
                                </div>
                                <div>
                                    <img src="/res/img/single-product-pict.png" alt="slide1">
                                </div>
                                <div>
                                    <img src="/res/img/single-product-pict.png" alt="slide1">
                                </div>-->
                            </div>
                            <div class="single-product-pict-slider-thumbs">
                                <ul class="single-product-pict-slider-thumbs-list">
                                    <li>
                                        <div    th:if="${ProductImages} != null"
                                                th:switch="${ProductImages[__${product?.pnt}__]} == null"
                                             th:remove="tag">
                                            <img src="/catimagesold/noimage.jpg" alt="" class="img-pr"
                                                 th:case="${true}"
                                                 th:attr="alt=${product?.fullName}">
                                            <img src="/res/img/product1.png" alt="Изображение товара" class="img-pr"
                                                 th:case="${false}"
                                                 th:attr="src=@{'/catimagesold/'+ ${ProductImages[__${product?.pnt}__]}},alt=${product?.fullName}">
                                        </div>
                                        <!--<div>
                                            <img src="/res/img/single-product-pict.png" alt="slide1"
                                                 th:attr="src=@{${pip}+${product?.pnt}+${imgPref}},alt=${product?.fullName}">
                                        </div>-->
                                    </li>
                                    <!--<li>
                                        <div>
                                            <img src="/res/img/single-product-pict.png" alt="slide1">
                                        </div>
                                    </li>
                                    <li>
                                        <div>
                                            <img src="/res/img/single-product-pict.png" alt="slide1">
                                        </div>
                                    </li>
                                    <li>
                                        <div>
                                            <img src="/res/img/single-product-pict.png" alt="slide1">
                                        </div>
                                    </li>
                                    <li>
                                        <div>
                                            <img src="/res/img/single-product-pict.png" alt="slide1">
                                        </div>
                                    </li>-->
                                </ul>
                            </div>
                        </div>

                        <div class="single-product-main-info">
                            <div class="single-product-wrap-left__action-block">
                                <a href="#" class="product-maker">
                                    <img src="/res/img/xerox-icon.png" alt="Xerox"
                                        th:attr="src=@{${bip}+${product?.brand?.tName}},alt=${product?.brand?.name}">
                                </a>
                                <form action="">
                                    <div class="product-code">
                                        <p>Код товара: <span th:text="${product?.pnt}">00000000</span></p>
                                    </div>

                                    <div class="single-product-price">
                                        <div class="single-product-price-list">
                                            <span   th:switch="${product?.basePrice} > ${product?.finalPrice}" 
                                                    th:remove="tag">

                                                <span   th:case="${true}" 
                                                        th:remove="tag">
                                                    <div class="single-product-price__old" 
                                                        th:text="${product?.basePriceWithVAT}">0,00</div>
                                                    <div class="single-product-price__new">
                                                        <p th:text="${product?.finalPriceWithVAT}">0,00</p>
                                                        <div class="bon-pr" 
                                                            th:if="${product?.prices.size()} > 1">
                                                            <img src="/res/img/i.png" alt="Информация">
                                                            <div class="hint">
                                                                <span class="glyphicon glyphicon-triangle-top hint-arrow"></span>
                                                                <h5>Цена зависит от<br>количества!</h5>
                                                                <div>
                                                                    <p  th:each="price : ${product?.prices}" 
                                                                        th:remove="tag" >
                                                                        <p th:text="'от '+${price?.value?.quantityStart}+' ед. :'">от 1 ед. :</p>
                                                                        <p th:text="${price?.value?.basePriceWithVAT}+' руб.'">0,00 руб</p>
                                                                    </p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </span>

                                                <span   th:case="${true}" 
                                                        th:remove="tag">
                                                    <div th:text="${product?.finalPriceWithVAT}">
                                                        <p th:text="${product?.finalPriceWithVAT}">0,00</p>
                                                        <div class="bon-pr" 
                                                            th:if="${product?.prices.size()} > 1">
                                                            <img src="/res/img/i.png" alt="Информация">
                                                            <div class="hint">
                                                                <span class="glyphicon glyphicon-triangle-top hint-arrow"></span>
                                                                <h5>Цена зависит от<br>количества!</h5>
                                                                <div>
                                                                    <p  th:each="price : ${product?.prices}" 
                                                                        th:remove="tag" >
                                                                        <p th:text="'от '+${price?.value?.quantityStart}+' ед. :'">от 1 ед. :</p>
                                                                        <p th:text="${price?.value?.basePriceWithVAT}+' руб.'">0,00 руб</p>
                                                                    </p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </span>
                                            </span>
                                        </div>                                        
                                    </div>

                                    <div class="single-product-in-cart">
                                        <div class="single-product__number">
                                            <div class="dec">-</div>
                                                <input type="text" name="french-hens" class="inde" value="1"
                                                    th:attr="id=${product?.pnt}">
                                            <div class="inc">+</div>
                                        </div>
                                        <a href="#" class="btn c-button btn-in-cart"
                                            onclick="addToCart('null')"
                                            th:attr="onclick='addToCart('+${product?.pnt}+')'">
                                            <div class="c-ripple js-ripple">
                                                <span class="c-ripple__circle"></span>
                                            </div>
                                            в корзину
                                        </a>
                                    </div>
                                    <div class="single-product__compare-bookmark"></div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="single-product-wrap-right">
                        <!-- <div class="single-product-rating">
                            <p>Оценка:</p>
                            <ul class="stars">
                                <li class="star-true">
                                </li>
                                <li class="star-true">
                                </li>
                                <li class="star-true">
                                </li>
                                <li class="star-false">
                                </li>
                                <li class="star-false">
                                </li>
                            </ul>
                        </div> -->
                        <div class="single-product-available">
                            <p>Наличие:</p>
                            <ul class="ill-it">
                                <li>
                                    <span th:switch="${product?.quantity} > 5" th:remove="tag">
                                        <span th:case="${true}" class="ill-it-1"></span>
                                        <span th:case="${false}" class="ill-it-0"></span>
                                        <span th:case="*" class="ill-it-0"></span>
                                    </span>
                                </li>
                                <li>
                                    <span th:switch="${product?.quantity} > 15" th:remove="tag">
                                        <span th:case="${true}" class="ill-it-1"></span>
                                        <span th:case="${false}" class="ill-it-0"></span>
                                        <span th:case="*" class="ill-it-0"></span>
                                    </span>
                                </li>
                                <li>
                                    <span th:switch="${product?.quantity} > 50" th:remove="tag">
                                        <span th:case="${true}" class="ill-it-1"></span>
                                        <span th:case="${false}" class="ill-it-0"></span>
                                        <span th:case="*" class="ill-it-0"></span>
                                    </span>
                                </li>
                                <li>
                                    <span th:switch="${product?.quantity} > 100" th:remove="tag">
                                        <span th:case="${true}" class="ill-it-1"></span>
                                        <span th:case="${false}" class="ill-it-0"></span>
                                        <span th:case="*" class="ill-it-0"></span>
                                    </span>
                                </li>
                                <li>
                                    <span th:switch="${product?.quantity} > 300" th:remove="tag">
                                        <span th:case="${true}" class="ill-it-1"></span>
                                        <span th:case="${false}" class="ill-it-0"></span>
                                        <span th:case="*" class="ill-it-0"></span>
                                    </span>
                                </li>
                            </ul>
                            <!-- <span class="availability" th:text="${product.quantity}+' '+${product.measure}">0 шт</span> -->
                        </div>
                        <div class="single-product-description">
                            <p th:text="${product?.fullDescription}">Полное описание</p>
                        </div>
                    </div>
                </div>
                <div class="single-product-about">
                    <div class="single-product-tabs">
                        <div class="single-product-tabs-content">
                            <div class="single-product-tabs__char">
                                <h2>ХАРАКТЕРИСТИКИ</h2>
                                <div class="single-product-general-char">
                                    <ul>
                                        <li>
                                            <div>
                                                <p>
                                                    БРЕНД
                                                </p>
                                            </div>
                                            <p th:text="${product?.brand?.name}">
                                                null
                                            </p>
                                        </li>
                                        <li>
                                            <div>
                                                <p>
                                                    ШТРИХ-КОД ПРОИЗВОДИТЕЛЯ
                                                </p>
                                            </div>
                                            <p th:text="${product?.barCode}">
                                                null
                                            </p>
                                        </li>
                                        <li>
                                            <div>
                                                <p>
                                                    СТРАНА ПРОИЗВОДИТЕЛЯ
                                                </p>
                                            </div>
                                            <p th:text="${product?.countryMade}">
                                                null
                                            </p>
                                        </li>
                                    </ul>
                                </div>
                                <div class="single-product-other-char">
                                    <ul th:if="${product?.attributes} != null">
                                        <li th:each="attribute : ${product?.attributes}">
                                            <div>
                                                <p th:text="${attribute?.name}">
                                                    Свойство
                                                </p>
                                            </div>
                                            <p th:text="${attribute?.value}">
                                                Значение
                                            </p>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>