<main id="wrapp" th:fragment="profile" xmlns:th="http://www.thymeleaf.org">
    <div class="profile-page" th:if="${!user?.isAnonimus()}">
        <div class="wrapper">
            <ul class="breadCrumbs">
                <li><a href="/">Главная</a></li>
                <li>Личный кабинет</li>
            </ul>
            <div class="profile-page-content">
                <ul class="profile-tabs-titles">
                    <!--for all info (is hidden)-->
                    <li class="personal-account">
                        <button class="c-button">
                            <div class="c-ripple js-ripple">
                                <span class="c-ripple__circle"></span>
                            </div>
                            <div class="profile-tabs-title__icon"></div>
                            <p>Главная страница личного кабинета</p>
                        </button>
                    </li>
                    <!--for all info (is hidden) end-->

                    <li class="password-change">
                        <button class="c-button">
                            <div class="c-ripple js-ripple">
                                <span class="c-ripple__circle"></span>
                            </div>
                            <div class="profile-tabs-title__icon"></div>
                            <p>Смена пароля</p>
                        </button>
                    </li>
                    <li class="my-organizations">
                        <button class="c-button">
                            <div class="c-ripple js-ripple">
                                <span class="c-ripple__circle"></span>
                            </div>
                            <div class="profile-tabs-title__icon"></div>
                            <p>Мои организации</p>
                        </button>
                    </li>
                    <li class="delivery-addresses">
                        <button class="c-button">
                            <div class="c-ripple js-ripple">
                                <span class="c-ripple__circle"></span>
                            </div>
                            <div class="profile-tabs-title__icon"></div>
                            <p>Адреса доставки</p>
                        </button>
                    </li>
                    <li class="notifications">
                        <button class="c-button">
                            <div class="c-ripple js-ripple">
                                <span class="c-ripple__circle"></span>
                            </div>
                            <div class="profile-tabs-title__icon"></div>
                            <p>Уведомления</p>
                        </button>
                    </li>

                    <li class="orders">
                        <button class="c-button">
                            <div class="c-ripple js-ripple">
                                <span class="c-ripple__circle"></span>
                            </div>
                            <div class="profile-tabs-title__icon"></div>
                            <p>Заказы</p>
                        </button>
                    </li>

                    <li class="bookmarks">
                        <button class="c-button">
                            <div class="c-ripple js-ripple">
                                <span class="c-ripple__circle"></span>
                            </div>
                            <div class="profile-tabs-title__icon"></div>
                            <p>Избранный товар</p>
                        </button>
                    </li>

                </ul>



                <div class="profile-tabs-content">
                    
                    <div class="my-profile">
                        <div class="my-profile-content">
                            <h2>Личный кабинет</h2>
                            <div class="my-profile-personal-data">
                                <div class="my-profile-avatar no-avatar">
                                    <img src="/res/img/users/default.png" alt="avatar">
                                </div>
                                <div class="my-profile-personal-data-text">
                                    <ul>
                                        <li>
                                            <p>Имя ползователя:</p>
                                            <span th:text="${userProfile?.name}">Имя</span>
                                        </li>
                                        <li>
                                            <p>Логин:</p>
                                            <span th:text="${userProfile?.login}">Логин</span>
                                        </li>
                                        <li>
                                            <p>Адрес электронной почты:</p>
                                            <span th:text="${userProfile?.email}">Email</span>
                                        </li>
                                        <li>
                                            <p>Контактный номер телефона:</p>
                                            <span th:text="${userProfile?.phone}">Телефон</span>
                                        </li>
                                        <li>
                                            <p>День рождения:</p>
                                            <span th:text="${userProfile?.birthDay}">2000-11-11</span>
                                        </li>
                                    </ul>
                                    <ul>
                                        <!-- второй ряд -->
                                    </ul>
                                </div>
                            </div>
                            <div class="my-personal-data-form-bottom">
                                <a href="#update-profile-popup" class="my-personal-data-form-button update-profile-popup c-button">
                                    <div class="c-ripple js-ripple">
                                        <span class="c-ripple__circle"></span>
                                    </div>
                                    Редактировать
                                </a>
                            </div>
                        </div>
                    </div>
                    
                    <div class="change-password profile-tab">
                        <a href="#" class="back-to-personal-profile">
                            Назад к личному кабинету
                        </a>
                        <h2>Смена пароля</h2>
                        <p>Мы крайне рекомендуем задать новый <span>уникальный и сложный</span> пароль.</p>
                        <p>Если ваш пароль для входа в интернет-магазин PAPERKI.BY совпадает хотя бы с одним другим интернет-магазином, электронной почтой или социальной сетью, PAPERKI.BY не может гарантировать Вам сохранность Ваших личных данных.</p>
                        <form action="">
                            <div class="change-password-form-fields">
                                <span class="input input--ichiro">
                                    <input class="input__field input__field--ichiro" type="password" name="your-current-password" 
                                        id="change-password-current-password" />
                                    <label class="input__label input__label--ichiro" for="change-password-current-password">
                                        <span class="input__label-content input__label-content--ichiro"
                                        id="label-change-password-current-password">Текущий пароль *</span>
                                    </label>
                                </span>
                                <span class="input input--ichiro">
                                    <input class="input__field input__field--ichiro" type="password" name="your-new-password" 
                                        id="change-password-new-password" />
                                    <label class="input__label input__label--ichiro" for="change-password-new-password">
                                        <span class="input__label-content input__label-content--ichiro"
                                        id="label-change-password-new-password">Новый пароль *</span>
                                    </label>
                                    <button type="button" class="show-password"></button>
                                </span>
                                <span class="input input--ichiro">
                                    <input class="input__field input__field--ichiro" type="password" name="confirm-password" 
                                        id="change-password-new-password-confirm" />
                                    <label class="input__label input__label--ichiro" for="change-password-new-password-confirm">
                                        <span data-toggle="tooltip" class="input__label-content input__label-content--ichiro" 
                                        id="label-change-password-new-password-confirm">Подтвердите пароль *</span>
                                    </label>
                                    <button type="button" class="show-password"></button>
                                </span>
                            </div>
                            <div class="change-password-form-bottom">
                                <button class="c-button" type="subscribe" onclick="changePassword()">
                                    <div class="c-ripple js-ripple">
                                        <span class="c-ripple__circle"></span>
                                    </div>
                                    Сохранить
                                </button>
                            </div>
                        </form>
                    </div>
                    <div class="my-organizations profile-tab">
                        <a href="#" class="back-to-personal-profile">
                            Назад к личному кабинету
                        </a>
                        <div class="my-organizations-content">
                            <h2>
                                Моя организация
                            </h2>
                            <!-- <div class="success-notification">
                                <img src="/res/img/reg-success-icon.png" alt="Реквизиты были успешно добавлены">
                                <p>Реквизиты были успешно добавлены</p>
                            </div> -->
                            <p>
                                Для вашего удобства Вы можете указать реквизиты вашей организации, и сохранив их при заказе выбрав "покупка на юридическое лицо" реквизиты будут указываться автоматически.
                            </p>
                            <p>Вернуться на <a href="#" class="back-to-main back-to-personal-profile">главную страницу личного кабинета.</a></p>
                            <!-- <p>Вы можете добавить несколько организаций, и выбирать их реквизиты при оформлении заказа.</p> -->
                            <!-- <p>Вернуться на <a href="#" class="back-to-main back-to-personal-profile">главную страницу личного кабинета.</a></p>
                            <ul class="my-organizations-list">
                                <li>
                                    <a href="#">New-Level</a>
                                    <div class="action-buttons">
                                        <a href="#" class="edit-button" title="Редактировать"></a>
                                        <a href="#" class="delete-button" title="Удалить"></a>
                                    </div>
                                </li>
                            </ul>
                            <a href="#" class="add-organization-button">добавить организацию</a> -->
                        </div>
                        <div class="add-organization">
                            <h3>Реквизиты</h3>
                            <form>
                                <div class="add-organization-form-fields">
                                        <span class="input input--ichiro with-hint">
                                            <input class="input__field input__field--ichiro" type="text" name="company-name" id="add-organization-name" />
                                            <label class="input__label input__label--ichiro" for="add-organization-name">
                                                    <span class="input__label-content input__label-content--ichiro">Название компании *</span>
                                            </label>
                                            <p>Например: ООО «ПАПЕРКИ» или ИП Иванов Иван Иванович</p>
                                        </span>
                                    <span class="input input--ichiro with-hint">
                                            <input class="input__field input__field--ichiro" type="text" name="company-unp" id="add-organization-unp" />
                                            <label class="input__label input__label--ichiro" for="add-organization-unp">
                                                    <span class="input__label-content input__label-content--ichiro">УНП</span>
                                            </label>
                                            <p>Например: 7735092378</p>
                                        </span>
                                    <span class="input input--ichiro with-hint">
                                            <input class="input__field input__field--ichiro" type="text" name="company-bik" id="add-organization-bik" />
                                            <label class="input__label input__label--ichiro" for="add-organization-bik">
                                                    <span class="input__label-content input__label-content--ichiro">БИК банка</span>
                                            </label>
                                            <p>Например: 044525823</p>
                                        </span>
                                    <span class="input input--ichiro with-hint">
                                            <input class="input__field input__field--ichiro" type="text" name="company-settlement-account" id="add-organization-settlement-account" />
                                            <label class="input__label input__label--ichiro" for="add-organization-settlement-account">
                                                    <span class="input__label-content input__label-content--ichiro">Расчетный счет</span>
                                            </label>
                                            <p>Например: 40702810292000005704</p>
                                        </span>
                                    <span class="input input--ichiro with-hint">
                                            <input class="input__field input__field--ichiro" type="text" name="company-legal-address" id="add-organization-legal-address" />
                                            <label class="input__label input__label--ichiro" for="add-organization-legal-address">
                                                    <span class="input__label-content input__label-content--ichiro">Юридический адрес</span>
                                            </label>
                                            <p>Например: 125190 г. Брест, Ленинградский пр-т. д.80, корп.17</p>
                                        </span>
                                    <span class="input input--ichiro with-hint">
                                            <input class="input__field input__field--ichiro" type="text" name="company-actual-address" id="add-organization-actual-address" />
                                            <label class="input__label input__label--ichiro" for="add-organization-actual-address">
                                                    <span class="input__label-content input__label-content--ichiro">Фактический адрес</span>
                                            </label>
                                            <p>Например: 125190 г. Брест, ул. Ленина. д.10, корп.1</p>
                                        </span>
                                    <span class="input input--ichiro with-hint">
                                            <input class="input__field input__field--ichiro" type="text" name="company-actual-address2" id="add-organization-actual-address2" />
                                            <label class="input__label input__label--ichiro" for="add-organization-actual-address2">
                                                    <span class="input__label-content input__label-content--ichiro">Фактический адрес</span>
                                            </label>
                                            <p>Например: 125190 г. Брест, ул. Ленина. д.10, корп.1</p>
                                        </span>
                                    <span class="input input--ichiro">
                                            <input class="input__field input__field--ichiro phone" type="text" name="company-phone" id="add-organization-phone" />
                                            <label class="input__label input__label--ichiro" for="add-organization-phone">
                                                    <span class="input__label-content input__label-content--ichiro">Телефон</span>
                                            </label>
                                        </span>
                                    <span class="input input--ichiro">
                                            <input class="input__field input__field--ichiro" type="email" name="company-email" id="add-organization-email" />
                                            <label class="input__label input__label--ichiro" for="add-organization-email">
                                                    <span class="input__label-content input__label-content--ichiro">E-mail</span>
                                            </label>
                                        </span>
                                    <!-- <span class="input input--ichiro">
                                            <input class="input__field input__field--ichiro" type="text" name="company-contact-person" id="add-organization-contact-person" />
                                            <label class="input__label input__label--ichiro" for="add-organization-contact-person">
                                                    <span class="input__label-content input__label-content--ichiro">Контактное лицо</span>
                                            </label>
                                        </span> -->
                                </div>
                                <div class="add-organization-form-bottom">
                                    <button class="c-button" type="subscribe">
                                        <div class="c-ripple js-ripple">
                                            <span class="c-ripple__circle"></span>
                                        </div>
                                        Сохранить
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="delivery-address profile-tab">
                        <a href="#" class="back-to-personal-profile">
                            Назад к личному кабинету
                        </a>
                        <div class="delivery-address-content">
                            <h2>
                                Адреса доставки
                            </h2>
                            <!-- <div class="success-notification">
                                <img src="/res/img/reg-success-icon.png" alt="Информация об адресе доставки была успешно добавлена">
                                <p>Информация об адресе доставки была успешно добавлена</p>
                            </div> -->
                            <p>
                                Добавьте важные адреса доставки товара и Вам не придётся вводить их каждый раз в процессе осуществления заказа.
                            </p>
                            <p>Вы можете добавить несколько адресов и выбирать необходимый при оформлении заказа.</p>
                            <p>Вернуться на <a href="#" class="back-to-main back-to-personal-profile">главную страницу личного кабинета.</a></p>
                            <ul class="delivery-address-list">
                                <!-- <li>
                                    <a href="#">ул.Ясеневая д.8/1 к.в 35</a>
                                    <div class="action-buttons">
                                        <a href="#" class="edit-button" title="Редактировать"></a>
                                        <a href="#" class="delete-button" title="Удалить"></a>
                                    </div>
                                </li> -->
                            </ul>
                            <a href="#add-delivery-address-form" class="add-delivery-address-button">добавить адрес</a>
                        </div>
                        <div class="add-delivery-address" id="add-delivery-address-form">
                            <h3>Адрес доставки</h3>
                            <form action="">
                                <div class="add-delivery-address-form-fields">
                                        <span class="input input--ichiro with-hint">
                                            <input class="input__field input__field--ichiro" type="text" name="delivery-name" id="delivery-name" />
                                            <label class="input__label input__label--ichiro" for="delivery-name">
                                                    <span class="input__label-content input__label-content--ichiro">Название доставки</span>
                                            </label>
                                            <p>Например, «Дом» или «В Офис»</p>
                                        </span>
                                    <span class="input input--ichiro">
                                            <input class="input__field input__field--ichiro" type="text" name="delivery-contact-person" id="delivery-contact-person" />
                                            <label class="input__label input__label--ichiro" for="delivery-contact-person">
                                                    <span class="input__label-content input__label-content--ichiro">Контактное лицо *</span>
                                            </label>
                                        </span>
                                    <span class="input input--ichiro">
                                            <input class="input__field input__field--ichiro" type="text" name="delivery-state" id="delivery-state" />
                                            <label class="input__label input__label--ichiro" for="delivery-state">
                                                    <span class="input__label-content input__label-content--ichiro">Область</span>
                                            </label>
                                        </span>
                                    <span class="input input--ichiro">
                                            <input class="input__field input__field--ichiro" type="text" name="delivery-city" id="delivery-city" />
                                            <label class="input__label input__label--ichiro" for="delivery-city">
                                                    <span class="input__label-content input__label-content--ichiro">Город</span>
                                            </label>
                                        </span>
                                    <span class="input input--ichiro">
                                            <input class="input__field input__field--ichiro" type="text" name="delivery-metro" id="delivery-metro" />
                                            <label class="input__label input__label--ichiro" for="delivery-metro">
                                                    <span class="input__label-content input__label-content--ichiro">Метро</span>
                                            </label>
                                        </span>
                                    <span class="input input--ichiro">
                                            <input class="input__field input__field--ichiro" type="text" name="delivery-index" id="delivery-index" />
                                            <label class="input__label input__label--ichiro" for="delivery-index">
                                                    <span class="input__label-content input__label-content--ichiro">Индекс</span>
                                            </label>
                                        </span>
                                    <span class="input input--ichiro callback-form-field message-field">
                                            <textarea class="input__field input__field--ichiro" name="delivery-address" id="delivery-address"></textarea>
                                            <label class="input__label input__label--ichiro" for="delivery-address">
                                                <span class="input__label-content input__label-content--ichiro">Адрес доставки *</span>
                                            </label>
                                        </span>
                                </div>
                                <div class="add-delivery-address-form-bottom">
                                    <button class="c-button" type="subscribe">
                                        <div class="c-ripple js-ripple">
                                            <span class="c-ripple__circle"></span>
                                        </div>
                                        Сохранить
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="my-notification profile-tab">
                        <a href="#" class="back-to-personal-profile">
                            Назад к личному кабинету
                        </a>

                        <!-- <div class="notification-turn-on-succ">
                            <img src="/res/img/reg-success-icon.png" alt="Вы успешно подписались на рассылку Рекомендации на основе моих предыдущих покупок">
                            <p>Вы успешно подписались на рассылку “Рекомендации на основе моих предыдущих покупок”</p>
                            <a href="#" class="notification-turn-on-succ__close" title="Закрыть"></a>
                        </div> -->
                        <div class="notification-turn-off">
                            <p>Причина отписки от рассылки</p>
                            <form action="">
                                <input type="checkbox" name="topic-not-interesting" id="topic-not-interesting">
                                <label for="topic-not-interesting">не интересная тема рассылки</label>
                                <input type="checkbox" name="letters-often-come" id="letters-often-come">
                                <label for="letters-often-come">часто приходят письма</label>
                                <input type="checkbox" name="bought-elsewhere" id="bought-elsewhere">
                                <label for="bought-elsewhere">товар куплен в другом месте</label>
                                <input type="checkbox" name="i-use-e-mail" id="i-use-e-mail">
                                <label for="i-use-e-mail">использую эл. почту в рабочих целях</label>
                                <input type="checkbox" name="another-reason" id="another-reason">
                                <label for="another-reason">другая причина</label>
                                <button class="c-button" type="subscribe">
                                    <div class="c-ripple js-ripple">
                                        <span class="c-ripple__circle"></span>
                                    </div>
                                    отписаться
                                </button>
                            </form>
                            <a href="#" class="notification-turn-off__close" title="Закрыть"></a>
                        </div>
                        <h2>Уведомления</h2>
                        <p>Уважаемый клиент, обращаем Ваше внимание на то, что Ваши контактные данные используются исключительно для рассылки уведомлений, подарочных промокодов, подарков и спецпредложений и не передаются другим лицам или компаниям.</p>
                        <form action="">
                            <div class="notices-on-orders">
                                <h3>Уведомления по заказам</h3>
                                <ul>
                                    <li>
                                        <input type="checkbox" name="sms-notification" id="sms-notification">
                                        <label for="sms-notification">Уведомлять о состоянии заказа по SMS</label>
                                        <p>Сейчас вы не получаете уведомления о состоянии заказа по SMS</p>
                                    </li>
                                    <li>
                                        <input type="checkbox" name="email-notification" id="email-notification">
                                        <label for="email-notification">Уведомлять по e-mail о возможности написания отзывов на товары, подробнее</label>
                                        <p>Сейчас вы не получаете уведомления о возможности написания отзывов на товары</p>
                                    </li>
                                </ul>
                            </div>
                            <div class="notices-on-actions">
                                <h3>Уведомления по акциям</h3>
                                <ul>
                                    <li>
                                        <input type="checkbox" name="email-action-notification" id="email-action-notification">
                                        <label for="email-action-notification">Уведомлять по e-mail о доступных промокодах, подарках и спецпредложениях</label>
                                        <p>Сейчас вы не получаете промокоды, подарки и спецпредложения</p>
                                    </li>
                                </ul>
                            </div>
                            <div class="notification-form-bottom">
                                <button class="c-button" type="subscribe">
                                    <div class="c-ripple js-ripple">
                                        <span class="c-ripple__circle"></span>
                                    </div>
                                    Сохранить
                                </button>
                            </div>
                        </form>
                    </div>
                    
                    <div class="my-orders profile-tab">
                        <a href="#" class="back-to-personal-profile">
                            Назад к личному кабинету
                        </a>
                        <h2>Заказы</h2>
                        <div class="my-orders-content">
                            <ul class="my-orders-tabs-titles">
                                <li>
                                    Активные
                                </li>
                                <li>
                                    Выполненные
                                </li>
                                <li>
                                    Отмененные
                                </li>
                                <li>
                                    Список моих покупок
                                </li>
                            </ul>
                            <div class="my-orders-tabs-content">
                                <div class="active-orders">
                                    <div class="orders-list-table">
                                        <div class="table-head">
                                            <ul class="table-row">
                                                <li>
                                                    Номер заказа
                                                </li>
                                                <li>
                                                    Дата заказа
                                                </li>
                                                <li>
                                                    Состояние
                                                </li>
                                                <li>
                                                    Вид оплаты
                                                </li>
                                                <li>
                                                    Сумма заказа
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="table-body">
                                           <ul class="table-row">
                                                <p class="empty-list">У вас нет купленных товаров.</p>
                                                <li></li>
                                                <li>

                                                </li>
                                                <li>

                                                </li>
                                                <li>

                                                </li>
                                                <li>

                                                </li>
                                            </ul>
                                        </div>
                                        <div class="orders-list-showed">
                                            Показано: <span>0–1 из 0</span>
                                        </div>
                                    </div>
                                    <!-- <div class="choosen-order">
                                        <h3>Заказ №465214587: <span>Обрабатывается</span></h3>
                                        <div class="choosen-order-actions">
                                            <p>Доступные действия:</p>
                                            <a href="#" class="c-button">
                                                <div class="c-ripple js-ripple">
                                                    <span class="c-ripple__circle"></span>
                                                </div>
                                                Отменить заказ
                                            </a>
                                        </div>
                                        <div class="choosen-order-info">
                                            <h4>Информация о заказе</h4>
                                            <ul>
                                                <li>
                                                    <div>
                                                        <p>Регион:</p>
                                                    </div>
                                                    <span>Брест</span>
                                                </li>
                                                <li>
                                                    <div>
                                                        <p>Способ получения:</p>
                                                    </div>
                                                    <span>Доставка по Бресту</span>
                                                </li>
                                                <li>
                                                    <div>
                                                        <p>Адрес:</p>
                                                    </div>
                                                    <span>Ленинградский проспект, дом. 74, кв. 77</span>
                                                </li>
                                                <li>
                                                    <div>
                                                        <p>Дата получения:</p>
                                                    </div>
                                                    <span>05.05.2017</span>
                                                </li>
                                                <li>
                                                    <div>
                                                        <p>Стоимость доставки:</p>
                                                    </div>
                                                    <span>300р.</span>
                                                </li>
                                                <li>
                                                    <div>
                                                        <p>Вид оплаты:</p>
                                                    </div>
                                                    <span>Наличными</span>
                                                </li>
                                                <li>
                                                    <div>
                                                        <p>Контактное лицо:</p>
                                                    </div>
                                                    <span>Роман</span>
                                                </li>
                                                <li>
                                                    <div>
                                                        <p>Мобильный телефон:</p>
                                                    </div>
                                                    <span>+8 (029) 215-65-35</span>
                                                </li>
                                                <li>
                                                    <div>
                                                        <p>Контактный телефон:</p>
                                                    </div>
                                                    <span>+8 (0162) 25-65-35</span>
                                                </li>
                                                <li>
                                                    <div>
                                                        <p>Адрес электронной почты:</p>
                                                    </div>
                                                    <span>support@new-level.by</span>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="composition-order">
                                            <h4>Состав заказа</h4>
                                            <div class="composition-order-table">
                                                <div class="table-head">
                                                    <ul class="table-row">
                                                        <li>
                                                            Код
                                                        </li>
                                                        <li>
                                                            Товар
                                                        </li>
                                                        <li>
                                                            Цена
                                                        </li>
                                                        <li>
                                                            Количество
                                                        </li>
                                                        <li>
                                                            PAP-бонусов
                                                        </li>
                                                        <li>
                                                            Сумма
                                                        </li>
                                                    </ul>
                                                </div>
                                                <div class="table-body">
                                                    <ul class="table-row">
                                                        <li>
                                                            74114
                                                        </li>
                                                        <li>
                                                            <a href="#">Бумага SVETOCOPY A4, 80г/м2, 146%CIE, 500л.</a>
                                                        </li>
                                                        <li>
                                                            123 руб
                                                        </li>
                                                        <li>
                                                            1шт.
                                                        </li>
                                                        <li>
                                                            10
                                                        </li>
                                                        <li>
                                                            123 руб
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <ul class="choosen-order-total">
                                            <li class="cost">
                                                <p>Стоимость товаров:</p>
                                                <span>300 руб</span>
                                            </li>
                                            <li class="delivery">
                                                <p>Доставка:</p>
                                                <span>519 руб</span>
                                            </li>
                                            <li class="total-sum">
                                                <p>
                                                    Итого:
                                                </p>
                                                <span>
                                                        10
                                                    </span>
                                            </li>
                                            <li class="pap">
                                                <p>
                                                    ON-бонусов за заказ:
                                                </p>
                                                <span>10</span>
                                            </li>
                                        </ul>
                                        <div class="choosen-order-bottom">
                                            <button class="c-button">
                                                <div class="c-ripple js-ripple">
                                                    <span class="c-ripple__circle"></span>
                                                </div>
                                                Распечатать
                                            </button>
                                        </div>
                                    </div>-->
                                </div>
                                <div class="done-orders empty">
                                    <div class="orders-list-table">
                                        <div class="table-head">
                                            <ul class="table-row">
                                                <li>
                                                    Номер заказа
                                                </li>
                                                <li>
                                                    Дата заказа
                                                </li>
                                                <li>
                                                    Состояние
                                                </li>
                                                <li>
                                                    Вид оплаты
                                                </li>
                                                <li>
                                                    Сумма заказа
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="table-body">
                                            <ul class="table-row">
                                                <p class="empty-list">У вас нет купленных товаров.</p>
                                                <li></li>
                                                <li>

                                                </li>
                                                <li>

                                                </li>
                                                <li>

                                                </li>
                                                <li>

                                                </li>
                                            </ul>
                                        </div>
                                        <div class="orders-list-showed">
                                            Показано: <span>0–1 из 0</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="canceled-orders empty">
                                    <div class="orders-list-table">
                                        <div class="table-head">
                                            <ul class="table-row">
                                                <li>
                                                    Номер заказа
                                                </li>
                                                <li>
                                                    Дата заказа
                                                </li>
                                                <li>
                                                    Состояние
                                                </li>
                                                <li>
                                                    Вид оплаты
                                                </li>
                                                <li>
                                                    Сумма заказа
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="table-body">
                                            <ul class="table-row">
                                                <p class="empty-list">У вас нет купленных товаров.</p>
                                                <li></li>
                                                <li>

                                                </li>
                                                <li>

                                                </li>
                                                <li>

                                                </li>
                                                <li>

                                                </li>
                                            </ul>
                                        </div>
                                        <div class="orders-list-showed">
                                            Показано: <span>0–1 из 0</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="list-of-orders empty">
                                    <div class="orders-list-table">
                                        <div class="table-head">
                                            <ul class="table-row">
                                                <li>
                                                    Номер заказа
                                                </li>
                                                <li>
                                                    Дата заказа
                                                </li>
                                                <li>
                                                    Состояние
                                                </li>
                                                <li>
                                                    Вид оплаты
                                                </li>
                                                <li>
                                                    Сумма заказа
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="table-body">
                                            <ul class="table-row">
                                                <p class="empty-list">У вас нет купленных товаров.</p>
                                                <li></li>
                                                <li>

                                                </li>
                                                <li>

                                                </li>
                                                <li>

                                                </li>
                                                <li>

                                                </li>
                                            </ul>
                                        </div>
                                        <div class="orders-list-showed">
                                            Показано: <span>0–1 из 0</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    
                    <div class="favorite-prod profile-tab">
                        <a href="#" class="back-to-personal-profile">
                            Назад к личному кабинету
                        </a>
                        <div class="no-favorite-prod">
                            <h2>Избранный товар</h2>
                            <div class="no-prod-notification">
                                <p>Функциональность находится в разработке</p>
                            </div>
                            
                        </div>
                        
                    </div>
                    
                </div>
            </div>
        </div>
        <!--scroll to top-->
        <div class="scroll-page-nav">
            <button class="c-button nav_up" type="button">
                <div class="c-ripple js-ripple">
                    <span class="c-ripple__circle"></span>
                </div>
            </button>
            <button class="c-button nav_down" type="button">
                <div class="c-ripple js-ripple">
                    <span class="c-ripple__circle"></span>
                </div>
            </button>
        </div>
    </div>
</main>