<div class="search-field" th:fragment="nav-search" xmlns:th="http://www.thymeleaf.org">
    <div class="input-group hgt-in">
        <span class="input-group-btn">
            <button class="btn btn-search" type="button">
                <img src="/res/img/search.png" alt="Поиск">
            </button>
        </span>
        <input type="text" class="form-control search-inp prod-src-input" placeholder="Введите название или код товара">
    </div>

    <div class="fixed-basket">
        <div class="dropdown cart">
            <a href="#" class="dropdown-toggle cartLink" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                <div class="dropdown-cart__current-products">
                    <p id="nav-cart-total-with-vat">
                        <span class="total-sum"
                              th:text="${cart?.totalWithVAT}">
                            0.00
                        </span>
                        руб
                    </p>
                    <!--<span class="pr-main"
                          th:text="${cart?.items?.size()} + ' ед.'">0 ед.</span>-->
                </div>
                <div class="cartIconHolder">
                    <img class="cartIcon" src="/res/img/cart1_mini_select.png" alt="cart">
                    <img class="cartOK emptyCart" src="/res/img/cartOK_mini.png" alt="added to cart">
                </div>
            </a>
            <ul class="Mydropdown-menu menu-cart">
                <div class="title-cart">
                    <p>Ваша&nbsp;корзина</p>
                    <img class="closeCart" src="/res/img/catalog-close-icon.png" alt="close">
                    <div class="clearfix"></div>
                </div>
                <div class="cart-cont" id="nav-cart-cont">
                    <li th:if="${cart?.items.size()} > 0"
                        th:each="item : ${cart.items}">
                        <div class="drop-pr">
                            <span class="  drop-pr" aria-hidden="true" onclick="deleteFromCart('null')"
                                  th:attr="onclick='deleteFromCart('+${item.value.pnt}+')'">&#10006;</span>
                        </div>
                        <div class="img-cart">
                            <img src="/res/img/product1.png" alt="Изображение товара" class="img-pr" style="max-width: 110px;"
                                 th:attr="src=@{'/catimagesold/'+ ${item.value.imageName}},alt=${item.value.fullName}">
                        </div>
                        <div class="desc-cart">
                            <a href="#" class="name-pr-cart"
                               th:href="@{${item.value.link}}"
                               th:text="${item.value.fullName}">Имя товара</a>
                            <ul class="char-cart">
                                <li th:text="${item.value.shortName}">Короткое имя</li>
                            </ul>
                            <p class="price-in-cart"
                               th:text="${item.value.finalPriceWithVAT}+ ' руб x '+${item.value.quantity} + ' ед.'">0,00 руб x 4</p>
                        </div>
                    </li>
                </div>
                <div class="down-cart">
                    <div class="row">
                        <div class="col-md-5 col-sm-5">

                        </div>
                        <div class="col-md-7 col-sm-7">
                            <a href="#" class="btn c-button btn-ea-c popup-close-cart" onclick="toOrderPage()">
                                <div class="c-ripple js-ripple">
                                    <span class="c-ripple__circle"></span>
                                </div>
                                ОФОРМТЬ ЗАКАЗ
                            </a>
                        </div>
                    </div>
                </div>
            </ul>
        </div>
    </div>

</div>