<div id="search-popup" class="search-popup-content mfp-hide"
     th:fragment="search-popup" xmlns:th="http://www.thymeleaf.org">
    <div class="drop-search">
        <div class="search-popup-content-top">
            <form action="/">
                <div class="input-group hgt-in">
                    <span class="input-group-btn">
                        <button class="btn btn-search" type="button"><img src="/res/img/search.png" alt="Поиск"></button>
                    </span>
                    <input type="text" id="search-popup-input" class="search-popup-input" placeholder="Введите название товара">
                </div>
                <button title="Close (Esc)" type="button" class="mfp-close">×</button>
            </form>
            <div class="drop-search-head">
                <p>Найдено в разделах</p>
                <div class="row">
                    <a href="/">Торары для хобби и творчества</a><span>458 товара</span>
                </div>
                <div class="row">
                    <a href="/">Пишушие и художественные принадлежности</a><span>1365 товара</span>
                </div>
            </div>
            <div class="head-row">
                <div class="col1">Товар</div>
                <div class="col2">Цена с НДС</div>
                <div class="col3">Кол-во</div>
                <div class="col4">Заказано</div>
            </div>
        </div>
        <div class="drop-search-catalog">
            <div class="cont-row">
                <div class="col1">
                    <img src="/res/img/pr1.png" alt="Офисная бумага SvetoCopy A4 (80 г/м2)">
                    <h5><a href="http://papriki.nwdev.net/%E2%84%96">Офисная бумага SvetoCopy A4 (80 г/м2)</a></h5>
                    <div class="rating">
                        <ul class="stars">
                            <li class="star-true">
                            </li>
                            <li class="star-true">
                            </li>
                            <li class="star-true">
                            </li>
                            <li class="star-false">
                            </li>
                            <li class="star-false">
                            </li>
                        </ul>
                        <div class="rating__reviews">
                            <a href="#" class="reviews-pr">Отзывы: 679</a>
                        </div>
                    </div>
                    <p>Производство: Китай</p>
                    <p>Код: 015144</p>
                    <div>
                        <p class="type-char">Цвет:</p>
                        <ul class="list-color">
                            <li>
                                <span style="background-color: #000"></span>
                            </li>
                            <li>
                                <span style="background-color: #ed5858"></span>
                            </li>
                            <li>
                                <span style="background-color: #8ca500"></span>
                            </li>
                            <li>
                                <span style="background-color: #fff" class="list-color__white"></span>
                            </li>
                            <li class="multicolour">
                                <span></span>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col2">6,50 руб
                    <a href="#">+54 бонуса</a>
                </div>
                <div class="col3">
                    <div>
                        <div class="dec">-</div>
                        <input type="text" name="french-hens" class="inde" value="3">
                        <div class="inc">+</div>
                    </div>
                </div>
                <div class="btn-to-cart"><img src="/res/img/buy.png" alt="Купить"></div>
            </div>
            <div class="cont-row">
                <div class="col1">
                    <img src="/res/img/pr1.png" alt="Офисная бумага SvetoCopy A4 (80 г/м2)">
                    <h5><a href="http://papriki.nwdev.net/%E2%84%96">Офисная бумага SvetoCopy A4 (80 г/м2)</a></h5>
                    <div class="rating">
                        <ul class="stars">
                            <li class="star-true">
                            </li>
                            <li class="star-true">
                            </li>
                            <li class="star-true">
                            </li>
                            <li class="star-false">
                            </li>
                            <li class="star-false">
                            </li>
                        </ul>
                        <div class="rating__reviews">
                            <a href="#" class="reviews-pr">Отзывы: 679</a>
                        </div>
                    </div>
                    <p>Производство: Китай</p>
                    <p>Код: 015144</p>
                    <div>
                        <p class="type-char">Цвет:</p>
                        <ul class="list-color">
                            <li>
                                <span style="background-color: #000"></span>
                            </li>
                            <li>
                                <span style="background-color: #ed5858"></span>
                            </li>
                            <li>
                                <span style="background-color: #8ca500"></span>
                            </li>
                            <li>
                                <span style="background-color: #fff" class="list-color__white"></span>
                            </li>
                            <li class="multicolour">
                                <span></span>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col2">6,50 руб
                    <a href="#">+54 бонуса</a>
                </div>
                <div class="col3">
                    <div>
                        <div class="dec">-</div>
                        <input type="text" name="french-hens" class="inde" value="3">
                        <div class="inc">+</div>
                    </div>
                </div>
                <div class="btn-to-cart"><img src="/res/img/buy.png" alt="Купить"></div>
            </div>
            <div class="cont-row">
                <div class="col1">
                    <img src="/res/img/pr1.png" alt="Офисная бумага SvetoCopy A4 (80 г/м2)">
                    <h5><a href="http://papriki.nwdev.net/%E2%84%96">Офисная бумага SvetoCopy A4 (80 г/м2)</a></h5>
                    <div class="rating">
                        <ul class="stars">
                            <li class="star-true">
                            </li>
                            <li class="star-true">
                            </li>
                            <li class="star-true">
                            </li>
                            <li class="star-false">
                            </li>
                            <li class="star-false">
                            </li>
                        </ul>
                        <div class="rating__reviews">
                            <a href="#" class="reviews-pr">Отзывы: 679</a>
                        </div>
                    </div>
                    <p>Производство: Китай</p>
                    <p>Код: 015144</p>
                    <div>
                        <p class="type-char">Цвет:</p>
                        <ul class="list-color">
                            <li>
                                <span style="background-color: #000"></span>
                            </li>
                            <li>
                                <span style="background-color: #ed5858"></span>
                            </li>
                            <li>
                                <span style="background-color: #8ca500"></span>
                            </li>
                            <li>
                                <span style="background-color: #fff" class="list-color__white"></span>
                            </li>
                            <li class="multicolour">
                                <span></span>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col2">6,50 руб
                    <a href="#">+54 бонуса</a>
                </div>
                <div class="col3">
                    <div>
                        <div class="dec">-</div>
                        <input type="text" name="french-hens" class="inde" value="3">
                        <div class="inc">+</div>
                    </div>
                </div>
                <div class="btn-to-cart"><img src="/res/img/buy.png" alt="Купить"></div>
            </div>
            <div class="cont-row">
                <div class="col1">
                    <img src="/res/img/pr1.png" alt="Офисная бумага SvetoCopy A4 (80 г/м2)">
                    <h5><a href="http://papriki.nwdev.net/%E2%84%96">Офисная бумага SvetoCopy A4 (80 г/м2)</a></h5>
                    <div class="rating">
                        <ul class="stars">
                            <li class="star-true">
                            </li>
                            <li class="star-true">
                            </li>
                            <li class="star-true">
                            </li>
                            <li class="star-false">
                            </li>
                            <li class="star-false">
                            </li>
                        </ul>
                        <div class="rating__reviews">
                            <a href="#" class="reviews-pr">Отзывы: 679</a>
                        </div>
                    </div>
                    <p>Производство: Китай</p>
                    <p>Код: 015144</p>
                    <div>
                        <p class="type-char">Цвет:</p>
                        <ul class="list-color">
                            <li>
                                <span style="background-color: #000"></span>
                            </li>
                            <li>
                                <span style="background-color: #ed5858"></span>
                            </li>
                            <li>
                                <span style="background-color: #8ca500"></span>
                            </li>
                            <li>
                                <span style="background-color: #fff" class="list-color__white"></span>
                            </li>
                            <li class="multicolour">
                                <span></span>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col2">6,50 руб
                    <a href="#">+54 бонуса</a>
                </div>
                <div class="col3">
                    <div>
                        <div class="dec">-</div>
                        <input type="text" name="french-hens" class="inde" value="3">
                        <div class="inc">+</div>
                    </div>
                </div>
                <div class="btn-to-cart"><img src="/res/img/buy.png" alt="Купить"></div>
            </div>
            <div class="cont-row">
                <div class="col1">
                    <img src="/res/img/pr1.png" alt="Офисная бумага SvetoCopy A4 (80 г/м2)">
                    <h5><a href="http://papriki.nwdev.net/%E2%84%96">Офисная бумага SvetoCopy A4 (80 г/м2)</a></h5>
                    <div class="rating">
                        <ul class="stars">
                            <li class="star-true">
                            </li>
                            <li class="star-true">
                            </li>
                            <li class="star-true">
                            </li>
                            <li class="star-false">
                            </li>
                            <li class="star-false">
                            </li>
                        </ul>
                        <div class="rating__reviews">
                            <a href="#" class="reviews-pr">Отзывы: 679</a>
                        </div>
                    </div>
                    <p>Производство: Китай</p>
                    <p>Код: 015144</p>
                    <div>
                        <p class="type-char">Цвет:</p>
                        <ul class="list-color">
                            <li>
                                <span style="background-color: #000"></span>
                            </li>
                            <li>
                                <span style="background-color: #ed5858"></span>
                            </li>
                            <li>
                                <span style="background-color: #8ca500"></span>
                            </li>
                            <li>
                                <span style="background-color: #fff" class="list-color__white"></span>
                            </li>
                            <li class="multicolour">
                                <span></span>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col2">6,50 руб
                    <a href="#">+54 бонуса</a>
                </div>
                <div class="col3">
                    <div>
                        <div class="dec">-</div>
                        <input type="text" name="french-hens" class="inde" value="3">
                        <div class="inc">+</div>
                    </div>
                </div>
                <div class="btn-to-cart"><img src="/res/img/buy.png" alt="Купить"></div>
            </div>
            <div class="cont-row">
                <div class="col1">
                    <img src="/res/img/pr1.png" alt="Офисная бумага SvetoCopy A4 (80 г/м2)">
                    <h5><a href="http://papriki.nwdev.net/%E2%84%96">Офисная бумага SvetoCopy A4 (80 г/м2)</a></h5>
                    <div class="rating">
                        <ul class="stars">
                            <li class="star-true">
                            </li>
                            <li class="star-true">
                            </li>
                            <li class="star-true">
                            </li>
                            <li class="star-false">
                            </li>
                            <li class="star-false">
                            </li>
                        </ul>
                        <div class="rating__reviews">
                            <a href="#" class="reviews-pr">Отзывы: 679</a>
                        </div>
                    </div>
                    <p>Производство: Китай</p>
                    <p>Код: 015144</p>
                    <div>
                        <p class="type-char">Цвет:</p>
                        <ul class="list-color">
                            <li>
                                <span style="background-color: #000"></span>
                            </li>
                            <li>
                                <span style="background-color: #ed5858"></span>
                            </li>
                            <li>
                                <span style="background-color: #8ca500"></span>
                            </li>
                            <li>
                                <span style="background-color: #fff" class="list-color__white"></span>
                            </li>
                            <li class="multicolour">
                                <span></span>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col2">6,50 руб
                    <a href="#">+54 бонуса</a>
                </div>
                <div class="col3">
                    <div>
                        <div class="dec">-</div>
                        <input type="text" name="french-hens" class="inde" value="3">
                        <div class="inc">+</div>
                    </div>
                </div>
                <div class="btn-to-cart"><img src="/res/img/buy.png" alt="Купить"></div>
            </div>
        </div>
        <div class="drop-search-loader">
            <div class="loader"></div>
        </div>
    </div>
</div>