<div id="search-popup" class="search-popup-content mfp-hide"
     th:fragment="search-popup" xmlns:th="http://www.thymeleaf.org">
    <div class="drop-search">
        <div class="search-popup-content-top">
            <form>
                <div class="input-group hgt-in">
                    <span class="input-group-btn">
                        <button class="btn btn-search" type="button"><img src="/res/img/search.png" alt="Поиск" onclick="searchProducts()"></button>
                    </span>
                    <input type="text" id="search-popup-input" class="search-popup-input prod-src-input" placeholder="Введите название или код товара"
                           onkeydown="searchProducts()">
                </div>
                <button title="Close (Esc)" type="button" class="mfp-close">×</button>
            </form>
            <div class="head-row">
                <div class="col1">Товар</div>
                <div class="col2">Цена с НДС</div>
                <div class="col3">Кол-во</div>
                <div class="col4">Заказано</div>
            </div>
        </div>
        <div class="drop-search-catalog">

        </div>
    </div>
</div>