<main id="wrapp" th:fragment="article" xmlns:th="http://www.thymeleaf.org">
    <div class="wrapper">
        <ul class="breadCrumbs">
            <li><a href="/">Главная</a></li>
			<li><a href="/knowledgebase">База знаний</a></li>
            <li>10 интересных фактов о шариковой ручке</li>
        </ul>
        <section class="typicalSection">
            <h1>10 интересных фактов о шариковой ручке</h1>


 
 
 
 
 
<p style="text-indent: 25px;">1. В 1945 году в Нью-Йорке продавалась первая партия шариковых ручек. Ажиотаж при этом был таким огромным, что властям пришлось выставить полицейское оцепление! В этот день было продано 10 000 ручек по 12 долларов за штуку — примерно столько же получал в то время американский рабочий за весь трудовой день.</p>
<p style="text-indent: 25px;">2. Впрочем, всего за два года жесточайшей конкурентной борьбы двух самых крупных производителей ручек стоимость производства снизилась настолько, что цена шариковой ручки упала в 24 раза и составляла 50 центов.</p>
<p style="text-indent: 25px;">3. Интересно, что изначально стержень ручки был сложен в гармошку, чтобы влезло побольше чернил. Но прямой стержень был куда проще и дешевле в производстве, поэтому в эволюционном отборе выжил он.</p>
<p style="text-indent: 25px;">4. Каждую секунду на Земле продают в среднем 125 ручек.</p>
<p style="text-indent: 25px;">5. Шариковая ручка называется «шариковой» во всех странах: ballpointpen — на английском, bolígrafo — на испанском, penna a sfera — на итальянском, Kugelschreiber — на немецком. Исключение составляет только Аргентина, где ручку называют birami (бироме), в честь ЛаслоБиро, её изобретателя.</p>
<p style="text-indent: 25px;">6. Человек исписывает, в среднем, четыре ручки за год. Одной ручкой можно написать около 50 000 слов.</p>
<p style="text-indent: 25px;">7. Американец Пол Фишер около полувека назад изобрёл SpacePen — ручку, которой можно писать в невесомости, под водой, по жирной поверхности и много как ещё. Весь фокус в твёрдых чернилах, которые разжижаются непосредственно в процессе письма.</p>
<p style="text-indent: 25px;">8. Самая дорогая ручка, внесенная в Книгу рекордов Гиннесса, — платиновая Montegrappa, цена которой составляет миллион евро.</p>
<p style="text-indent: 25px;">9. Коллекционирование шариковых ручек называется стилофилией.</p>
<p style="text-indent: 25px;">10.Психологи утверждают, что люди, которые грызут ручку во время размышлений, являются творческими натурами.</p>

<center><img src="/res/img/knowledgebase/ruchka.jpg" width="350"></center>

        </section>
    </div>
</main>