<main id="wrapp" th:fragment="article" xmlns:th="http://www.thymeleaf.org">
    <div class="wrapper">
        <ul class="breadCrumbs">
            <li><a href="/">Главная</a></li>
            <li><a href="/knowledgebase">База знаний</a></li>
            <li>А вы любите канцтовары?</li>
        </ul>
        <section class="typicalSection">
            <h1>А вы любите канцтовары?</h1>




             <p style="text-indent: 25px;">Кому-то этот вопрос покажется странным. Но мы-то знаем, что существуют люди, не равнодушные к хорошим канцелярскими принадлежностям.</p>
			<center><p align="center"><img src="/res/img/knowledgebase/kanc.jpg" width="450"/>&nbsp;</p></center>


			<p style="text-indent: 25px;">Им нравится запах бумаги. Их приводит в трепет чистота страниц нового ежедневника. Разноцветье бумаги для заметок и клейких закладок радует их душу. Они ценят красоту и уникальность дизайна. Ни одна мелочь не ускользает от их цепкого взгляда.</p></br>
			<p style="text-indent: 25px;">Они разбираются в новых материалах и технологиях. Они знают всех ведущих производителей канцтоваров и в то же время открыты для новых брендов. Эти люди придирчивы к качеству и поэтому умеют делать правильный выбор.</p></br>
			<p style="text-indent: 25px;">Экологичность и забота об окружающей среде для них не пустой звук. Они предпочитают удобство и эргономичность. У них есть вкус. Они любят канцтовары. Так же, как любим их мы!</p>






        </section>
    </div>
</main>