<main id="wrapp" th:fragment="article" xmlns:th="http://www.thymeleaf.org">
    <div class="wrapper">
        <ul class="breadCrumbs">
            <li><a href="/">Главная</a></li>
            <li><a href="/knowledgebase">База знаний</a></li>
            <li>Любовь к канцтоварам</li>
        </ul>

        <section class="typicalSection">
            <h1>А вы любите канцтовары?</h1>




             Кому-то этот вопрос покажется странным. Но мы-то знаем, что существуют люди, не равнодушные к хорошим канцелярскими принадлежностям.
			<img src="images/girl.png"> </br>

 

			Им нравится запах бумаги. Их приводит в трепет чистота страниц нового ежедневника. Разноцветье бумаги для заметок и клейких закладок радует их душу. Они ценят красоту и уникальность дизайна. Ни одна мелочь не ускользает от их цепкого взгляда.</br>
			Они разбираются в новых материалах и технологиях. Они знают всех ведущих производителей канцтоваров и в то же время открыты для новых брендов. Эти люди придирчивы к качеству и поэтому умеют делать правильный выбор.</br>
			Экологичность и забота об окружающей среде для них не пустой звук. Они предпочитают удобство и эргономичность. У них есть вкус. Они любят канцтовары. Так же, как любим их мы!






        </section>
    </div>
</main>