<main id="wrapp" th:fragment="article" xmlns:th="http://www.thymeleaf.org">
    <div class="wrapper">
        <ul class="breadCrumbs">
            <li><a href="/">Главная</a></li>
			<li><a href="/knowledgebase">База знаний</a></li>
            <li>Картины из офисной бумаги</li>
        </ul>
		
        <section class="typicalSection">
            <h1>Картины из офисной бумаги</h1>


			<p style="text-indent: 25px;">Говорят, все гениальное просто. И эти картины из обычной белой офисной бумаги формата А4 являются тому наглядным подтверждением.</p></br>

			<p style="text-indent: 25px;">Картины из бумаги, созданные датским художником Питером Каллесеном (PeterCallesen) выглядят очень минималистично и в то же время выразительно. Глядя на них, удивляешься, как это сам до такого не додумался, имея целый день дело с бумагой для принтера.</p>
			<center><img src="http://paperki.by/images/Ramka_buz2.jpg" width="280">&nbsp;&nbsp;<img src="http://paperki.by/images/Ramka_buz3.jpg" width="280"></br></center>

			<p style="text-indent: 25px;">Эти картины вырезаны из одного листа бумаги так, что каждая бумажная деталь имеет свое место и предназначение. Вырезанные фигуры и их контуры являются элементами одного целого, дополняя друг друга и придавая смысл изображению.</p></br>
			<p style="text-indent: 25px;">Каждая картина - отдельная история, тонкая и трогательная. И все, что надо для такого креативного творчества - это лист белой офисной бумаги, простой карандаш и канцелярский нож.</p>
			<center><img src="http://paperki.by/images/Ramka_buz4.jpg" width="330">&nbsp;&nbsp;<img src="http://paperki.by/images/Ramka_buz1.jpg" width="280"></p> </br></center>



        </section>
    </div>
</main>