<footer class="footer" th:fragment="footer" xmlns:th="http://www.w3.org/1999/xhtml">
    <div class="panel panel-default top-footer">
        <div class="footer-subscribe">
            <div class="container">
                <div class="subscribe-title">
                    <div class="subscribe-title__left">
                        <img src="/res/img/subscribe-icon.png" alt="Подписаться">
                    </div>
                    <div class="subscribe-title__left">
                        <p class="subscribe">Подписаться на рассылку:</p>
                        <ul class="sub-list">
                            <li>
                                <p>новости</p>
                            </li>
                            <li>
                                <p>акции</p>
                            </li>
                            <li>
                                <p>спецпредложения</p>
                            </li>
                        </ul>
                    </div>
                </div>
                <form>
                    <input id="name-subscribe" type="text" class="name-sub" name="your-name" placeholder="Имя Фамилия">
                    <input id="email-subscribe" type="email" class="name-sub" name="your-email" placeholder="Электронная почта">
                    <button class="c-button btn-sub" type="subscribe" onclick="subscribe()">
                        <div class="c-ripple js-ripple">
                            <span class="c-ripple__circle"></span>
                        </div>
                        подписаться
                    </button>
                </form>
            </div>
        </div>
    </div>
    <div class="panel-footer first-footer">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-3">
                    <a href="#">
                        <img src="/res/img/logo.png" alt="Logo" class="logo-footer">
                    </a>
                    <p class="d-foot">Общество с ограниченной ответственностью «ПАПЕРКИ» - 2016 год. Все права защищены. </p>
                </div>
                <!-- Аккардион моб -->
                <div class="a-none">
                    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="headingOne">
                                <h4 class="panel-title">
                                    <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                        ОНЛАЙН PAPERKI.BY
                                        <span class="accordion_down glyphicon glyphicon-menu-down" aria-hidden="true"></span>
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                                <div class="panel-body">
                                    <ul class="nav-foot-1">
                                        <li>
                                            <a href="/about">О нас</a>
                                        </li>
                                        <li>
                                            <a href="/feedback">Отзывы покупателей</a>
                                        </li>
                                        <li>
                                            <a href="/blog">Новости</a>
                                        </li>
									<!--<li>
                                            <a href="/about">История компании</a>
                                        </li>
                                        <li>
                                            <a href="/#">Карьера</a>
                                        </li>-->
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="headingTwo">
                                <h4 class="panel-title">
                                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                        ПОКУПАТЕЛЯМ
                                        <span class="accordion_down glyphicon glyphicon-menu-down" aria-hidden="true"></span>
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                                <div class="panel-body">
                                    <ul class="nav-foot-1">
                                         <!--<li>
                                           <a href="/#">Скидки и Акции</a>
                                        </li>-->
                                        <li>
                                            <a href="/#">Возврат товара</a>
                                        </li>
                                        <li>
                                            <a href="/help/payment-methods">Способы оплаты</a>
                                        </li>
                                        <li>
                                            <a href="/help">Для юридических лиц</a>
                                        </li>
                                        <li>
                                            <a href="/#">Подарочные сертификаты</a>
                                        </li>
										<li>
                                            <a href="/knowledgebase">База знаний</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="headingThree">
                                <h4 class="panel-title">
                                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                        Интернет-магазин
                                        <span class="accordion_down glyphicon glyphicon-menu-down" aria-hidden="true"></span>
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                                <div class="panel-body">
                                    <ul class="nav-foot-1">
                                        <li>
                                            <a href="/catalog">Каталог товаров</a>
                                        </li>
                                        <li>
                                            <a href="/contact">Контакты</a>
                                        </li>
                                        <!--<li>
                                            <a href="#">Клуб PAP-бонус</a>
                                        </li>-->
                                        <!--<li>
                                            <a href="#">База знаний</a>
                                        </li>-->
                                        <li>
                                            <a href="/help">Помощь</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Аккардион моб -->
                <div class="col-xs-6 col-sm-2 bl-mob">
                    <div class="pad-top">
                        <p class="title-nav">ОНЛАЙН PAPERKI.BY</p>
                        <ul class="nav-foot-1">
                            <li>
                                <a href="/about">О нас</a>
                            </li>
                            <li>
                                <a href="/feedback">Отзывы покупателей</a>
                            </li>
                            <li>
                                <a href="/blog">Новости</a>
                            </li>
<!--                            <li>
                                <a href="#">История компании</a>
                            </li>
                            <li>
                                <a href="#">Карьера</a>
                            </li>-->
                        </ul>
                    </div>
                </div>

                <div class="col-xs-12 col-sm-2 bl-mob">
                    <div class="pad-top">
                        <p class="title-nav">ПОКУПАТЕЛЯМ</p>
                        <ul class="nav-foot-1">
                            <!--<li>
                                <a href="#">Скидки и акции</a>
                            </li>-->
                            <li>
                                <a href="#">Возврат товара</a>
                            </li>
                            <li>
                                <a href="/help/payment-methods">Способы оплаты</a>
                            </li>
                            <li>
                                <a href="/help">Для юридических лиц</a>
                            </li>
                            <li>
                                <a href="#">Подарочные сертификаты</a>
                            </li>
							<li>
                                <a href="/knowledgebase">База знаний</a>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="col-xs-12 col-sm-2 bl-mob">
                    <div class="pad-top">
                        <p class="title-nav">Интернет-магазин</p>
                        <ul class="nav-foot-1">
                            <li>
                                <a href="/catalog">Каталог товаров</a>
                            </li>
                            <li>
                                <a href="/contacts">Контакты</a>
                            </li>
                            <!--<li>
                                <a href="#">Клуб PAP-бонус</a>
                            </li>
                            <li>
                                <a href="#">База знаний</a>
                            </li>-->
                            <li>
                                <a href="/help">Помощь</a>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="col-xs-12 col-sm-2">
                    <div class="pad-top">
                        <p class="title-nav">мы принимаем</p>
                        <ul class="nav-pay">
                            <!--<li><img src="/res/img/pay-1.png" alt="Payment method icon" /></li>-->
                            <li><img src="/res/img/pay-2.png" alt="Payment method icon" /></li>
                            <!--<li><img src="/res/img/pay-3.png" alt="Payment method icon" /></li>-->
                            <!--<li><img src="/res/img/pay-4.png" alt="Payment method icon" /></li>-->
                            <li><img src="/res/img/pay-5.png" alt="Payment method icon" /></li>
                            <li><img src="/res/img/pay-6.png" alt="Payment method icon" /></li>
                        </ul>
                    </div>
                </div>

                <div class="col-xs-12 col-sm-2">
                    <div class="pad-top">
                        <p class="title-nav">мы в соцсетях</p>
                        <ul class="nav-foot-1 nav-social">
                            <li>
                                <a href="https://vk.com/paperki_brest">
                                    <img src="/res/img/vk-icon.png" alt="VK">
                                </a>
                            </li>
                            <!--<li>
                                <a href="#">
                                    <img src="/res/img/fb-icon.png" alt="Facebook">
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <img src="/res/img/g+-icon.png" alt="Google+">
                                </a>
                            </li>-->
                            <!--<li>
                                <a href="#">
                                    <img src="/res/img/tweeter-icon.png" alt="Tweeter">
                                </a>
                            </li>-->
                            <li>
                                <a href="#">
                                    <img src="/res/img/instagram-icon.png" alt="Instagram">
                                </a>
                            </li>
                            <!--<li>
                                <a href="#">
                                    <img src="/res/img/youtube-icon.png" alt="Youtube">
                                </a>
                            </li>-->
                            <li>
                                <a href="#">
                                    <img src="/res/img/viber-icon.png" alt="Viber">
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <img src="/res/img/skype-icon.png" alt="Skype">
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="panel-footer last-footer">
        <div class="container">
            <div class="row">
                <div class="col-md-6 mobile-copy">
                    <p class="copy">
                        Свидетельство о гос.рег. №1409 выд. Брестским облисполкомом 26.05.1997г. УНП 200578550. Интернет-магазин зарегистрирован в Торговом реестре 28 мая 2015 г. под номером 261248. Юр.адрес: 224023, Брест, ул. Советской Конституции д.1 При использовании материалов сайта ссылка на paperki.by обязательна!
                    </p>
                </div>
                <div class="col-md-6 col-xs-12">
                    <a href="http://new-level.by/" target="_blank" title="Дизайн студия NEW LEVEL" id="webLogo">
                        <span>Сайт разработан командой NEW LEVEL</span>
                        <img src="/res/img/designLogo.png" alt="NEW LEVEL">
                    </a>
                </div>
            </div>
        </div>
    </div>
</footer>