<header th:fragment="header" xmlns:th="http://www.w3.org/1999/xhtml">
    <!-- Верхнее меню -->
    <nav class="navbar mainMenu">
        <div class="container">
            <div class="mainMenu-wrap">
                <ul class="nav navbar-nav nav-mainMenu">
                    <li><a href="/about">О компании</a></li>
                    <li><a href="/help">Помощь</a></li>
                    <li class="active-link"><a href="/catalog">Каталог товаров</a></li>
                    <li><a href="/blog">Новости</a></li>
                    <li><a href="/">База знаний</a></li>
                    <li><a href="/delivery_and_payment">Доставка и оплата</a></li>
                    <li><a href="/feedback">Отзывы</a></li>
                    <li><a href="/contacts">Контакты</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right nav-profile">
                    <!--add class login to show-->
                    <li class="login">
                        <!--without enter-->
                        <button class="enter-popup-btn" data-target="#enter-popup">
                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0px" y="0px" viewbox="0 0 100 100" width="34px" height="34px" enable-background="new 0 0 100 100" xml:space="preserve">
                                    <path d="M7.443,93.698c-1.381,0-2.5-1.119-2.5-2.5c0-15.673,7.958-29.974,21.289-38.253c1.173-0.727,2.715-0.367,3.442,0.805  c0.729,1.173,0.368,2.715-0.805,3.443C17.019,64.554,9.943,77.266,9.943,91.198C9.943,92.579,8.824,93.698,7.443,93.698z   M95.057,91.302c0-19.631-12.46-36.759-31.069-42.803c-0.825-0.49-1.865-0.467-2.672,0.074c-3.365,2.263-7.298,3.458-11.372,3.458  c-11.257,0-20.416-9.159-20.416-20.416c0-11.258,9.159-20.417,20.416-20.417c11.258,0,20.416,9.159,20.416,20.417  c0,3.637-0.968,7.206-2.798,10.323c-0.699,1.19-0.302,2.723,0.89,3.422c1.189,0.697,2.723,0.302,3.421-0.89  c2.281-3.885,3.487-8.33,3.487-12.855c0-14.015-11.401-25.417-25.416-25.417S24.527,17.601,24.527,31.615  s11.401,25.416,25.416,25.416c4.626,0,9.106-1.239,13.041-3.597c16.239,5.525,27.072,20.607,27.072,37.867  c0,1.381,1.119,2.5,2.5,2.5S95.057,92.683,95.057,91.302z"/>
                                </svg>
                            войти
                        </button>
                        <!--without enter end-->
                        <!--login-->
                        <a href="#" class="login-user-button">
                            <div class="avatar">
                                <img src="/img/avatar.png" alt="avatar">
                            </div>
                            <p>Ефросинья</p>
                        </a>
                        <ul class="login-user-menu">
                            <li>
                                <div class="login-user-menu__pap">
                                    <p><span>PAP</span> бонус :  <span class="login-user-menu__pap-number">1500</span></p>
                                </div>
                                <a href="#" class="login-user-menu__exit" title="Выход">
                                    Выход
                                </a>
                            </li>
                            <li>
                                <a href="#" title="Заказы">
                                    <div>
                                        <img src="/img/login-user-menu-orders-icon.png" alt="Заказы">
                                    </div>
                                    Заказы
                                </a>
                            </li>
                            <li>
                                <a href="#" title="Список моих покупок">
                                    <div>
                                        <img src="/img/login-user-menu-product-pict-icon.png" alt="Список моих покупок">
                                    </div>
                                    Список моих покупок
                                </a>
                            </li>
                            <li>
                                <a href="#" title="Мои организации">
                                    <div>
                                        <img src="/img/login-user-menu-organizations-icon.png" alt="Мои организации">
                                    </div>
                                    Мои организации
                                </a>
                            </li>
                            <li>
                                <a href="#" title="Отзывы о товарах">
                                    <div>
                                        <img src="/img/login-user-menu-reviews-icon.png" alt="Отзывы о товарах">
                                    </div>
                                    Отзывы о товарах
                                </a>
                            </li>
                            <li>
                                <a href="#" title="Фотографии товара">
                                    <div>
                                        <img src="/img/login-user-menu-product-pict-icon.png" alt="Фотографии товара">
                                    </div>
                                    Фотографии товара
                                </a>
                            </li>
                            <li>
                                <a href="#" title="Видеообзоры">
                                    <div>
                                        <img src="/img/login-user-menu-video-icon.png" alt="Видеообзоры">
                                    </div>
                                    Видеообзоры
                                </a>
                            </li>
                            <li>
                                <a href="#" title="Вы смотрели">
                                    <div>
                                        <img src="/img/login-user-menu-watched-icon.png" alt="Вы смотрели">
                                    </div>
                                    Вы смотрели
                                </a>
                            </li>
                        </ul>
                        <!--login end-->
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- Верхнее меню -->
    <nav class="navbar navbar-default nav-navbar-main">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                        <a class="navbar-brand" href="/">
                            <img src="/img/logo.png" alt="Logo">
                            <div class="after">
                                <div class="afterin">
                                    <div><img src="/img/logohover.png" alt="arrow-left" title="Вернуться на главную" />Вернуться на главную</div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
                    <div class="row">
                        <div class="col-lg-7 col-md-7 col-sm-12 col-xs-12">
                            <div class="block-time"><span class="time-head">время работы: Пн-Пт с 8.30 - 17.00 </span></div>
                            <ul class="nav navbar-nav nav-navbar-btn">
                                <li class="dropdown">
                                    <button class="c-button btn-number dropdown-toggle btn" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <div class="c-ripple js-ripple">
                                            <span class="c-ripple__circle"></span>
                                        </div>
                                        <span class="" aria-hidden="true"><img src="/img/phone.png" alt="Phone-icon"></span> 8 (162) 42-93-95 <span><img src="/img/arrows.png" alt="arrows"></span>
                                    </button>
                                    <ul class="dropdown-menu phones">
                                        <div>
                                            <li class="phone_drop">
                                                <div><span class="" aria-hidden="true"><img src="/img/p1.png" alt="Vodafone"></span> 8 (162) 42-93-95</div>
                                                <div><span class="" aria-hidden="true"><img src="/img/p2.png" alt="Icon"></span> 8 (162) 42-93-95</div>
                                                <div><span class="" aria-hidden="true"><img src="/img/p3.png" alt="Viber"></span> 8 (162) 42-93-95</div>
                                                <div><span class="" aria-hidden="true"><img src="/img/p4.png" alt="Skype"></span> paperki.by</div>
                                                <div class="phone_drop-adres"><span class="" aria-hidden="true"><img src="/img/p5.png" alt="address"></span>
                                                    <p>ул. Советской Конституции&nbsp;1,
                                                        <br>"Дом Быта", 2 этаж</p>
                                                </div>
                                                <div><span aria-hidden="true"><img src="img/p6.png" alt="map"></span><a href="">схема проезда</a></div>
                                            </li>
                                        </div>
                                    </ul>
                                </li>
                                <li>
                                    <div class="morph-button morph-button-modal morph-button-modal-2 morph-button-fixed">
                                        <div class="btn-call big-button">заказать обратный звонок</div>
                                        <div class="morph-content">
                                            <div class="callback-popup-content">
                                                <span class="icon icon-close">Close the dialog</span>
                                                <div class="callback-popup-wrap">
                                                    <h4>Заказать обратный звонок</h4>
                                                    <form action="">
                                                            <span class="input input--ichiro callback-form-field">
                                                                <input class="input__field input__field--ichiro" type="text" name="your-name" id="callback-input-name" />
                                                                <label class="input__label input__label--ichiro" for="callback-input-name">
                                                                    <span class="input__label-content input__label-content--ichiro">Ваше Имя*</span>
                                                            </label>
                                                            </span>
                                                        <span class="input input--ichiro callback-form-field">
                                                                <input class="input__field input__field--ichiro phone" type="text" name="your-phone" id="callback-input-phone" />
                                                                <label class="input__label input__label--ichiro" for="callback-input-phone">
                                                                    <span class="input__label-content input__label-content--ichiro">Контактный номер телефона*</span>
                                                                </label>
                                                            </span>
                                                        <span class="input input--ichiro callback-form-field message-field">
                                                                    <textarea class="input__field input__field--ichiro" name="your-message" id="callback-textarea"></textarea>
                                                                    <label class="input__label input__label--ichiro" for="callback-textarea">
                                                                        <span class="input__label-content input__label-content--ichiro">Ваш комментарий к заявке</span>
                                                                    </label>
                                                                </span>
                                                        <button class="btn c-button btn-sign" type="submit">
                                                            <div class="c-ripple js-ripple">
                                                                <span class="c-ripple__circle"></span>
                                                            </div>
                                                            заказать звонок
                                                        </button>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div><!-- morph-button -->
                                </li>
                            </ul>
                        </div>
                        <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
                            <ul class="nav navbar-nav navbar-right nav-right-mn">
                                <li class="bookmarks">
                                    <a href="#">
                                        Закладки
                                        <br><span class="pr-main">2 товара</span></a>
                                </li>
                                <li class="comparison">
                                    <a href="#">
                                        Сравнение
                                        <br><span class="pr-main">0 товаров</span></a>
                                </li>
                                <li class="dropdown cart">
                                    <a href="#" class="dropdown-toggle cartLink" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                        <div class="cartIconHolder">
                                            <img class="cartIcon" src="/img/cart.png" alt="cart">
                                            <img class="cartOK emptyCart" src="/img/cartOK.png" alt="added to cart">
                                        </div>
                                        <div class="dropdown-cart__current-products">
                                            <p><span class="total-sum">12 590</span>руб </p>
                                            <span class="pr-main">365 товаров</span>
                                        </div>
                                    </a>
                                    <ul class="Mydropdown-menu menu-cart">
                                        <div class="title-cart">
                                            <p>Ваша&nbsp;корзина</p>
                                            <img class="closeCart" src="/img/catalog-close-icon.png" alt="close">
                                            <div class="clearfix"></div>
                                        </div>
                                        <div class="cart-cont">
                                            <li>
                                                <div class="drop-pr"><span class="  drop-pr" aria-hidden="true">&#10006;</span></div>
                                                <div class="img-cart"><img src="/img/product1.png" alt="Стеклянная доска NAGA белая"></div>
                                                <div class="desc-cart"><a href="#" class="name-pr-cart">Стеклянная доска NAGA белая</a>
                                                    <ul class="char-cart">
                                                        <li>Производство: Китай</li>
                                                        <li>Код: 015144</li>
                                                        <li>Цвет: <span class="color-c"></span></li>
                                                    </ul>
                                                    <p class="price-in-cart">6,50 руб x 4</p>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="drop-pr">
                                                    <span class="  drop-pr" aria-hidden="true">&#10006;</span>
                                                </div>
                                                <div class="img-cart">
                                                    <img src="/img/product1.png" alt="Стеклянная доска NAGA белая">
                                                </div>
                                                <div class="desc-cart">
                                                    <a href="#" class="name-pr-cart">Стеклянная доска NAGA белая</a>
                                                    <ul class="char-cart">
                                                        <li>Производство: Китай</li>
                                                        <li>Код: 015144</li>
                                                        <li>Цвет: <span class="color-c"></span></li>
                                                    </ul>
                                                    <p class="price-in-cart">6,50 руб x 4</p>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="drop-pr">
                                                    <span class="  drop-pr" aria-hidden="true">&#10006;</span>
                                                </div>
                                                <div class="img-cart">
                                                    <img src="/img/product1.png" alt="Стеклянная доска NAGA белая">
                                                </div>
                                                <div class="desc-cart">
                                                    <a href="#" class="name-pr-cart">Стеклянная доска NAGA белая</a>
                                                    <ul class="char-cart">
                                                        <li>Производство: Китай</li>
                                                        <li>Код: 015144</li>
                                                        <li>Цвет: <span class="color-c"></span></li>
                                                    </ul>
                                                    <p class="price-in-cart">6,50 руб x 4</p>
                                                </div>
                                            </li>
                                        </div>
                                        <div class="down-cart">
                                            <div class="row">
                                                <div class="col-md-5 col-sm-5">
                                                    <ul class="all-pr">
                                                        <li>10 товаров</li>
                                                        <li class="summa-c">Сумма: 1 250 руб</li>
                                                    </ul>
                                                </div>
                                                <div class="col-md-7 col-sm-7">
                                                    <a href="#cart-popup" class="btn c-button btn-ea-c popup-close-cart">
                                                        <div class="c-ripple js-ripple">
                                                            <span class="c-ripple__circle"></span>
                                                        </div>
                                                        Просмотреть корзину
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.container-fluid -->
    </nav>
    <nav class="catalog-search">
        <div class="container">
            <div class="products-catalog">
                <div class="catalog_overlay"></div>
                <a href="#" class="logofloat"><img src="/img/logo2.png" alt="Logo" title="На главную" /></a>
                <button id="catalog-button" class="c-button action action--open" type="button" aria-label="Open Menu">
                    <div class="c-ripple js-ripple">
                        <span class="c-ripple__circle"></span>
                    </div>
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0px" y="0px" viewBox="0 0 100 100" width="60px" height="60px" style="enable-background:new 0 0 33 37;" xml:space="preserve" preserveAspectRatio="xMinYMin meet">
                            <g>
                                <path d="M40.9,21.5H20.9c-1.2,0-2.1,1-2.1,2.1v20.1c0,1.2,1,2.1,2.1,2.1h20.1c1.2,0,2.1-1,2.1-2.1V23.6   C43.1,22.4,42.1,21.5,40.9,21.5z M38.8,41.5H23V25.7h15.8V41.5z"/>
                                <path d="M40.9,78.5c1.2,0,2.1-1,2.1-2.1V56.3c0-1.2-1-2.1-2.1-2.1H20.9c-1.2,0-2.1,1-2.1,2.1v20.1c0,1.2,1,2.1,2.1,2.1H40.9z    M23,58.5h15.8v15.8H23V58.5z"/>
                                <path d="M48.7,27.9c0,1.2,1,2.1,2.1,2.1h28.3c1.2,0,2.1-1,2.1-2.1s-1-2.1-2.1-2.1H50.8C49.6,25.7,48.7,26.7,48.7,27.9z"/>
                                <path d="M79.1,37.2H50.8c-1.2,0-2.1,1-2.1,2.1c0,1.2,1,2.1,2.1,2.1h28.3c1.2,0,2.1-1,2.1-2.1C81.2,38.2,80.3,37.2,79.1,37.2z"/>
                                <path d="M79.1,58.5H50.8c-1.2,0-2.1,1-2.1,2.1c0,1.2,1,2.1,2.1,2.1h28.3c1.2,0,2.1-1,2.1-2.1C81.2,59.4,80.3,58.5,79.1,58.5z"/>
                                <path d="M81.2,72.1c0-1.2-1-2.1-2.1-2.1H50.8c-1.2,0-2.1,1-2.1,2.1c0,1.2,1,2.1,2.1,2.1h28.3C80.3,74.3,81.2,73.3,81.2,72.1z"/>
                            </g>
                        </svg>
                    <span>Каталог товаров</span>
                </button>
                <button class="action action--close" aria-label="Close Menu"></button>
            </div>
            <div class="search-field">
                <div class="input-group hgt-in">
                            <span class="input-group-btn">
                        <button class="btn btn-search" type="button"><img src="/img/search.png" alt="Поиск">
                        </button>
                      </span>
                    <input type="text" class="form-control search-inp" placeholder="Введите название товара">
                </div>
            </div>

            <nav id="ml-menu" class="menu" th:include="/components/categories/navcategory :: navcategory" />

        </div>
    </nav>
</header>