<section th:fragment="popups" xmlns:th="http://www.thymeleaf.org">

    <!-- Форма Авторизации -->
    <div id="enter-popup" class="enter-popup-content morphbutton-content"
         th:include="/components/login/login-popup :: login-popup" />

    <!-- Форма регистрации -->
    <div id="registration-popup" class="registration-popup-content mfp-hide"
         th:include="/components/login/registration-popup :: registration-popup" />

    <!-- Форма восстановления пароля -->
    <div id="password-recovery-popup" class="password-recovery-popup-content mfp-hide"
         th:include="/components/login/password-recovery-popup :: password-recovery-popup"/>

    <!--search popup-->
    <div id="search-popup" class="search-popup-content mfp-hide"
         th:include="/components/search/search-popup :: search-popup"/>

    <!--Форма отзыва о компании-->
    <div id="send-feedback-popup" class="send-feedback-popup-content mfp-hide"
         th:include="/components/feedback/send-feedback-popup :: send-feedback-popup"/>

    <div th:if="${#request.getRequestURI()} == '/profile'" th:remove="tag">

        <!--редактирование личных данных-->
        <div id="update-profile-popup" class="update-profile-popup-content mfp-hide"
            th:include="/components/personal/update-profile-popup :: update-profile-popup"/>

        <!--добавление организации-->
        <div id="add-enterprise-popup" class="add-enterprise-popup popup-content mfp-hide"
            th:include="/components/personal/enterprise-new-add-popup :: add-enterprise-popup"/>

        <!--редактирование организации-->
        <div id="update-enterprise-popup" class="update-enterprise-popup popup-content mfp-hide"
            th:include="/components/personal/update-enterprise-popup :: update-enterprise-popup"/>

        <!-- добавление адреса -->
        <div id="add-address-popup" class="add-address-popup popup-content mfp-hide"
            th:include="/components/personal/add-address-popup :: add-address-popup"/>

        <!-- редактирование адреса -->
        <div id="edit-address-popup" class="edit-address-popup popup-content mfp-hide"
            th:include="/components/personal/edit-address-popup :: edit-address-popup"/>

    </div>

    <div id="loader-popup" class="show"
            style="
            position: fixed;
            background-color: rgba(255, 255, 255, 0.9);
            z-index: 800;
            width: 100%;
            height: 100%;
            top: 0;">
        <div class="loader" style="z-index: 801; top: 40%; left: 50%;"></div>
    </div>

</section>