<section th:fragment="scripts" xmlns:th="http://www.w3.org/1999/xhtml">
    <!--[if lt IE 9]>
    <script src="libs/html5shiv/es5-shim.min.js"></script>
    <script src="libs/html5shiv/html5shiv.min.js"></script>
    <script src="libs/html5shiv/html5shiv-printshiv.min.js"></script>
    <script src="libs/respond/respond.min.js"></script>
    <![endif]-->
    <script src="js/jquery-3.1.1.min.js"></script>
    <link rel="stylesheet" href="css/jquery-ui.min.css">
    <script src="js/bootstrap.min.js"></script>
    <script src="libs/slick/slick.min.js"></script>
    <script src="libs/mousewheel/jquery.mousewheel.min.js"></script>
    <script src="libs/slick/slick-slider-init.js"></script>
    <script src="libs/countdown/jquery.plugin.js"></script>
    <script src="libs/countdown/jquery.countdown.min.js"></script>
    <script src="libs/countdown/jquery.countdown-ru.js"></script>
    <script src="libs/countdown/countdown-init.js"></script>
    <script src="libs/totop/jquery-migrate-1.2.0.min.js"></script>
    <script src="libs/totop/scroll-startstop.events.jquery.js"></script>
    <script src="libs/totop/scroll-to-top-init.js"></script>
    <script src="js/ripple.js"></script>
    <script src="libs/multilevelmenu/classie.js"></script>
    <script src="libs/multilevelmenu/main.js"></script>
    <script src="libs/multilevelmenu/multilevel.init.js"></script>
    <script src="js/jquery.maskedinput.js"></script>
    <script src="js/jquery-ui.js"></script>
    <script src="libs/magnific/jquery.magnific-popup.min.js"></script>
    <script src="libs/magnific/magnific-popup-init.js"></script>
    <script src="libs/inputstyle/inputstyleinit.js"></script>
    <script src="libs/morphpopup/jquery.morphbutton.js"></script>
    <script src="js/jQuery.equalHeights.js"></script>
    <script src="libs/morphpopup/uiMorphingButton_fixed.js"></script>
    <script src="libs/morphpopup/morphbutton-init.js"></script>
    <script src="libs/dropdown/jquery.easydropdown.min.js"></script>
    <script src="libs/dropdown/jquery.easydropdown-init.js"></script>
    <script src="libs/tabs/jquery-tabs.js"></script>
    <script src="libs/fileupload/dropzone.js"></script>
    <script src="libs/fileupload/dropzone-init.min.js"></script>
    <script src="libs/clipboard/clipboard.min.js"></script>
    <script src="libs/scrollto/jquery.scrollTo.min.js"></script>
    <!--custom js-->
    <script src="js/common.js"></script>
</section>