<section th:fragment="scripts" xmlns:th="http://www.thymeleaf.org">
    <!--[if lt IE 9]>
        <script src="/res/libs/html5shiv/es5-shim.min.js"></script>
        <script src="/res/libs/html5shiv/html5shiv.min.js"></script>
        <script src="/res/libs/html5shiv/html5shiv-printshiv.min.js"></script>
        <script src="/res/libs/respond/respond.min.js"></script>
    <![endif]-->
    <script src="/res/js/jquery-3.1.1.min.js"></script>
    <link rel="stylesheet" href="/res/css/jquery-ui.min.css">
    <script src="/res/js/bootstrap.min.js"></script>
    <script src="/res/libs/slick/slick.min.js"></script>
    <script src="/res/libs/mousewheel/jquery.mousewheel.min.js"></script>
    <script src="/res/libs/slick/slick-slider-init.js"></script>
    <script src="/res/libs/countdown/jquery.plugin.js"></script>
    <script src="/res/libs/countdown/jquery.countdown.min.js"></script>
    <script src="/res/libs/countdown/jquery.countdown-ru.js"></script>
    <script src="/res/libs/countdown/countdown-init.js"></script>
    <script src="/res/libs/totop/jquery-migrate-1.2.0.min.js"></script>
    <script src="/res/libs/totop/scroll-startstop.events.jquery.js"></script>
    <script src="/res/libs/totop/scroll-to-top-init.js"></script>
    <script src="/res/js/ripple.js"></script>
    <script src="/res/libs/multilevelmenu/classie.js"></script>
    <script src="/res/libs/multilevelmenu/main.js"></script>
    <script src="/res/libs/multilevelmenu/multilevel.init.js"></script>
    <script src="/res/js/jquery.maskedinput.js"></script>
    <script src="/res/js/jquery-ui.js"></script>
    <script src="/res/libs/magnific/jquery.magnific-popup.min.js"></script>
    <script src="/res/libs/magnific/magnific-popup-init.js"></script>
    <script src="/res/libs/inputstyle/inputstyleinit.js"></script>
    <script src="/res/libs/morphpopup/jquery.morphbutton.js"></script>
    <script src="/res/js/jQuery.equalHeights.js"></script>
    <script src="/res/libs/morphpopup/uiMorphingButton_fixed.js"></script>
    <script src="/res/libs/morphpopup/morphbutton-init.js"></script>
    <script src="/res/libs/dropdown/jquery.easydropdown.min.js"></script>
    <script src="/res/libs/dropdown/jquery.easydropdown-init.js"></script>
    <script src="/res/libs/tabs/jquery-tabs.js"></script>
    <script src="/res/libs/fileupload/dropzone.js"></script>
    <script src="/res/libs/fileupload/dropzone-init.min.js"></script>
    <script src="/res/libs/clipboard/clipboard.min.js"></script>
    <script src="/res/libs/scrollto/jquery.scrollTo.min.js"></script>
    <!--custom js-->
    <script src="/res/js/common.js"></script>
    <!--app js-->
    <script src="/res/app.js"></script>
</section>