<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
</head>
    <body>
        <style>
            tbody {
                width: 100%;
                border: solid #c2c2c2 1px;
            }
            td {
                width: 100%;
            }
        </style>

        <h2>Welcome</h2>
        <table>
            <tbody>
                <tr>
                    <td>МЕНЮ</td>
                    <td>---</td>
                </tr>
                <tr>
                    <td>ЛОГИН</td>
                    <td>---</td>
                </tr>
                <tr>
                    <td>КАТАЛОГ</td>
                    <td>---</td>
                </tr>
            </tbody>
        </table>
    </body>
</html>