<nav id="ml-menu" class="menu" th:fragment="navcatalog" xmlns:th="http://www.thymeleaf.org">
    <div class="menu__wrap">
        <!-- КАТЕГОРИИ -->
        <ul data-menu="main" class="menu__level" tabindex="-1" role="menu" aria-label="All"
            th:if="${mapcategories} != null">

            <li th:each="map : ${mapcategories[0]}" class="menu__item" role="menuitem">
                <a class="menu__link" data-submenu="submenu-1" aria-owns="submenu-1"
                   href="#" 
                   th:attr="data-submenu='submenu-'+${map.value.id},aria-owns='submenu-'+${map.value.id}">
                    <div>
                        <img src="/res/img/hcm1.png" alt="Название категории"
                             th:attr="src=@{'/res/img/caticons/'+${map.value.icon}},alt=${map.value.name}">
                    </div>
                    <span th:text="${map.value.name}" th:remove="tag">Название категории</span>
                </a>
            </li>

        </ul>
            
        <ul th:each="map : ${mapcategories[0]}" class="catalog-submenu menu__level" 
            th:attr="data-menu='submenu-'+${map.value.id}">
            <div class="submenu-wrap">
                <li class="menu__item" 
                        th:if="${mapcategories[__${map.value.id}__]} != null" 
                        th:each="mapitem : ${mapcategories[__${map.value.id}__]}">

                    <a href="#" th:href="@{${map.value.link}}" class="menu__link"></a>
                    <!-- link to category -->
                    <a href="#" class="link-cat"
                        th:href="@{${mapitem.value.link}}">
                        <div>
                            <img src="/res/img/hcm1.png" alt="Название категории" 
                                th:attr="src=@{'/res/img/caticons/'+${mapitem.value.icon}},alt=${mapitem.value.name}" >
                        </div>
                        <span th:text="${mapitem.value.name}" th:remove="tag">Название суб-категории</span>
                    </a>
                </li>
            </div>
            <!-- //TODO реализовать бренды и баннер для субменю -->
            <div class="submenu-discount">
                <div class="discount-icon">
                    <img src="/res/img/banner.png" alt="Скидка">
                </div>
                <div class="discount-banner">
                    <img src="/res/img/pen.png" alt="Pen">
                </div>
                <div class="discount-text">
                    <h2>Ручки PARKER</h2>
                    <a href="#" class="c-button" title="Выбрать ручки">
                        <div class="c-ripple js-ripple">
                            <span class="c-ripple__circle"></span>
                        </div>
                        Выбрать ручки
                    </a>
                </div>
            </div>
            <div class="submenu-bottom">
                <ul class="submenu-bottom-list">
                    <li>
                        <a href="#">
                            <img src="/res/img/brands/akavim.png" alt="akavim">
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <img src="/res/img/brands/artspace.png" alt="artspace">
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <img src="/res/img/brands/greensboro-college.png" alt="greensboro">
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <img src="/res/img/brands/infolio.png" alt="infolio">
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <img src="/res/img/brands/link.png" alt="link">
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <img src="/res/img/brands/magic_line.png" alt="magic_line">
                        </a>
                    </li>
                </ul>
            </div>
        </ul>

    </div>
</nav>