<nav id="ml-menu" class="menu" th:fragment="navcatalog" xmlns:th="http://www.thymeleaf.org">
    <div class="menu__wrap" 
        th:if="${mapcategories} != null">
        <!-- КАТЕГОРИИ -->
        <ul data-menu="main" class="menu__level" tabindex="-1" role="menu" aria-label="All"
            th:if="${mapcategories[0]} != null">

            <div    th:each="map : ${mapcategories[0]}"
                    th:remove="tag">


                <li class="menu__item" role="menuitem"
                    th:if="(${mapcategories[__${map.value.id}__]} != null) and (${mapcategories[__${map.value.id}__]}.size() > 0)">
                    <a class="menu__link" data-submenu="submenu-1" aria-owns="submenu-1"
                       href="#" 
                       th:attr="data-submenu='submenu-'+${map.value.id},aria-owns='submenu-'+${map.value.id}">

                        <div th:if="${map.value.icon} != null">
                            <img src="/res/img/hcm1.png" alt="Название категории"
                                 th:attr="src=@{'/res/img/caticons/'+${map.value.icon}},alt=${map.value.name}">
                        </div>
                        <span th:text="${map.value.name}" th:remove="tag">Название родительской категории</span>
                    </a>
                </li>


            </div>


        </ul>
        <div    th:if="${mapcategories[0]} != null" 
                th:remove="tag">
            <div    th:each="map : ${mapcategories[0]}"
                    th:remove="tag">

                <ul class="catalog-submenu menu__level"
                    th:if="(${mapcategories[__${map.value.id}__]} != null) and (${mapcategories[__${map.value.id}__]}.size() > 0)"
                    th:attr="data-menu='submenu-'+${map.value.id}">
                    <div class="submenu-wrap">
                        <li class="menu__item" 
                            th:each="mapitem : ${mapcategories[__${map.value.id}__]}">

                            <a class="menu__link" href="#"></a>
                            <a href="/catalog" class="link-cat"
                                th:href="@{${mapitem.value.link}}">
                                <div th:if="${mapitem.value.icon} != null">
                                    <img src="/res/img/hcm1.png" alt="Название категории" 
                                        th:attr="src=@{'/res/img/caticons/'+${mapitem.value.icon}},alt=${mapitem.value.name}" >
                                </div>
                                <span th:text="${mapitem.value.name}" th:remove="tag">Название суб-категории</span>
                            </a>
                        </li>
                    </div>
                    <!-- //TODO реализовать бренды и баннер для субменю -->
                    <div class="submenu-discount"><!--banner--></div>
                    <div class="submenu-bottom"><!--brands bottom--></div>
                </ul>


            </div>

        </div>
    </div>
</nav>