
/*============ POPUPS =============*/

/*product-add-popup-confirm*/
.product-add-popup-confirm {
    text-align: center;
    position: absolute;
    left: 0px;
    top: -100px;
    width: 220px;
    height: 110px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    border: 1px solid #cfcfcf;
    background-color: #ffffff;
    z-index: 3;
    opacity: 0;
    visibility: hidden;
    transition: all .5s ease 0s;
}

.product-add-popup-confirm.is-visible {
    /*top: 0;*/
    opacity: 1;
    visibility: visible;
}

.product-add-popup-confirm .textarea {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    border-bottom: 1px solid #cfcfcf;
    height: 40px;
    padding: 10px;
}

.product-edit-popup-confirm {
    text-align: center;
    position: absolute;
    right: 10px;
    top: -60px;
    width: 220px;
    height: 110px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    border: 1px solid #cfcfcf;
    background-color: #ffffff;
    z-index: 3;
    opacity: 0;
    visibility: hidden;
    transition: all .5s ease 0s;
}

.product-edit-popup-confirm.is-visible {
    opacity: 1;
    visibility: visible;
}

.product-edit-popup-confirm .textarea {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    border-bottom: 1px solid #cfcfcf;
    height: 40px;
    padding: 10px;
}

/*.product-add-popup-confirm .cart-popup-del-prod-confirm__btns {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  border-bottom: 1px solid #cfcfcf;
}

.product-add-popup-confirm .cart-popup-del-prod-confirm__btns a {
  width: 50%;
  height: 109px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -ms-flex-align: center;
  align-items: center;
  color: #3e4474;
  font-family: ProximaNovaRegular;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  text-align: center;
}

.product-add-popup-confirm .cart-popup-del-prod-confirm__btns a img {
  transition: all .5s ease 0s;
}

.product-add-popup-confirm .cart-popup-del-prod-confirm__btns a p {
  margin: 7px 0 0 0;
}

.product-add-popup-confirm .cart-popup-del-prod-confirm__btns a:hover p {
  color: #ed5858;
}

.product-add-popup-confirm .cart-popup-del-prod-confirm__btns a:hover img {
  transform: scale(0.9);
}

.product-add-popup-confirm .cart-popup-del-prod-confirm__btns .cart-popup-del-prod__bookmark {
  padding-top: 18px;
}

.product-add-popup-confirm .cart-popup-del-prod-confirm__btns .cart-popup-del-prod__remove {
  padding-top: 24px;
}*/

.product-add-popup-confirm .cart-popup-del__cancel {
    display: block;
    color: #3e4474;
    font-family: ProximaNovaRegular;
    font-size: 14px;
    font-weight: 400;
    line-height: 6px;
    margin-top: 19px;
}

.product-add-popup-confirm .cart-popup-del__cancel:hover {
    color: #ed5858;
}

.product-edit-popup-confirm .cart-popup-del__cancel {
    display: block;
    color: #3e4474;
    font-family: ProximaNovaRegular;
    font-size: 14px;
    font-weight: 400;
    line-height: 6px;
    margin-top: 19px;
}

.product-edit-popup-confirm .cart-popup-del__cancel:hover {
    color: #ed5858;
}

@media only screen and (max-width: 320px) {
    .product-add-popup-confirm {
        width: 150px;
        height: auto;
    }

    .product-add-popup-confirm .cart-popup-del-prod-confirm__btns {
        -ms-flex-direction: column;
        flex-direction: column;
    }

    .product-add-popup-confirm .cart-popup-del-prod-confirm__btns a {
        width: 100%;
    }

    .product-add-popup-confirm .cart-popup-del__cancel {
        margin-top: 20px;
        padding-bottom: 20px;
    }

    .product-edit-popup-confirm {
        width: 150px;
        height: auto;
    }

    .product-edit-popup-confirm .cart-popup-del-prod-confirm__btns {
        -ms-flex-direction: column;
        flex-direction: column;
    }

    .product-edit-popup-confirm .cart-popup-del-prod-confirm__btns a {
        width: 100%;
    }

    .product-edit-popup-confirm .cart-popup-del__cancel {
        margin-top: 20px;
        padding-bottom: 20px;
    }

}

@media only screen and (max-width: 480px) {
    .product-add-popup-confirm {
        width: 235px;
    }

    .product-add-popup-confirm .cart-popup-del-prod-confirm__btns a {
        font-size: 12px;
    }

    .product-edit-popup-confirm {
        width: 235px;
    }

    .product-edit-popup-confirm .cart-popup-del-prod-confirm__btns a {
        font-size: 12px;
    }

}
/*END product-add-popup-confirm*/




.popup-content {
    position: relative;
    margin: 86px auto 0 auto;
    width: 586px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.2);
}

.popup-content form {
    padding: 15px 49px 0 47px;
}

.popup-content .popup-head {
    position: relative;
    padding: 32px 45px 13px 47px;
}

.popup-content .popup-head h4 {
    padding: 0;
    margin: 0;
    color: #373b44;
    font-family: ProximaNovaBlack;
    font-size: 30px;
    font-weight: 900;
    margin: 0 0 25px 0;
}

.popup-content .form-field {
    width: 100%;
    max-width: none;
    margin: 34px 0 12px 0;
}

.popup-content .form-field .small-form-field {
    float: left;
    width: 33.333%;
    padding: 0 10px 0 0;
}

.popup-content .popup-footer {
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -ms-flexbox;
    /*display: flex;*/
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-align: center;
    align-items: center;
    padding-bottom: 46px;
}

@media only screen and (max-width: 768px) {
    .popup-content {
        top: 0;
        left: 0;
        margin: 0;
        width: 100%;
        height: 100%;
    }

    .popup-content .mfp-close {
        right: 20px;
        top: 20px;
    }

    .popup-content .popup-footer {
        -ms-flex-direction: column;
        flex-direction: column;
        -ms-flex-align: center;
        align-items: center;
    }
}

/*=================================*/

div.my-personal-data-delivery-address-content {
    border-top: 1px solid #e0e0e0;
    /*padding: 31px 0 30px 36px;*/
    margin-top: 39px;
}

.my-personal-data-delivery-address-content .delivery-address-list {
    padding: 0;
    margin: 0;
    border-top: 1px solid #e0e0e0;
}

.my-personal-data-delivery-address-content .delivery-address-list li {
    width: 100%;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-align: center;
    align-items: center;
    border-bottom: 1px solid #e0e0e0;
    padding-left: 37px;
}

.my-personal-data-delivery-address-content .delivery-address-list li a {
    color: #495685;
    font-family: ProximaNovaRegular;
    font-size: 14px;
    font-weight: 400;
    text-decoration: underline;
}

.my-personal-data-delivery-address-content .delivery-address-list li .action-buttons{
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -ms-flexbox;
    display: flex;
}

.my-personal-data-delivery-address-content .delivery-address-list li .edit-button {
    border-left: 1px solid #e0e0e0;
    display: block;
    width: 40px;
    height: 39px;
    background: url("/res/img/pencil-icon.png") no-repeat 50% 50% #fafafa;
}

.my-personal-data-delivery-address-content .delivery-address-list li .delete-button {
    border-left: 1px solid #e0e0e0;
    display: block;
    width: 40px;
    height: 39px;
    background: url("/res/img/product-char-close-icon.png") no-repeat 50% 50%;
}

.my-personal-data-delivery-address-content .add-delivery-address-button {
    margin-left: 37px;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
    width: 297px;
    height: 50px;
    background-color: #a2ba1f;
    border-radius: 5px;
    color: white;
    font-family: ProximaNovaBold;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    margin-top: 33px;
    margin-bottom: 33px;
}



div.cart-add-loader {
    position: absolute;
    width: 100%;
    height: 110%;
    background-color: rgba(255, 255, 255, 0.9);
    z-index: 5;
    display: none;
}

li.add-btn {
    position: relative;
}

div.add-area {
    position: absolute;
    /*width: 80px;
    height: 40px; */
    box-shadow: 0px 10px 21px rgba(0, 0, 0, 0.2);
    display: none;
    background: white none repeat scroll 0% 0%;
    z-index: 2;
    /*border: 2px solid #ffd148;*/
    border-radius: 8px;
    padding: 5px;
    top: -3px;
}

ul.cart-item {
    position: relative;
}

div.update-area {
    position: absolute;
    box-shadow: 0px 10px 21px rgba(0, 0, 0, 0.2);
    display: none;
    background: white none repeat scroll 0% 0%;
    z-index: 2;
    border-radius: 8px;
    padding: 5px;
    top: 0px;
    right: 20px;
}

ul.list-update-bt {
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;

    padding-left: 0px;
    margin-left: 0px;
}


/* update-profile-popup ============================================*/
.my-personal-data-form-bottom {
    border-top: 1px solid #e0e0e0;
    padding: 31px 0 30px 36px;
    margin-top: 39px;
}

.my-personal-data-form-bottom .my-personal-data-form-button {
    margin-top: 33px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
    width: 299px;
    height: 60px;
    border-radius: 10px;
    background-color: #a2ba1f;
    color: #ffffff;
    font-family: ProximaNovaBlack;
    font-size: 24px;
    font-weight: 900;
    line-height: 24px;
}

/*================================================*/

.update-profile-popup-content {
    position: relative;
    margin: 86px auto 0 auto;
    width: 586px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.2);
}

.update-profile-popup-head {
    position: relative;
    padding: 32px 45px 13px 47px;
}

.update-profile-popup-head h4 {
    padding: 0;
    margin: 0;
    color: #373b44;
    font-family: ProximaNovaBlack;
    font-size: 30px;
    font-weight: 900;
    margin: 0 0 25px 0;
}

.update-profile-popup-content form {
    padding: 15px 49px 0 47px;
}

.update-profile-popup-content .update-profile-popup-form-field {
    width: 100%;
    max-width: none;
    margin: 55px 0 12px 0;
}

.update-profile-popup-content .update-profile-popup-footer {
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-align: center;
    align-items: center;
    padding-bottom: 46px;
}

/*=============================================================*/


.order-holder {
    margin: 0 -1%;
}

.order-items {
    float: left;
    width: 63%;
    margin: 15px 1%;
    background-color: #FFF;
    border: 1px solid #E0E0E0;
    border-radius: 10px;
}

.order-completed-info {
    padding-left: 35px;
    margin-top: 28px;
}

.order-menu-bar {
    float: left;
    width: 33%;
    margin: 15px 1%;
    background-color: #FFF;
    border: 1px solid #E0E0E0;
    border-radius: 10px;
}

@media only screen and (max-width: 760px) {
    .order-items {
        width: 98%;
    }
    .order-menu-bar {
        width: 98%;
    }
}

@media only screen and (max-width: 360px) {
    .order-items .composition-order .composition-order-table .table-head ul li {
        font-size: 8px;
    }
    .order-items .composition-order .composition-order-table .table-body ul li {
        font-size: 10px;
    }
}

.order-items h2 {
    color: #373b44;
    font-family: ProximaNovaRegular;
    font-size: 26px;
    font-weight: 400;
    margin: 21px 0 21px 34px;
}

.order-items .composition-order .composition-order-table .table-head {
    border-top: 1px solid #e0e0e0;
    border-bottom: 1px solid #e0e0e0;
}
.order-items .composition-order .composition-order-table .table-row {
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    margin: 0;
    padding: 0 10px 0 10px;
}

.order-items .composition-order .composition-order-table .table-row li:first-of-type {
    width: 6%; }
.order-items .composition-order .composition-order-table .table-row li:nth-of-type(2) {
    width: 6%; }
.order-items .composition-order .composition-order-table .table-row li:nth-of-type(3) {
    width: 60%; }
.order-items .composition-order .composition-order-table .table-row li:nth-of-type(4) {
    width: 10%; }
.order-items .composition-order .composition-order-table .table-row li:nth-of-type(5) {
    text-align: center;
    width: 9%; }
.order-items .composition-order .composition-order-table .table-row li:nth-of-type(6) {
    text-align: center;
    width: 9%; }

.order-items .composition-order .composition-order-table .table-head ul li {
    padding-bottom: 12px;
    padding-top: 12px;
    color: #9f9f9f;
    font-family: ProximaNovaRegular;
    font-size: 14px;
    font-weight: 400;
}

.order-items .composition-order .composition-order-table .table-body ul {
    border-bottom: 1px solid #e0e0e0;
}

.order-items .composition-order .composition-order-table .table-body ul li {
    padding-top: 22px;
    padding-bottom: 22px;
    font-family: ProximaNovaRegular;
    font-size: 14px;
    font-weight: 400;
    color: #373b44;
}


.table-body .table-row > li .cart-popup-del-prod {
    position: absolute;
    left: 15px;
    top: 14px;
    width: 15px;
    height: 15px;
    background: url(/res/img/cart-delete-prod.png) no-repeat 50% 50%;
    cursor: pointer;
}


.order-details {
    float: left;
    width: 98%;
    margin: 15px 1%;
    background-color: #FFF;
    border: 1px solid #E0E0E0;
    border-radius: 10px;
}

.order-details h2 {
    color: #373b44;
    font-family: ProximaNovaRegular;
    font-size: 26px;
    font-weight: 400;
    margin: 21px 0 21px 34px;
}

.order-details-items {
    padding-left: 35px;
    margin-top: 28px;
}

.order-details-actions {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    border-top: 1px solid #e0e0e0;
    border-bottom: 1px solid #e0e0e0;
    padding: 25px 0 24px 35px;
}

.order-details-attributes {
    padding-left: 35px;
    margin-top: 28px;
}

.order-details-attributes h4 {
    font-family: ProximaNovaRegular;
    font-weight: 400;
    color: #373b44;
    font-size: 18px;
    margin: 0;
}

.order-details-attributes ul {
    padding: 0;
    margin: 16px 0 0 0;
}

.order-details-attributes ul li {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 7px;
}

.order-details-attributes ul li div {
    position: relative;
    overflow: hidden;
    width: 410px;
    -ms-flex-negative: 0;
    flex-shrink: 0;
}

.order-details-attributes ul li div:before {
    content: '................................................................................................................................................................................................................................................';
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 100%;
    color: #9f9f9f;
    font-size: 14px;
    font-family: ProximaNovaRegular;
    font-weight: 400;
}

.order-details-attributes ul li p, .order-details-attributes ul li span {
    position: relative;
    z-index: 1;
    display: inline-block;
    background: #fff;
    margin: 0;
    color: #373b44;
    font-size: 14px;
    font-family: ProximaNovaRegular;
    font-weight: 400;
    padding-right: 5px;
}


.order-details-items .composition-order-table .table-head {
    border-top: 1px solid #e0e0e0;
    border-bottom: 1px solid #e0e0e0;
}
.order-details-items .composition-order-table .table-row {
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    margin: 0;
    padding: 0 10px 0 10px;
}

.order-details-items .composition-order-table .table-row li:first-of-type {
    width: 10%; }
.order-details-items .composition-order-table .table-row li:nth-of-type(2) {
    width: 60%; }
.order-details-items .composition-order-table .table-row li:nth-of-type(3) {
    width: 10%; }
.order-details-items .composition-order-table .table-row li:nth-of-type(4) {
    width: 10%; }
.order-details-items .composition-order-table .table-row li:nth-of-type(5) {
    text-align: center;
    width: 10%; }

.order-details-items .composition-order-table .table-head ul li {
    padding-bottom: 12px;
    padding-top: 12px;
    color: #9f9f9f;
    font-family: ProximaNovaRegular;
    font-size: 14px;
    font-weight: 400;
}

.order-details-items .composition-order-table .table-body ul {
    border-bottom: 1px solid #e0e0e0;
}

.order-details-items .composition-order-table .table-body ul li {
    padding-top: 22px;
    padding-bottom: 22px;
    font-family: ProximaNovaRegular;
    font-size: 14px;
    font-weight: 400;
    color: #373b44;
}

.order-details-total {

}


/* =========================================================== */

.input_error {
    border: 1px solid #ff0000;
    color: #ff0000;
}

.label_error {
    color: #ff0000;
}

.btn-call {
    color: #ff8d38;
    font-size: 16px;
    padding: 10px 20px; }

.btn-call:hover {
    box-shadow: 0px 10px 20px 0px rgba(145, 68, 0, 0.1);
    background: white;
    color: #ff8d38;
    border-color: #ccc; }

button.btn.btn-call {
    color: #ff831d;
    line-height: 38px;
    /*font-size: 20px;*/
    width: 100%;
    padding: 10px 20px;
    box-sizing: border-box;
    border-radius: 8px;
    background: #fff;
    /* Old browsers */
    background: -webkit-linear-gradient(top, #ff821d 33%, #ffae00 66%);
    /* Chrome10-25,Safari5.1-6 */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    border-color: #ccc;
    font-family: ProximaNovaBlack; }

.btn-to-cart-simple {
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
    /*width: 55px;*/
    height: 35px;
    background-color: #a8c600;
    border: none;
    border-radius: 5px;
    box-shadow: inset 0 -2px 0 rgba(0, 0, 0, 0.25);
    cursor: pointer;
    color: #fff;
    font-weight: 900;
    font-size: 16px;
    text-shadow: 1px 1px #777;
}

/* 4921   width: 6.654%;*/
.col-md-1.box-bl {
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 6.654%;
    border-bottom: 1px solid #e0e0e0;
    float: none;}



.quantity-manage {
    width: 98px;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -ms-flexbox;
    display: flex;
}

.quantity-manage .dec {
    width: 24px;
    text-align: center;
    border: 1px solid #e0e0e0;
    border-right-width: 1px;
    border-right-style: solid;
    border-right-color: rgb(224, 224, 224);
    border-right: 0px;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    font-size: 34px;
    font-family: ProximaNovaBold;
    color: #b9b9b9;
    line-height: 1;
    cursor: pointer;
    background: white;
}

.quantity-manage .inde {
    width: 50px;
    height: 38px;
    text-align: center;
    border: 1px solid #e0e0e0;
    font-size: 14px;
    font-family: ProximaNovaBold;
    color: #b9b9b9;
}

.quantity-manage .inc {
    width: 24px;
    text-align: center;
    border: 1px solid #e0e0e0;
    border-left-width: 1px;
    border-left-style: solid;
    border-left-color: rgb(224, 224, 224);
    border-left: none;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    font-size: 34px;
    font-family: ProximaNovaBold;
    color: #b9b9b9;
    line-height: 1;
    cursor: pointer;
    background: white;
}






.grouped-type .products-list-page__product-item-wrap .product-types-list .product-types-list-item .btns {
    margin: 0;
    padding-right: 0px;
}

.grouped-type .products-list-page__product-item-wrap .product-types-list .product-types-list-item {
    padding: 9px 0px 9px 9px;
    width: 100%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-align: center;
    align-items: center;
    border-bottom: 1px solid #e0e0e0;
    border-left: 1px solid #e0e0e0;
}

.single-product-pict-slider-thumbs {
    margin: 20px;
}




single-product-main-info.cart-is-added {
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    width: 93px;
    height: 33px;
    background-color: white;
    border-radius: 5px;
    position: relative; }

single-product-main-info.cart-is-added:before {
    content: "";
    position: absolute;
    top: -1px;
    bottom: -1px;
    left: -1px;
    width: 95px;
    height: 35px;
    border-radius: 5px;
    background-image: linear-gradient(to right, #ffae00 0%, #ff821d 100%); }

single-product-main-info.cart-is-added__pict {
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
    height: 100%;
    width: 55px;
    border-right: 1px solid #ff8918;
    background: #fff;
    z-index: 1;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px; }

single-product-main-info.cart-is-added__number {
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 39px;
    height: 100%;
    color: #b9b9b9;
    font-family: ProximaNovaRegular;
    font-size: 10px;
    font-weight: 400;
    text-align: center;
    z-index: 1;
    background: #fff;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px; }







@media only screen and (max-width: 1390px) {
    .my-organizations .my-organizations-content .my-profile-personal-data {
        padding: 18px 15px 21px 15px;
    }

    .my-organizations .my-organizations-content .my-profile-personal-data .my-profile-personal-data-text {
        margin-left: 40px;
        -ms-flex-pack: justify;
        justify-content: space-between;
        width: 100%;
    }

    .my-organizations .my-organizations-content .my-profile-personal-data ul:first-of-type {
        margin-right: 0;
    }

}


@media only screen and (max-width: 768px) {
    .update-profile-popup-content {
        top: 0;
        left: 0;
        margin: 0;
        width: 100%;
        height: 100%;
    }

    .update-profile-popup-content .mfp-close {
        right: 20px;
        top: 20px;
    }

    .update-profile-popup-footer {
        -ms-flex-direction: column;
        flex-direction: column;
        -ms-flex-align: center;
        align-items: center;
    }
}


.product_super-price div.caption.cap-normal,
.product_hit div.caption.cap-normal {
    padding-top: 28px;
}

.product_hit:before {
    content: 'хит!';
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    padding-top: 5px;
    position: absolute;
    right: 8px;
    top: -1px;
    width: 105px;
    height: 38px;
    background: url("/res/img/product-hit.png") no-repeat 50% 50%;
    color: #fff000;
    font-family: ProximaNovaRegular;
    font-size: 14px;
    font-weight: 400; }

.product_super-price:before {
    content: 'супер цена!';
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    padding-top: 5px;
    position: absolute;
    right: 8px;
    top: -1px;
    width: 105px;
    height: 38px;
    background: url("/res/img/super-price-icon.png") no-repeat 50% 50%;
    color: #fff000;
    font-family: ProximaNovaRegular;
    font-size: 14px;
    font-weight: 400; }


.new-product::before {
    content: 'новинка!';
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    padding-top: 5px;
    position: absolute;
    right: 8px;
    top: -1px;
    width: 105px;
    height: 38px;
    background: url("/res/img/new-product-icon.png") no-repeat 50% 50%;
    color: #fff000;
    font-family: ProximaNovaRegular;
    font-size: 14px;
    font-weight: 400;
}




