<div id="cart-empty-popup" class="cart-empty-popup-content mfp-hide"
     th:fragment="cart-empty-popup" xmlns:th="http://www.thymeleaf.org">
    <div class="cart-empty-popup-title">
        <img src="/res/img/cart-empty-cart-icon.png" alt="Cart empty">
        <h3>Корзина пуста</h3>
    </div>
    <div class="cart-empty-popup-action">
        <div class="cart-empty-popup-action__title">
            <span>Но это никогда не поздно исправить :)</span>
            <a href="#">Смотреть все акции →</a>
        </div>
        <div class="cart-empty-popup-action-slider">
            <div>
                <a href="#">
                    <img src="/res/img/cart-action1.png" alt="Action">
                </a>
            </div>
            <div>
                <a href="#">
                    <img src="/res/img/cart-action2.png" alt="Action">
                </a>
            </div>
            <div>
                <a href="#">
                    <img src="/res/img/cart-action3.png" alt="Action">
                </a>
            </div>
            <div>
                <a href="#">
                    <img src="/res/img/cart-action1.png" alt="Action">
                </a>
            </div>
            <div>
                <a href="#">
                    <img src="/res/img/cart-action2.png" alt="Action">
                </a>
            </div>
            <div>
                <a href="#">
                    <img src="/res/img/cart-action3.png" alt="Action">
                </a>
            </div>
        </div>
    </div>
    <div class="watched-products">
        <div class="watched-products-title">
            <span>Просмотренный товар</span>
            <a href="#">Показать всё</a>
        </div>
        <div class="catalogHolder watched-products-slider">
            <div class="wideProductCard">
                <div class="wideProductCardTop">
                    <div class="wideProductCardImg">
                        <img src="/res/img/product1.png" alt="Изображение товара">
                    </div>
                    <div class="wideProductCardTitle">
                        <h4><a href="#" class="link-name-cat">Бумага офисная Mondi Color Copy А3 250 г/м2 класс A+ 125 листов Белая (9003974443782)</a></h4>
                        <p><a href="#" class="cat-l">КЛЕЙ</a></p>
                        <ul class="prices-block-list">
                            <li class="old-pr">8,50 руб </li>
                            <li class="new-pr">
                                6,50 руб
                            </li>
                            <li>
                                <div class="bon-pr">
                                    <img src="/res/img/i.png">
                                    <a href="#" class="bonuses">+11 бонусов</a>
                                    <div class="hint">
                                        <span class="glyphicon glyphicon-triangle-top hint-arrow"></span>
                                        <h5>Цена зависит от<br>количества!</h5>
                                        <div>
                                            <p>от 1 ед. :</p>
                                            <p>6,50 руб</p>
                                            <p>от 20 ед. :</p>
                                            <p>6,42 руб</p>
                                            <p>от 30 ед. :</p>
                                            <p>6,05 руб</p>
                                            <p>т 60 ед. :</p>
                                            <p>5,80 руб</p>
                                            <p>от 120 ед. :</p>
                                            <p>5,50 руб</p>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="wideProductCardBottom">
                    <ul class="list-bt">
                        <li>
                            <a href="#" class="btn c-button btn-to-cart" title="В корзину">
                                <div class="c-ripple js-ripple">
                                    <span class="c-ripple__circle"></span>
                                </div>
                                <img src="/res/img/cart-icon.png" alt="Cart">
                            </a>
                        </li>
                        <li>
                            <a href="#" class="btn c-button btn-bookmark bnt-ic" title="Добавить в закладки">
                                <div class="c-ripple js-ripple">
                                    <span class="c-ripple__circle"></span>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="btn c-button btn-compare bnt-ic" title="Сравнить">
                                <div class="c-ripple js-ripple">
                                    <span class="c-ripple__circle"></span>
                                </div>
                            </a>
                        </li>
                    </ul>
                    <div class="rating starsOnNewline">
                        <ul class="stars">
                            <li class="star-true">
                            </li>
                            <li class="star-true">
                            </li>
                            <li class="star-true">
                            </li>
                            <li class="star-false">
                            </li>
                            <li class="star-false">
                            </li>
                        </ul>
                        <div class="rating__reviews">
                            <a href="#" class="reviews-pr">Отзывы: 679</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="wideProductCard">
                <div class="wideProductCardTop">
                    <div class="wideProductCardImg">
                        <img src="/res/img/product1.png" alt="Изображение товара">
                    </div>
                    <div class="wideProductCardTitle">
                        <h4><a href="#" class="link-name-cat">Бумага офисная Mondi Color Copy А3 250 г/м2 класс A+ 125 листов Белая (9003974443782)</a></h4>
                        <p><a href="#" class="cat-l">КЛЕЙ</a></p>
                        <ul class="prices-block-list">
                            <li class="old-pr">8,50 руб </li>
                            <li class="new-pr">
                                6,50 руб
                            </li>
                            <li>
                                <div class="bon-pr">
                                    <img src="/res/img/i.png">
                                    <a href="#" class="bonuses">+11 бонусов</a>
                                    <div class="hint">
                                        <span class="glyphicon glyphicon-triangle-top hint-arrow"></span>
                                        <h5>Цена зависит от<br>количества!</h5>
                                        <div>
                                            <p>от 1 ед. :</p>
                                            <p>6,50 руб</p>
                                            <p>от 20 ед. :</p>
                                            <p>6,42 руб</p>
                                            <p>от 30 ед. :</p>
                                            <p>6,05 руб</p>
                                            <p>т 60 ед. :</p>
                                            <p>5,80 руб</p>
                                            <p>от 120 ед. :</p>
                                            <p>5,50 руб</p>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="wideProductCardBottom">
                    <ul class="list-bt">
                        <li>
                            <a href="#" class="btn c-button btn-to-cart" title="В корзину">
                                <div class="c-ripple js-ripple">
                                    <span class="c-ripple__circle"></span>
                                </div>
                                <img src="/res/img/cart-icon.png" alt="Cart">
                            </a>
                        </li>
                        <li>
                            <a href="#" class="btn c-button btn-bookmark bnt-ic" title="Добавить в закладки">
                                <div class="c-ripple js-ripple">
                                    <span class="c-ripple__circle"></span>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="btn c-button btn-compare bnt-ic" title="Сравнить">
                                <div class="c-ripple js-ripple">
                                    <span class="c-ripple__circle"></span>
                                </div>
                            </a>
                        </li>
                    </ul>
                    <div class="rating starsOnNewline">
                        <ul class="stars">
                            <li class="star-true">
                            </li>
                            <li class="star-true">
                            </li>
                            <li class="star-true">
                            </li>
                            <li class="star-false">
                            </li>
                            <li class="star-false">
                            </li>
                        </ul>
                        <div class="rating__reviews">
                            <a href="#" class="reviews-pr">Отзывы: 679</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="wideProductCard">
                <div class="wideProductCardTop">
                    <div class="wideProductCardImg">
                        <img src="/res/img/product1.png" alt="Изображение товара">
                    </div>
                    <div class="wideProductCardTitle">
                        <h4><a href="#" class="link-name-cat">Бумага офисная Mondi Color Copy А3 250 г/м2 класс A+ 125 листов Белая (9003974443782)</a></h4>
                        <p><a href="#" class="cat-l">КЛЕЙ</a></p>
                        <ul class="prices-block-list">
                            <li class="old-pr">8,50 руб </li>
                            <li class="new-pr">
                                6,50 руб
                            </li>
                            <li>
                                <div class="bon-pr">
                                    <img src="/res/img/i.png">
                                    <a href="#" class="bonuses">+11 бонусов</a>
                                    <div class="hint">
                                        <span class="glyphicon glyphicon-triangle-top hint-arrow"></span>
                                        <h5>Цена зависит от<br>количества!</h5>
                                        <div>
                                            <p>от 1 ед. :</p>
                                            <p>6,50 руб</p>
                                            <p>от 20 ед. :</p>
                                            <p>6,42 руб</p>
                                            <p>от 30 ед. :</p>
                                            <p>6,05 руб</p>
                                            <p>т 60 ед. :</p>
                                            <p>5,80 руб</p>
                                            <p>от 120 ед. :</p>
                                            <p>5,50 руб</p>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="wideProductCardBottom">
                    <ul class="list-bt">
                        <li>
                            <a href="#" class="btn c-button btn-to-cart" title="В корзину">
                                <div class="c-ripple js-ripple">
                                    <span class="c-ripple__circle"></span>
                                </div>
                                <img src="/res/img/cart-icon.png" alt="Cart">
                            </a>
                        </li>
                        <li>
                            <a href="#" class="btn c-button btn-bookmark bnt-ic" title="Добавить в закладки">
                                <div class="c-ripple js-ripple">
                                    <span class="c-ripple__circle"></span>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="btn c-button btn-compare bnt-ic" title="Сравнить">
                                <div class="c-ripple js-ripple">
                                    <span class="c-ripple__circle"></span>
                                </div>
                            </a>
                        </li>
                    </ul>
                    <div class="rating starsOnNewline">
                        <ul class="stars">
                            <li class="star-true">
                            </li>
                            <li class="star-true">
                            </li>
                            <li class="star-true">
                            </li>
                            <li class="star-false">
                            </li>
                            <li class="star-false">
                            </li>
                        </ul>
                        <div class="rating__reviews">
                            <a href="#" class="reviews-pr">Отзывы: 679</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="wideProductCard">
                <div class="wideProductCardTop">
                    <div class="wideProductCardImg">
                        <img src="/res/img/product1.png" alt="Изображение товара">
                    </div>
                    <div class="wideProductCardTitle">
                        <h4><a href="#" class="link-name-cat">Бумага офисная Mondi Color Copy А3 250 г/м2 класс A+ 125 листов Белая (9003974443782)</a></h4>
                        <p><a href="#" class="cat-l">КЛЕЙ</a></p>
                        <ul class="prices-block-list">
                            <li class="old-pr">8,50 руб </li>
                            <li class="new-pr">
                                6,50 руб
                            </li>
                            <li>
                                <div class="bon-pr">
                                    <img src="/res/img/i.png">
                                    <a href="#" class="bonuses">+11 бонусов</a>
                                    <div class="hint">
                                        <span class="glyphicon glyphicon-triangle-top hint-arrow"></span>
                                        <h5>Цена зависит от<br>количества!</h5>
                                        <div>
                                            <p>от 1 ед. :</p>
                                            <p>6,50 руб</p>
                                            <p>от 20 ед. :</p>
                                            <p>6,42 руб</p>
                                            <p>от 30 ед. :</p>
                                            <p>6,05 руб</p>
                                            <p>т 60 ед. :</p>
                                            <p>5,80 руб</p>
                                            <p>от 120 ед. :</p>
                                            <p>5,50 руб</p>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="wideProductCardBottom">
                    <ul class="list-bt">
                        <li>
                            <a href="#" class="btn c-button btn-to-cart" title="В корзину">
                                <div class="c-ripple js-ripple">
                                    <span class="c-ripple__circle"></span>
                                </div>
                                <img src="/res/img/cart-icon.png" alt="Cart">
                            </a>
                        </li>
                        <li>
                            <a href="#" class="btn c-button btn-bookmark bnt-ic" title="Добавить в закладки">
                                <div class="c-ripple js-ripple">
                                    <span class="c-ripple__circle"></span>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="btn c-button btn-compare bnt-ic" title="Сравнить">
                                <div class="c-ripple js-ripple">
                                    <span class="c-ripple__circle"></span>
                                </div>
                            </a>
                        </li>
                    </ul>
                    <div class="rating starsOnNewline">
                        <ul class="stars">
                            <li class="star-true">
                            </li>
                            <li class="star-true">
                            </li>
                            <li class="star-true">
                            </li>
                            <li class="star-false">
                            </li>
                            <li class="star-false">
                            </li>
                        </ul>
                        <div class="rating__reviews">
                            <a href="#" class="reviews-pr">Отзывы: 679</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>