<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd">

    <import resource="classpath*:spring-dao.xml" />

    <!--MAIL-->
    <import resource="spring-mail.xml" />

    <!--PASSWORD ENCRYPTOR-->
    <bean id="bcp" class="org.springframework.security.crypto.bcrypt.BCryptPasswordEncoder">
        <constructor-arg value="20" />
    </bean>

    <!--BEANS-->
    <bean id="catalogBean" class="com.kushnir.paperki.service.CatalogBeanImpl" />
    <bean id="componentBean" class="com.kushnir.paperki.service.ComponentBeanImpl" />
    <bean id="menuBean" class="com.kushnir.paperki.service.MenuBeanImpl" />
    <bean id="userService" class="com.kushnir.paperki.service.UserServiceImpl" />

</beans>