<!DOCTYPE html>
<html lang="ru" class="no-js" xmlns:th="http://www.thymeleaf.org">
    <head th:include="fragments/head :: head" />
    <body>
        <!-- SVG Sprite for ripple effect-->
        <div style="height: 0; width: 0; position: absolute; visibility: hidden;" aria-hidden="true">
            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                <symbol id="ripply-scott" viewbox="0 0 100 100">
                    <circle id="ripple-shape" cx="1" cy="1" r="1" />
                </symbol>
            </svg>
        </div>
        <header     th:include="fragments/header :: header" />
        <main       th:include="${templatePathName} :: __${fragmentName}__" />
        <footer     th:include="fragments/footer :: footer" />
        <!--scroll to top-->
        <div class="scroll-page-nav">
            <button class="c-button nav_up" type="button">
                <div class="c-ripple js-ripple">
                    <span class="c-ripple__circle"></span>
                </div>
            </button>
            <button class="c-button nav_down" type="button">
                <div class="c-ripple js-ripple">
                    <span class="c-ripple__circle"></span>
                </div>
            </button>
        </div>
        <section    th:include="fragments/popups :: popups" />
        <section    th:include="fragments/scripts :: scripts" />
    </body>
</html>