<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!--MAIL-->
    <import resource="spring-mail.xml" />

    <!--DAO-->
    <import resource="spring-dao.xml" />

    <!--BEANS-->
    <bean id="catalogBean" class="com.kushnir.paperki.service.CatalogBeanImpl" />
    <bean id="productBean" class="com.kushnir.paperki.service.ProductBeanImpl" />

</beans>