<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:task="http://www.springframework.org/schema/task"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
       http://www.springframework.org/schema/task
       http://www.springframework.org/schema/task/spring-task-4.0.xsd">

    <task:scheduler id="paperkiScheduler"/>

    <bean id="updaterCSV" class="com.kushnir.paperki.admin.schedules.UpdaterCSV" />

    <task:scheduled-tasks scheduler="paperkiScheduler">
        <task:scheduled ref="updaterCSV" method="catalogUpdate"     cron="${cron.update.catalog}" />
        <task:scheduled ref="updaterCSV" method="brandsUpdate"      cron="${cron.update.brands}" />
        <task:scheduled ref="updaterCSV" method="productUpdate"     cron="${cron.update.products}" />
        <task:scheduled ref="updaterCSV" method="pricesUpdate"      cron="${cron.update.prices}" />
        <task:scheduled ref="updaterCSV" method="customersUpdate"   cron="${cron.update.customers}" />
        <task:scheduled ref="updaterCSV" method="discountsUpdate"   cron="${cron.update.discounts}" />
        <task:scheduled ref="updaterCSV" method="stockUpdate"       cron="${cron.update.stock}" />
    </task:scheduled-tasks>

</beans>