<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/mvc
       http://www.springframework.org/schema/mvc/spring-mvc.xsd">

    <!-- STATIC RESOURCES -->
    <!--<mvc:resources mapping="/res/**" location="/WEB-INF/view/resources/" />-->
    <mvc:resources mapping="/res/**" location="file:/papsource/WEBAPPS-SHOP/paperki-shop/src/main/webapp/WEB-INF/view/resources/" />
    <mvc:resources mapping="/catimagesold/**" location="file:/home/paperki.by/www/images/catalog/" />

    <!--<bean id="templateResolver"
          class="org.thymeleaf.templateresolver.ServletContextTemplateResolver">
        <constructor-arg ref="servletContext"/>
        <property name="prefix" value="${webapp.viewResurcePath}templates/"/>
        <property name="suffix" value=".html"/>
        <property name="characterEncoding" value="UTF-8" />
        <property name="templateMode" value="HTML5"/>
        <property name="cacheable" value="false" />
    </bean>-->

    <bean id="templateResolver"
          class="org.thymeleaf.templateresolver.FileTemplateResolver">
        <property name="prefix" value="/papsource/WEBAPPS-SHOP/paperki-shop/src/main/webapp/WEB-INF/view/templates/"/>
        <property name="suffix" value=".html"/>
        <property name="characterEncoding" value="UTF-8" />
        <property name="templateMode" value="HTML5"/>
        <property name="cacheable" value="false" />
    </bean>

    <bean id="templateEngine"
          class="org.thymeleaf.spring4.SpringTemplateEngine">
        <property name="templateResolver" ref="templateResolver"/>
    </bean>

    <bean class="org.thymeleaf.spring4.view.ThymeleafViewResolver">
        <property name="characterEncoding" value="UTF-8"/>
        <property name="templateEngine" ref="templateEngine"/>
    </bean>

    <bean id="jsonConverter" class="org.springframework.http.converter.json.MappingJackson2HttpMessageConverter">
        <property name="supportedMediaTypes" value="application/json" />
        <property name="prettyPrint" value="true" />
    </bean>

    <!--<bean id="xmlConverter" class="org.springframework.http.converter.xml.MappingJackson2XmlHttpMessageConverter" >
        <property name="supportedMediaTypes" value="application/xml" />
        <property name="prettyPrint" value="true" />
    </bean>-->

    <bean class="org.springframework.web.servlet.mvc.method.annotation.RequestMappingHandlerAdapter">
        <property name="messageConverters">
            <list>
                <ref bean="jsonConverter"/>
                <!--<ref bean="xmlConverter" />-->
            </list>
        </property>
    </bean>

</beans>