<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd
       http://www.springframework.org/schema/mvc
       http://www.springframework.org/schema/mvc/spring-mvc.xsd">

    <!-- PROPERTIES -->
    <bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="locations">
            <list>
                <value>classpath:CSVconfig.properties</value>
                <value>classpath:paperkiMySQLremote.properties</value>
                <value>classpath:sqlQueries.properties</value>
                <value>classpath:paperki.properties</value>
                <value>classpath:paperki.scheduler.properties</value>
            </list>
        </property>
    </bean>

    <mvc:annotation-driven/>

    <!-- SERVICE LAYER -->
    <import resource="classpath*:spring-service.xml"/>

    <context:component-scan base-package="com.kushnir.paperki.webapp.*"/>

    <!-- STATIC RESOURCES -->
    <mvc:resources mapping="/res/**" location="/WEB-INF/view/resources/" />

    <bean id="templateResolver"
          class="org.thymeleaf.templateresolver.ServletContextTemplateResolver">
        <constructor-arg ref="servletContext"/>
        <property name="prefix" value="${webapp.viewResurcePath}/templates/"/>
        <property name="suffix" value=".html"/>
        <property name="characterEncoding" value="UTF-8" />
        <property name="templateMode" value="HTML5"/>
    </bean>

    <bean id="templateEngine"
          class="org.thymeleaf.spring4.SpringTemplateEngine">
        <property name="templateResolver" ref="templateResolver"/>
    </bean>

    <bean class="org.thymeleaf.spring4.view.ThymeleafViewResolver">
        <property name="characterEncoding" value="UTF-8"/>
        <property name="templateEngine" ref="templateEngine"/>
    </bean>


    <bean class="org.springframework.web.servlet.mvc.method.annotation.RequestMappingHandlerAdapter">
        <property name="messageConverters">
            <list>
                <ref bean="jsonConverter"/>
            </list>
        </property>
    </bean>

    <bean id="jsonConverter" class="org.springframework.http.converter.json.MappingJackson2HttpMessageConverter">
        <property name="supportedMediaTypes" value="application/json" />
        <property name="prettyPrint" value="true" />
    </bean>

    <!-- SPRING SECURITY -->
    <!--<import resource="spring-web-security-config.xml"/>-->
    <!-- SCHEDULER -->
    <import resource="spring-schedule.xml" />

</beans>