<main id="wrapp" th:fragment="article" xmlns:th="http://www.thymeleaf.org">
    <div class="wrapper">
        <ul class="breadCrumbs">
            <li><a href="/">Главная</a></li>
            <li><a href="/contacts">Контакты</a></li>
            <li>СЕТЬ РОЗНИЧНЫХ МАГАЗИНОВ «КАНЦЕЛЯРСКИЕ ШТУЧКИ» В БРЕСТЕ </li>
        </ul>
	<style>
	div.maxim {
width:100%;
}
div.left_block {
float:left;
width:45%;
}
div.right_block {
float:right;
width:45%;
}
	</style>
        <section class="typicalSection">
			<h1>СЕТЬ РОЗНИЧНЫХ МАГАЗИНОВ «КАНЦЕЛЯРСКИЕ ШТУЧКИ» В БРЕСТЕ </h1>
			<div class="maxim">
				<div class="left_block">
					<img src="/res/img/store-pict1.png" alt="Брест, ул. Карбышева, 37(торговая площадь 100 кв.м.)">
				</div>
            
				<div class="right_block">
					<img src="/res/img/store-pict2.png" alt="Брест, ул. Московская, 332(торговая площадь 100 кв.м.)">
				</div>
			</div>
			<p>Площади магазинов и опыт работы с канцелярскими товарами позволяют иметь ассортимент, способный удовлетворить запросы как корпоративных клиентов, так и физических лиц. Большой выбор канцтоваров для школьников и детского творчества. Приобрести товары можно за наличный и безналичный расчет. При необходимости можно заказать доставку в любую точку города Бреста.</p>

				<p>Для постоянных розничных клиентов мы предоставляем дисконтные карты, которые позволят вам стать участником программы бонусов и скидок. Вы также можете приобрести подарочные сертификаты себе или своим близким.</p>
			
        </section>
    </div>
</main>
