<main id="wrapp" th:fragment="blog" xmlns:th="http://www.thymeleaf.org">
    <div class="wrapper">
        <ul class="breadCrumbs">
            <li><a href="/">Главная</a></li>
            <li>Новости</li>
        </ul>
        <div class="blogParent">
            <section class="blogHolder">
                <div class="blogHolderRow clearfix">
					
				<div class="blogPreviewWrapper">
                       <div class="blogPreviewHolder blogPreviewHolderHeight">
                            <div class="blogPreviewTop">
                                <img src="/res/img/articles/New.jpg">
                                <h3><a href="/blog/new_product">Новинка! Папки из синтетического фетра</a></h3>
                                <p class="blogPreviewPostIfo">
                                    <a href="#" class="postDate">2018-05-10</a>
                                </p>
                            </div>
                            <div class="blogPreviewBottom">
                                <p>
                                  Папки из фетра - это оригинальный дизайн, гармония цвета, а также экологически чистый материал.
                                </p>
                                <a href="/blog/new_product" class="blogPreviewMoreDetails">
                                    <img src="/res/img/catalog-navigation-all-icon-hover.png">
                                    <span> подробнее</span>
                                </a>
                            </div>
                        </div>
                    </div>

					<div class="blogPreviewWrapper">
                        <div class="blogPreviewHolder blogPreviewHolderHeight">
                            <div class="blogPreviewTop">
                                <img src="/res/img/articles/izmeneniya_mini.jpg">
                                <h3><a href="/blog/izmeneniya">Уважаемые клиенты!</a></h3>
                                <p class="blogPreviewPostIfo">
                                    <a href="#" class="postDate">2018-04-11</a>
                                </p>
                            </div>
                            <div class="blogPreviewBottom">
                                <p>
                                  Изменения в режиме работы офиса и склада ООО «Паперки»: 
                                </p>
                                <a href="/blog/izmeneniya" class="blogPreviewMoreDetails">
                                    <img src="/res/img/catalog-navigation-all-icon-hover.png">
                                    <span> подробнее</span>
                                </a>
                            </div>
                        </div>
                    </div>

					<div class="blogPreviewWrapper">
                        <div class="blogPreviewHolder blogPreviewHolderHeight">
                            <div class="blogPreviewTop">
                                <img src="/res/img/articles/easter.jpg">
                                <h3><a href="/blog/easter">Дорогие коллеги и партнеры!</a></h3>
                                <p class="blogPreviewPostIfo">
                                    <a href="#" class="postDate">2018-04-06</a>
                                </p>
                            </div>
                            <div class="blogPreviewBottom">
                                <p>
                                  Коллектив ООО «Паперки» поздравляет Вас со светлым праздником Пасхи.
                                </p>
                                <a href="/blog/8marta" class="blogPreviewMoreDetails">
                                    <img src="/res/img/catalog-navigation-all-icon-hover.png">
                                    <span> подробнее</span>
                                </a>
                            </div>
                        </div>
                    </div>
					<!--=======================   Новость на 8 марта   ==============================================-->

					<div class="blogPreviewWrapper">
                        <div class="blogPreviewHolder blogPreviewHolderHeight">
                            <div class="blogPreviewTop">
                                <img src="/res/img/articles/8-mart.jpg">
                                <h3><a href="/blog/8marta">Уважаемые партнеры, коллеги, друзья!</a></h3>
                                <p class="blogPreviewPostIfo">
                                    <a href="#" class="postDate">2018-03-06</a>
                                </p>
                            </div>
                            <div class="blogPreviewBottom">
                                <p>
                                  Сердечно поздравлдяем всех женщин с весенним праздником 8 марта!
                                </p>
                                <a href="/blog/8marta" class="blogPreviewMoreDetails">
                                    <img src="/res/img/catalog-navigation-all-icon-hover.png">
                                    <span> подробнее</span>
                                </a>
                            </div>
                        </div>
                    </div>

					<!--==========================    Конец новости на 8 марта     ===================================-->

					<div class="blogPreviewWrapper">
                        <div class="blogPreviewHolder blogPreviewHolderHeight">
                            <div class="blogPreviewTop">
                                <img src="/res/img/articles/23f_mini.jpg">
                                <h3><a href="/blog/23fevralia">Уважаемые партнеры, коллеги, друзья!</a></h3>
                                <p class="blogPreviewPostIfo">
                                    <a href="#" class="postDate">2018-02-21</a>
                                </p>
                            </div>
                            <div class="blogPreviewBottom">
                                <p>
                                  Примите самые искренние поздравления с Днем защитника Отечества. Желаем вам мирного неба, больших достижений, множества возможностей, побед на всех фронтах.
                                </p>
                                <a href="/blog/23fevralia" class="blogPreviewMoreDetails">
                                    <img src="/res/img/catalog-navigation-all-icon-hover.png">
                                    <span> подробнее</span>
                                </a>
                            </div>
                        </div>
                    </div>

					<div class="blogPreviewWrapper">
                        <div class="blogPreviewHolder blogPreviewHolderHeight">
                            <div class="blogPreviewTop">
                                <img src="/res/img/articles/mini_termokrugka.jpg">
                                <h3><a href="/blog/novim-klientam">Подарки для новых клиентов</a></h3>
                                <p class="blogPreviewPostIfo">
                                    <a href="#" class="postDate">2018-02-16</a>
                                </p>
                            </div>
                            <div class="blogPreviewBottom">
                                <p>
                                    На улице еще зима и морозы, а мы дарим тепло и согреваем заботой наших клиентов. Каждый новый клиент, оформивший заказ на сумму от 110 руб. с НДС, получает фирменную термокружку в ПОДАРОК!
                                </p>
                                <a href="/blog/novim-klientam" class="blogPreviewMoreDetails">
                                    <img src="/res/img/catalog-navigation-all-icon-hover.png">
                                    <span> подробнее</span>
                                </a>
                            </div>
                        </div>
                    </div>

					<div class="blogPreviewWrapper">
                        <div class="blogPreviewHolder blogPreviewHolderHeight">
                            <div class="blogPreviewTop">
                                <img src="/res/img/articles/dizpap.jpg">
                                <h3><a href="/blog/design-paper">Дизайнерская бумага и картон</a></h3>
                                <p class="blogPreviewPostIfo">
                                    <a href="#" class="postDate">2018-01-17</a>
                                </p>
                            </div>
                            <div class="blogPreviewBottom">
                                <p>
                                    Мы рады сообщить, что в нашем розничном магазине "Канцелярские штучки" появилась в продаже дизайнерская бумага и картон от крупнейшего поставщика ТМ «Берег». Огромный выбор, разнообразие фактур а также богатая палитра цветов! Подойдет для печати визиток, открыток, пригласительных, а также для таких хобби как скрапбукинг и кардмейкинг.
                                </p>
                                <a href="/blog/design-paper" class="blogPreviewMoreDetails">
                                    <img src="/res/img/catalog-navigation-all-icon-hover.png">
                                    <span> подробнее</span>
                                </a>
                            </div>
                        </div>
                    </div>

					<div class="blogPreviewWrapper">
                        <div class="blogPreviewHolder blogPreviewHolderHeight">
                            <div class="blogPreviewTop">
                                <img src="/res/img/articles/mini-podarki.jpg">
                                <h3><a href="/blog/podarok">Подарок при заказе с сайта</a></h3>
                                <p class="blogPreviewPostIfo">
                                    <a href="#" class="postDate">2018-01-15</a>
                                </p>
                            </div>
                            <div class="blogPreviewBottom">
                                <p>
                                    Делайте заказы с сайта и получайте приятные подарки! Каждый клиент, оформивший заказ на сайте paperki.by на сумму от 100 руб. с НДС, получает ежедневник в ПОДАРОК.
                                </p>
                                <a href="/blog/podarok" class="blogPreviewMoreDetails">
                                    <img src="/res/img/catalog-navigation-all-icon-hover.png">
                                    <span> подробнее</span>
                                </a>
                            </div>
                        </div>
                    </div>

					<div class="blogPreviewWrapper">
                        <div class="blogPreviewHolder blogPreviewHolderHeight">
                            <div class="blogPreviewTop">
                                <img src="/res/img/articles/2018.jpg">
                                <h3><a href="/blog/changes">Режим работы на новогодние праздники</a></h3>
                                <p class="blogPreviewPostIfo">
                                    <a href="#" class="postDate">2017-12-29</a>
                                </p>
                            </div>
                            <div class="blogPreviewBottom">
                                <p>
                                    Уважаемые клиенты! Изменения в режиме работы офиса и склада ООО «Паперки»: 1.01.2018 г. – выходной, (в соответствии с П. 3 Указа от 26.03.1998 N 157 "О государственных праздниках, праздничных днях и памятных датах в Республике Беларусь").
                                </p>
                                <a href="/blog/changes" class="blogPreviewMoreDetails">
                                    <img src="/res/img/catalog-navigation-all-icon-hover.png">
                                    <span> подробнее</span>
                                </a>
                            </div>
                        </div>
                    </div>

					<div class="blogPreviewWrapper">
                        <div class="blogPreviewHolder blogPreviewHolderHeight">
                            <div class="blogPreviewTop">
                                <img src="/res/img/articles/kalilaska-s.jpg">
                                <h3><a href="/blog/teaKaliLaska">Ароматный и полезный чай Kali Laska</a></h3>
                                <p class="blogPreviewPostIfo">
                                    <a href="#" class="postDate">2017-10-26</a>
                                </p>
                            </div>
                            <div class="blogPreviewBottom">
                                <p>
                                    Чаи Kali Laska производятся исключительно из натуральных ингредиентов без добавления красителей, ароматизаторов, масел и т.п. Только чай и только травы. При разработке рецептур чаев учитывались не только полезные для здоровья свойства лечебных трав, но и вкус и аромат, которые они способны придать этому напитку.
                                </p>
                                <a href="/blog/teaKaliLaska" class="blogPreviewMoreDetails">
                                    <img src="/res/img/catalog-navigation-all-icon-hover.png">
                                    <span> подробнее</span>
                                </a>
                            </div>
                        </div>
                    </div>

                    <div class="blogPreviewWrapper">
                        <div class="blogPreviewHolder blogPreviewHolderHeight">
                            <div class="blogPreviewTop">
                                <img src="/res/img/articles/rukzak.jpg">
                                <h3><a href="/blog/backpack">Покупай бумагу, получай рюкзак в подарок</a></h3>
                                <p class="blogPreviewPostIfo">
                                    <a href="#" class="postDate">2017-10-26</a>
                                </p>
                            </div>
                            <div class="blogPreviewBottom">
                                <p>
                                    При единовременном заказе от 60 пачек Xerox Performer или Xerox Office + от 5 пачек Xerox Марафон Премьер – стильный РЮКЗАК в подарок
                                </p>
                                <a href="/blog/backpack" class="blogPreviewMoreDetails">
                                    <img src="/res/img/catalog-navigation-all-icon-hover.png">
                                    <span> подробнее</span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="blogPreviewWrapper">
                        <div class="blogPreviewHolder blogPreviewHolderHeight">
                            <div class="blogPreviewTop">
                                <img src="/res/img/articles/shivatel.jpg">
                                <h3><a href="/blog/binding">Подшивай документы без усилий с апс 168а</a></h3>
                                <p class="blogPreviewPostIfo">
                                    <a href="#" class="postDate">2017-10-24</a>
                                </p>
                            </div>
                            <div class="blogPreviewBottom">
                                <p>
                                    Переплетная архивная система АПС 168А - это уникальный настольный станок, предназначенный для того, чтобы без усилий подшивать бухгалтерские, архивные и любые другие документы.
                                </p>
                                <a href="/blog/binding" class="blogPreviewMoreDetails">
                                    <img src="/res/img/catalog-navigation-all-icon-hover.png">
                                    <span> подробнее</span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="blogPreviewWrapper">
                        <div class="blogPreviewHolder blogPreviewHolderHeight">
                            <div class="blogPreviewTop">
                                <img src="/res/img/articles/doski.jpg">
                                <h3><a href="/blog/boards">Доски naga – стильный аксессуар для работы и интерьера</a></h3>
                                <p class="blogPreviewPostIfo">
                                    <a href="#" class="postDate">2017-10-24</a>
                                </p>
                            </div>
                            <div class="blogPreviewBottom">
                                <p>
                                    Стеклянные доски NAGA – это идеальный вариант магнитных досок, которые предназначены для выполнения различных задач.Несомненно их можно назвать оптимальным решением вопросов своевременного донесения кратковременной, но важной информации до сотрудников разных отраслей промышленности, современного бизнеса и образования.
                                </p>
                                <a href="/blog/boards" class="blogPreviewMoreDetails">
                                    <img src="/res/img/catalog-navigation-all-icon-hover.png">
                                    <span> подробнее</span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="blogPreviewWrapper">
                        <div class="blogPreviewHolder blogPreviewHolderHeight">
                            <div class="blogPreviewTop">
                                <img src="/res/img/articles/mocnamini.png">
                                <h3><a href="/blog/cardmocna">МОЦНАЯ КАРТКА</a></h3>
                                <p class="blogPreviewPostIfo">
                                    <a href="#" class="postDate">2018-01-26</a>
                                </p>
                            </div>
                            <div class="blogPreviewBottom">
                                <p>
									В сети розничных магазинов "Канцелярские штучки" стартовала программа лояльности "Моцная картка". При расчёте пластиковой картой с логотипом "Моцная картка" на весь товар* предоставляется скидка 5%!
                                </p>
                                <a href="/blog/cardmocna" class="blogPreviewMoreDetails">
                                    <img src="/res/img/catalog-navigation-all-icon-hover.png">
                                    <span> подробнее</span>
                                </a>
                            </div>
                        </div>
                    </div>






                </div>

            </section>

        </div>

    </div>
</main>
