<div id="edit-address-popup" class="edit-address-popup popup-content mfp-hide"
        th:fragment="edit-address-popup" xmlns:th="http://www.thymeleaf.org">
    <div class="popup-head">
        <h4>Редактирование адреса</h4>
    </div>
    <form id="address-edit-form">
        <div class="form-field">
            <div class="small-form-field">
                <span class="input input--ichiro form-field">
                    <input class="input__field input__field--ichiro" 
                        id="input-edit-address-index" type="text">
                    <label class="input__label input__label--ichiro" 
                        for="input-edit-address-index">
                        <span class="input__label-content input__label-content--ichiro"
                            id="label-edit-address-index">Индекс</span>
                    </label>
                </span>                              
            </div>
        </div>
        <span class="input input--ichiro form-field">
            <input class="input__field input__field--ichiro"
                id="input-edit-address-city" type="text">
            <label class="input__label input__label--ichiro" 
                for="input-edit-address-city">
                <span class="input__label-content input__label-content--ichiro" 
                    id="label-edit-address-city">Город *</span>
            </label>
        </span>
        <span class="input input--ichiro form-field">
            <input class="input__field input__field--ichiro" 
                id="input-edit-address-street" type="text">
            <label class="input__label input__label--ichiro" 
                for="input-edit-address-street">
                <span class="input__label-content input__label-content--ichiro" 
                    id="label-edit-address-street">Улица *</span>
            </label>
        </span>
        <div class="form-field">
            <div class="small-form-field">
                <span class="input input--ichiro form-field">
                    <input class="input__field input__field--ichiro" 
                        id="input-edit-address-house" type="text">
                    <label class="input__label input__label--ichiro" 
                        for="input-edit-address-house">
                        <span class="input__label-content input__label-content--ichiro"
                            id="label-edit-address-house">Номер дома *</span>
                    </label>
                </span>                              
            </div>
            <div class="small-form-field">
                <span class="input input--ichiro form-field">
                    <input class="input__field input__field--ichiro" 
                        id="input-edit-address-house-part" type="text">
                    <label class="input__label input__label--ichiro" 
                        for="input-edit-address-house-part">
                        <span class="input__label-content input__label-content--ichiro"
                            id="label-edit-address-house-part">Корпус</span>
                    </label>
                </span>
            </div>
            <div class="small-form-field">
                <span class="input input--ichiro form-field">
                    <input class="input__field input__field--ichiro" 
                        id="input-edit-address-house-office" type="text">
                    <label class="input__label input__label--ichiro" 
                        for="input-edit-address-house-office">
                        <span class="input__label-content input__label-content--ichiro"
                            id="label-edit-address-house-office">Квартира/Офис</span>
                    </label>
                </span> 
            </div>
        </div>
        <div class="form-field">
                <span class="input input--ichiro form-field">
                    <textarea class="input__field input__field--ichiro"
                        id="input-edit-address-description"></textarea>
                    <label class="input__label input__label--ichiro" 
                        for="input-edit-address-description">
                        <span class="input__label-content input__label-content--ichiro"
                            id="label-edit-address-description">Комментарий</span>
                    </label>
                </span>
            </div>
            <input type="hidden" id="input-edit-address-owner">
            <input type="hidden" id="input-edit-address-type">
            <input type="hidden" id="input-edit-address-id">

            <div class="popup-footer">
                <button class="btn c-button btn-sign btn-reg" type="subscribe" onclick="UpdateAddress()" >
                    <div class="c-ripple js-ripple">
                        <span class="c-ripple__circle"></span>
                    </div>
                    Сохранить
                </button>
            </div>
        </form>
        <button title="Close (Esc)" type="button" class="mfp-close" style="display: initial;" onclick="ResetForm(this)">×</button>
    </div>